[2017-05-13 21:06] Gymnasiast commented on #5471
1) You have your game set to US English. Bumper Cars is correct for US English. The reason Merry-Go-Round is called Carousel in the build window is actually related to point 2, as odd as that may sound.
2) It appears to fall back on the track name. Carousel, Food Stall and Drink Stall are all names that you don't normally see outside of the Scenario Editor.
3) Most likely a result of 6472c0e (poin

[2017-05-13 21:49] coasterninja opened #5473 "Game Crashes When Keyboard Used for Naming/Unresponsive to Shortcuts"
**OS:** macOS Sierra 10.12.2
**Version:** v0.0.8-HEAD build 89972d4
**Commit/Build:** 2197/db8b03e

OpenRCT2 will open with one of three screens: The regular screen, the regular screen with console activated, and only the background with no playing options. When able to go to a game, no keyboard shortcuts (ENTER to rotate, C to chat, all of them!) will be functional. Attempting to enter text in a

[2017-05-13 22:51] SidaRadis commented on #5471
How to reproduce point 3:
1. Open the Crazy Castle scenario
2. Build a Ferris Wheel and it will be named Ferris Wheel 2
3. Open the build menu for another non-tracked ride
4. Close the build menu without building anything
5. Open another build menu for a new Ferris Wheel and it will be named Ferris Wheel 1

Note: If you buy another Ferris Wheel immediately after the first one it will be named Ferr

[2017-05-14 13:05] xp4xbox opened #5474 "Feature: Toggle All Option For Rides Cheats Menu"
This would be a very useful feature for especially me, because whenever I create hacked rides, i need most cheat options enabled, and it is annoying to have to re-enable them every time I want to work on a custom ride.

![ne workbench 2017 by louis 2017-05-14 09-02-13](https://cloud.githubusercontent.com/assets/24964930/26034042/64a04290-3884-11e7-8c5a-76a4ac30bef6.png)

[2017-05-14 21:48] rwjuk commented on #5471
Thanks - looking into point 3.

[2017-05-14 21:54] rwjuk commented on #5473
Do these issues occur in the latest build from the develop branch (i.e. what you'd get from the launcher or if you followed the instructions in the readme)? The commit hash you referenced (89972d4) seems to be from a pull request branch.

[2017-05-14 22:11] rwjuk commented on #5470
Whoops - this one's my fault. Introduced while fixing #4748!

[2017-05-14 22:45] #5470 closed

[2017-05-16 14:39] Gymnasiast opened #5481 "Name sub_69101A and reverse the logic"
It returns true if the peep should _not_ look at a ride. That is counter-intuitive

[2017-05-16 18:11] telk5093 opened #5484 "Date format shown in the research window must be follow the config"
**OS:** Windows 10
**Version:** 0.0.8
**Commit/Build:** d5f1e22

I think the date shown on the research window should be followed by the date format configuration.

![image](https://cloud.githubusercontent.com/assets/10726524/26121075/046866ec-3aae-11e7-94ea-0d5c5ba2776f.png)
For example, in Korean. The **Expected** date must be "7월 18일"(18th July), not 18일 7월.

- [ ] Reproducible in RCT2 (vanilla

[2017-05-16 18:22] jamtraks opened #5485 "Small scenery Object Titles List blanking out at, and after: "RIDE-Chute drop-1 of 2""
windows vista 32-bit
0.0.8
e725672

when selecting "object selection" in the gears menu, then pressing the "advanced" tab, next to the "filter" tab, then going into "small scenery" group (which seems to be the longest list of object files to choose from), the names of the objects are disappearing at or near object: RIDE-Chute drop-1 of 2. All objects alphabetically after "RIDE-Chute drop-1 of 2"

[2017-05-16 19:35] Gymnasiast commented on #5485
It would help a lot of you could post a screenshot.

[2017-05-16 19:56] #5471 closed

[2017-05-16 19:59] duncanspumpkin commented on #4709
I am able to reproduce this in OpenGL. Its a very odd bug. It seems to be related to the fact that escape hatch track has path .dat's that are not available for this park.

[2017-05-16 20:36] #5481 closed

[2017-05-17 05:51] Gymnasiast commented on #5485
Looking at your description it looks like you have the problem reported in https://github.com/OpenRCT2/OpenRCT2/issues/592.

[2017-05-17 06:08] andrewcsmith opened #5487 "Crash on deleting text in Shop Name window"
**OS:** OSX
**Version:** 10.11.6
**Commit/Build:** baf9493

Game crashes when deleting text from the shop title window.

- [ ] Reproducible in RCT2 (vanilla)? (n/a, don't have windows)
- [ ] Multiplayer?

**Steps to reproduce:**
1. Open shop window dialog
2. Press "backspace"

**Dump file**
[dump.txt.zip](https://github.com/OpenRCT2/OpenRCT2/files/1006701/dump.txt.zip)

**Save game:**

[autosave_2

[2017-05-17 07:04] janisozaur commented on #5487
[code]

@andrewcsmith why are you using baf9493 and not `develop`?

[2017-05-17 11:55] Broxzier commented on #5473
Did you accidentally press 't' by any chance?

[2017-05-17 13:45] rwjuk commented on #5487
Fixed in 202b069

[2017-05-17 13:45] #5487 closed

[2017-05-17 13:48] rwjuk commented on #5473
The crash on using a textbox has been fixed as of 202b069. Looking into the other issues now.

[2017-05-17 14:21] IntelOrca commented on #5473
@rwjuk thanks

[2017-05-17 15:39] rwjuk commented on #5473
General keyboard input issues fixed as of c155d0e.

[2017-05-17 15:39] #5473 closed

[2017-05-17 15:47] Gymnasiast commented on #5485
I'm 99% sure this is a duplicate of #592.
You can follow the status of this bug there.

[2017-05-17 15:47] #5485 closed

[2017-05-17 15:56] IntelOrca commented on #592
It would be a large change, but you can probably change all the scroll offsets in the window struct and event handlers to 32-bit integers now.

[2017-05-17 16:02] Gymnasiast commented on #592
That would certainly be a solution.
However, splitting the list into pages does have the advantage of being easier to handle by the user.

[2017-05-17 16:57] marijnvdwerf commented on #592
I've never seen a scrollable list split into pages, except for RCT2 and Gmail. So I'm not sure about the 'being easier to handle by the user'.

[2017-05-17 17:17] Gymnasiast commented on #592
So you think a list of several kilometres is easier to handle than one split into pages? To me, that makes no sense.

[2017-05-17 17:26] IntelOrca opened #5489 "Sprite index crash for car view on car ride"
**OS:** Windows 10
**Version:** 0.0.8
**Commit/Build:** bfa03583fabe4968bc37e8477649da24af1fd95f

**Steps to reproduce:**
1. Open Grand Prix ride window.
2. Select Car 1 view.

**Screenshots / Video:**
![image](https://cloud.githubusercontent.com/assets/1482259/26167184/01c2810e-3b2e-11e7-8146-1f638e5a57ea.png)

**Save game:**
[bpb.sv6.txt](https://github.com/OpenRCT2/OpenRCT2/files/1008571/bpb.sv

[2017-05-17 17:29] rwjuk commented on #5489
Can reproduce this by simply loading the regular Blackpool Pleasure Beach SC4. That's a suspiciously large number... something weird going on!

[2017-05-17 17:31] IntelOrca commented on #5489
Not sure if you are being sarcastic or not. `0xFFFFFFFF` or `-1` - either the importer needs checking or we need to guard against this.

[2017-05-17 17:33] rwjuk commented on #5489
@IntelOrca Oh I recognised it and assumed that a stray `-1` value had gotten in somehow. I'll have a look in a bit.

[2017-05-17 20:42] marijnvdwerf commented on #592
Splitting it up in pages doesn't serve any purpose, as the position of the items isn't fixed. It sounds like the search system needs to be improved upon.

[2017-05-17 21:01] Gymnasiast commented on #5474
We plan to save cheats in saved games when we switch to our own format. That would be the preferred solution to this problem IMO.

[2017-05-18 05:54] AnnaSaysHi opened #5493 "Downloading map data from a multiplayer server crashes OpenRCT2"
**OS:** [Mac OS Sierra (10.12)]
**Version:** [0.0.8]
**Commit/Build:** [09f0425]

I'm running OpenRCT2 v0.0.8 head build 09f0425 on Mac, and whenever I finish downloading a map from a server, the program crashes instantaneously. This is 100% consistent for me and has applied to every server I tried to connect to. I'm not sure if this problem is due to my hardware or is exclusive to me.
My network

[2017-05-18 06:46] janisozaur commented on #5493
@AnnaSaysHi the system should open [a dialog box](https://i.stack.imgur.com/lwLOs.png) with some information about the crash. Can you provide this info?

[2017-05-18 11:42] Gymnasiast commented on #1417
I have worked on this, but it has turned to be harder than just removing the checks. If I save a flat ride, it is for some reason elevated by 5 or 6 units.

[2017-05-18 17:56] Broxzier commented on #5148
Related to (possibly duplicate of) #4591

[2017-05-18 18:30] AnnaSaysHi commented on #5493
Here's the majority of what was in the dialog box. Unsure how to use hide tags on github so sorry for the wall of text.

Process:               OpenRCT2 [606]
Path:                  /private/var/folders/*/OpenRCT2-2.app/Contents/MacOS/OpenRCT2
Identifier:            website.openrct2.OpenRCT2
Version:               0.0.8 (09f0425)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1

[2017-05-18 19:02] Broxzier commented on #5261
It does not crash anymore, but the moment one gets deleted, all copies will disappear, and the moment you build a new one, they reappear with the style of the new banner. Shall we leave it as is, or make the delete function smarter (e.g. by checking if any map elements refer to the banner index)?

[2017-05-18 19:10] IntelOrca commented on #5261
It should copy the element and give it a new string ID.

[2017-05-18 22:52] Patrik356b commented on #592
@Gymnasiast
He's probably using imperial thus this :)

I like the idea of splitting the items, possibly the most flooded letters (or group of letters) gets their own pages, i.e: A-G, H, I-Z when you have lots of objects called something that begins with H.

[2017-05-19 05:26] harrysbird commented on #5474
I Love to have Save Cheats Feature but it's Requires New Save Format for that's

[2017-05-20 00:24] rwjuk commented on #5493
It doesn't crash for me on macOS 10.12. What network card are you using? (Go to the Apple menu > About this Mac > System Report, then select e.g. Ethernet Cards on the left)

[2017-05-20 04:14] AnnaSaysHi commented on #5493
It says it doesn't appear to have any ethernet cards installed. I went into the wi-fi option in system report and got this:

Interfaces:
en0:
  Card Type:	AirPort Extreme  (0x14E4, 0x133)
  Firmware Version:	Broadcom BCM43xx 1.0 (7.21.171.10.1a16)
  MAC Address:	XX:XX:XX:XX:XX:XX
  Locale:	FCC
  Country Code:	US
  Supported PHY Modes:	802.11 a/b/g/n/ac
  Supported Channels:	1, 2, 3, 4, 5, 6, 7, 8,

[2017-05-20 13:46] rwjuk commented on #5493
Hmm... that is odd. As a sanity check, can you download a fresh build of OpenRCT2 (e.g. from https://openrct2.org/) and testing with that. Thanks.

[2017-05-20 18:09] AnnaSaysHi commented on #5493
I tested with numerous fresh builds, and all of them had the same behavior.

[2017-05-20 21:41] denosor opened #5496 "Attempting to log into servers results in crash"
Windows 10
0.0.8
bd7bf49

When attempting to connect to multiplayer servers, slightly before being complete downloading map, it comes up with a dialogue 'Failed to create the dump. Please file an issue...' followed by a crash.

- [N] Reproducible in RCT2 (vanilla)?
- [Y] Multiplayer?

**Steps to reproduce:**
1. Connect to server
2. Wait until it comes up with dialogue

**Screenshots / Video:**
htt

[2017-05-20 22:10] IntelOrca commented on #5496
Does it happen with every server?

[2017-05-20 23:22] denosor commented on #5496
So far yes, all servers that are actually playable (the others do not give me permissions) on i cannot connect to. The dump file is here

[2017-05-20 23:50] PFCKrutonium commented on #5496
Upload it to Mega.co.nz or a similar service.

[2017-05-21 03:42] harrysbird opened #5499 "Winter month feature in openrct2"
I love this game but we should add winter month feature so we will have a winter amusement park.

Before: March to October
After: January to December

I would to have this feature.

[2017-05-21 04:13] AnnaSaysHi commented on #5496
From the looks of the video, that crash is identical to the one i've been getting. I'd like to ask where you got your copy of RCT2 from and if you can play scenarios you've downloaded off the internet (scenarios created by yourself should work).

[2017-05-21 08:01] e-foley commented on #5499
How would this affect scenario objectives?

[2017-05-21 10:19] #3681 closed

[2017-05-21 16:27] denosor commented on #5496
Before i tried open rct2, i used a copy from steam however my friends steam share somehow got logged out so i torrented a copy off the internet. Could that be the cause? I might buy one if this is the case. Also my dump file is here: https://mega.nz/#!J7AGRRjA!RO6zopdqHjDfIfV7kvlk0AL0RjI6SKzpHruxKahgQ4Q

[2017-05-21 17:56] jensj12 commented on #5499
The whole codebase is based on years consisting of 8 months. This feature could be implemented by 'scaling' the date shown, but that will make false messages (4 weeks left to fix park rating when you still have 6) and ducks would come and go in different seasons.

Apart from the technical details, how would it make the game better?

[2017-05-21 18:10] IntelOrca commented on #5496
I was unable to find anything helpful after inspecting the dump. Only that it failed somewhere in `Network::UpdateClinet()`:
[code]

[2017-05-21 18:11] IntelOrca commented on #5499
Duplicate of #1634

[2017-05-21 18:14] Gymnasiast commented on #5499
Indeed a duplicate of #1634. The reasons in there still apply as well.

[2017-05-21 18:14] #5499 closed

[2017-05-21 18:22] Gymnasiast commented on #3681
This has now been fixed, but you'll need to delete your objects.idx file in order for it work.

[2017-05-21 19:31] denosor commented on #5496
So what exactly do you think is the issue? is it an issue with connecting to the servers?

[2017-05-21 19:42] IntelOrca commented on #5496
It's hard to tell and we don't have very much logging in place to help diagnose the problem.

Could you try hosting a server and then opening a new instance of OpenRCT2 and connecting to localhost?

[2017-05-21 22:38] AnnaSaysHi commented on #5496
I tried this and could connect to my own server.

[2017-05-21 22:51] AnnaSaysHi commented on #5493
After re-downloading the original RCT2 files from GOG I found that this issue is a problem with the version of RCT2 that I had, and the version of RCT2 from GOG works perfectly fine.

[2017-05-21 22:51] #5493 closed

[2017-05-21 23:29] IntelOrca commented on #5496
@AnnaSaysHi What version of RCT2 were you using when it crashed?

[2017-05-22 02:19] AnnaSaysHi commented on #5496
I was using the demo, downloaded off a site I don't remember. It also couldn't play scenarios that I downloaded off the internet.

[2017-05-22 09:29] Gymnasiast commented on #5496
@denosor I have a hunch... could you give a directory listing of the ObjData folder of your RCT2 installation?

[2017-05-22 11:43] rwjuk commented on #5496
We should probably throw a "you don't have <suchandsuch> object files" error in cases like this, rather than just crashing - assuming that is indeed the cause, which seems likely given how Anna's case was resolved.

[2017-05-22 11:51] Gymnasiast commented on #5496
@rwjuk. Indeed. Currently, the display of missing files is completely broken - it either does not display anything, or a completely unrelated error.

The reason I'm asking @denosor for a listing is to verify if missing files are the culprit in his/her case.

[2017-05-22 11:53] rwjuk commented on #5496
@Gymnasiast I think that should go on the list of things to fix up for 0.0.8 - happy to work on it.

[2017-05-22 11:56] janisozaur commented on #5496
Aren't there checks for missing files when we start up?

[2017-05-22 12:17] Gymnasiast commented on #5496
@janisozaur Only for g1.dat. It doesn't check for the 772 standard .DAT files. This allows OpenRCT2 to be used with the Mini Game, which lacks some .DAT files (I think 4X4.DAT is an example).

It would be better if OpenRCT2 would warn the user if it lacks some of the 772 standard files.

[2017-05-22 12:20] Gymnasiast commented on #3178
This needs the same treatment as loading the RCT2 files for a folder with accents, whcih @rwjuk fixed.

[2017-05-22 12:23] Gymnasiast commented on #5177
Reopening this. It's not a duplicate. It should display a message. #1399 describes a way to improve the message.

[2017-05-22 12:25] Gymnasiast commented on #5177
@rwjuk It would be best if the in-game window reported all missing objects. You could also go the whole hog and implement #1399, if you want to.

[2017-05-22 12:32] Gymnasiast commented on #3178
@rwjuk I haven't yet been able to check whether this bug has been solved by your earlier work or not. If it's already fixed then this obviously can be closed.

[2017-05-22 12:33] rwjuk commented on #3178
I will have a look - if not, it'll almost certainly just be adding in appropriate calls to the precomposition function for macOS.

[2017-05-22 12:37] rwjuk commented on #5177
If I can, it makes sense to do the job fully and have the ability to pop up a window saying "can't do that, these objects are missing" - then that could be used for multiplayer too (i.e. you can't join this server because you don't have XYZ.DAT).

[2017-05-22 16:14] Gymnasiast commented on #5177
Obviously, a window saying "you're missing the following objects" is a solution to the bug. But #1399 contains a whole lot more ideas besides that.

[2017-05-22 16:20] rwjuk commented on #5177
@Gymnasiast I misread #1399, you're right. Still, I'll try to implement the other ideas as well.

[2017-05-22 17:48] denosor commented on #5496
What is a directory listing? do you want me to send you the names of all of the files in that folder?

[2017-05-22 18:06] Gymnasiast commented on #5496
Yes, indeed.

[2017-05-22 20:01] denosor commented on #5496
[Direcory listing.txt](https://github.com/OpenRCT2/OpenRCT2/files/1020051/Direcory.listing.txt)

[2017-05-22 20:04] janisozaur commented on #5496
Can you post the whole output, though?

[2017-05-22 20:05] denosor commented on #5496
OK here it is:
09/13/2002  02:51 AM            17,951 TH2.DAT
09/13/2002  02:51 AM           382,464 THCAR.DAT
09/13/2002  02:51 AM            23,389 THL.DAT
09/13/2002  02:51 AM             7,149 THRS.DAT
09/13/2002  02:51 AM             2,378 THT.DAT
09/13/2002  02:51 AM            16,288 TIC.DAT
09/13/2002  02:51 AM             4,847 TIG.DAT
09/13/2002  02:51 AM            14,096 TITC.DAT
09/13

[2017-05-22 20:06] janisozaur commented on #5496
Can you post the whole output, though?

[code]

[2017-05-22 20:10] Gymnasiast commented on #5496
It appears as if you only have the base game, not the WW and TT expansions. Is there an open server that does not use WW or TT, so we can check whether that's the issue?

[2017-05-22 20:14] denosor commented on #5496
what does WW or TT stand for?

[2017-05-22 20:17] Gymnasiast commented on #5496
Wacky World and Time Twister. Both are expansion packs for RollerCoaster Tycoon 2.

[2017-05-23 07:30] #3178 closed

[2017-05-23 22:08] rwjuk commented on #5372
Was anybody other than @ALEEF02 able to reproduce this?

[2017-05-24 21:27] RogoDarius opened #5505 "Can't fire staff not placed"
**OS:** [e.g. Windows 10]
**Version:** [e.g. 0.0.8]
**Commit/Build:** [e.g. 426e106]

When hiring too many staff by accident, you cannot fire a staff member until he has been placed in the game world. i.e. Their location is (select location)
It will prompt the player for confirmation on firing the staff member, but clicking yes will do nothing until the staff member exists on the ground.

- [No] R

[2017-05-25 17:13] Horsti12 commented on #622
This would be a very good feature :)

[2017-05-25 19:08] rwjuk opened #5507 "RCT1 path check is case-sensitive on Linux"
**OS:** Linux
**Version:** 0.0.8
**Commit/Build:** latest

The check for `csg1.1` and `csg1.dat` on setting an RCT1 path is case sensitive - lower case works, upper case does not.

- [ ] Reproducible in RCT2 (vanilla)?
- [ ] Multiplayer?

**Steps to reproduce:**
1. Clear your RCT1 path if set.
2. Rename `csg1.dat` to `CSG1.DAT`.
3. Try to set the RCT1 path again.
4. OpenRCT2 says the directory is

[2017-05-25 19:09] rwjuk commented on #5507
@PFCKrutonium ran into this, testing on Gitter confirmed this bug

[2017-05-25 19:23] xp4xbox opened #5508 "Feature: Undo Button to Scenery Window"
A feature that many of us would like is an undo button. I think it would work especially well in the scenery box such as this:

![untitled](https://cloud.githubusercontent.com/assets/24964930/26466801/1245d8d8-415e-11e7-87f8-19693efba197.jpg)

[2017-05-25 19:29] rwjuk commented on #5508
Unfortunately, implementing an undo system, with the associated action stack is incredibly complex in a real-time game - even without taking multiplayer into account.

This has been raised and rejected before (#2256), and I can't see that anything has changed since then.

Don't get me wrong, I'd very much like that too (I find myself pressing CTRL-Z on autopilot sometimes!), but it's just not tech

[2017-05-25 19:29] #5508 closed

[2017-05-25 19:40] rwjuk commented on #5505
From looking at the code, it seems that this is intentional (see #4649), in order to prevent network desynchronisation. Unless @zsilencer (or @janisozaur ?) says otherwise, this will have to stay as-is.

[2017-05-25 21:26] rwjuk commented on #1013
This still occurs as far as I can tell, an SV6 demonstrating this is attached.

[10x10 max length experiment.sv6.zip](https://github.com/OpenRCT2/OpenRCT2/files/1030269/10x10.max.length.experiment.sv6.zip)

[2017-05-25 21:53] SidaRadis opened #5509 "Crash when trying to build Junior Roller Coaster"
OS: Windows 7
Version: 0.0.8
Commit/Build: 2f9f613

OpenRCT2 crashes when trying to build a Junior Roller Coaster

- [ ] Reproducible in RCT2 (vanilla)?
- [ ] Multiplayer?

Steps to reproduce:
1. Open the Gravity Gardens scenario
2. Place your mouse over the Junior Roller Coaster picture in the new ride menu

Dump file: (This is a .gz archive because for some reason .zip was not working)
[9dcf0a79

[2017-05-25 22:39] IntelOrca commented on #5508
We can look into this after all game actions use the new game action infrastructure.

[2017-05-25 22:43] rwjuk commented on #5509
Doesn't occur for me on macOS 10.12 with that scenario.

[2017-05-26 19:18] SidaRadis commented on #5509
After a bit of testing, I think I have found what was causing the crash. I figured it was probably due to some of my downloaded custom tracks so I removed them using vanilla but OpenRCT2 kept crashing. I also tried with the latest stable version and noticed a few new tracks suddenly appeared (they did not appear in vanilla). It was only after I removed these tracks that the crashing stopped. The s

[2017-05-26 19:19] rwjuk commented on #5509
Could you upload one or two of the tracks that you think caused the issue so we can figure out what's causing it?

[2017-05-26 19:28] SidaRadis commented on #5509
(Remove the .txt)
[Choo Choo JrRollerCoaster PnkFloyd12.TD6.txt](https://github.com/OpenRCT2/OpenRCT2/files/1032808/Choo.Choo.JrRollerCoaster.PnkFloyd12.TD6.txt)
[KK2MarshmallowMayhemReddBaron.TD6.txt](https://github.com/OpenRCT2/OpenRCT2/files/1032809/KK2MarshmallowMayhemReddBaron.TD6.txt)
[Teddy Terror - Spunknit.TD6.txt](https://github.com/OpenRCT2/OpenRCT2/files/1032810/Teddy.Terror.-.Spunknit

[2017-05-26 19:47] jensj12 commented on #5509
These files don't seem to be any different than the UCES tracks I have. No crashes for me. Win10 - dabaddd

[2017-05-26 20:00] SidaRadis commented on #5509
These files most certainly come from the UCES pack. It might be a custom scenery/vehicle issue because I just noticed my OpenRCT2 object folder is empty.

[2017-05-26 20:03] jensj12 opened #5511 "Backspace inconsistency in track design manager"
**OS:** Windows 10
**Version:** 0.0.8
**Commit/Build:** dabaddd

**Steps to reproduce:**
1. Open track design manager
2. Hit backspace (nothing happens)
3. Click the close button (quits)
4. Open track design manager
5. Select any ride
6. Click the close button (returns to previous window)
7. Select any ride
8. Hit backspace (renders TDM useless)
9. Be left with no other option than to quit the tra

[2017-05-26 20:50] rwjuk commented on #5509
@SidaRadis Could you ZIP the TD6s and re-upload? Just in case saving them as text files has messed with the encoding.

[2017-05-26 22:23] SidaRadis commented on #5509
Github refuses to let me attach a .zip, would .gz be acceptable?

[2017-05-26 22:23] rwjuk commented on #5509
@SidaRadis Absolutely :)

[2017-05-26 22:26] SidaRadis commented on #5509
[Choo Choo JrRollerCoaster PnkFloyd12.TD6.gz](https://github.com/OpenRCT2/OpenRCT2/files/1033073/Choo.Choo.JrRollerCoaster.PnkFloyd12.TD6.gz)
[KK2MarshmallowMayhemReddBaron.TD6.gz](https://github.com/OpenRCT2/OpenRCT2/files/1033072/KK2MarshmallowMayhemReddBaron.TD6.gz)
[Teddy Terror - Spunknit.TD6.gz](https://github.com/OpenRCT2/OpenRCT2/files/1033071/Teddy.Terror.-.Spunknit.TD6.gz)

[2017-05-26 22:34] rwjuk commented on #5509
Hmm... none of those cause issues for me (macOS 10.12, latest build). I'll see if I can get some more eyes on this.

[2017-05-27 17:24] Horsti12 commented on #2766
We would need a new label for RCT1 kind of stuff like this. (rct1 import is just for importing scenarios from rct1)

[2017-05-28 03:35] hypocube opened #5512 "Suggestion: Quick reconnect button for multiplayer"
Recently a friend and I have had an issue with desynchronizations in multiplayer, so we came up with an idea of a "Quick reconnect" button in the multiplayer menu that would simply refresh the connection with the server. Otherwise we would have to re-enter the IP every time (because we were doing a LAN thing and not a public server).

Thanks for reading, I hope I put this in the right place.

[2017-05-28 10:33] PureTryOut commented on #5507
So this is what prevents me from using my RCT1 installation! Thanks for reporting it, hoping to see this fixed soon.

[2017-05-28 13:41] Horsti12 commented on #4135
This should be closed since there is another issue which is the same but with more information.
#4824

[2017-05-28 21:35] stewtf2 opened #5514 "Game Crashes When Trying to Open Ride Creator on any downloaded scenario."
**OS:** [ Windows 10]
**Version:** [0.0.6 x64]
**Commit/Build:** [493bb62]

When ever I try to open up the ride creator on a custom downloaded scenario, the game crashes.
 no problems on vanilla rct2 scenarios.
I can't even join multiplayer servers.
**# EDIT: HEY, BIG NEWS, JUST FOUND OUT IT HAPPENS ON RANDOM SCENARIOS. I TRIED IT ON ELECTRIC FIELDS AND IT HAPPENED THERE TOO.**

**Steps to reprodu

[2017-05-29 06:00] Patrik356b commented on #5314
@wildgoosespeeder
I agree

[2017-05-29 06:22] Patrik356b commented on #1000
Checkbox option I would much prefer

[2017-05-29 07:20] Gymnasiast commented on #5314
*Sigh* I'm going to start like a broken record.

It always seems to be people who never did some programming of OpenRCT2 who request features. And that's no coincidence: maintaining software is hard work, which non-programmers have no idea of. Everything you add adds complexity, but not on a linear scale. Rather, the amount of combinations is n! (that's n factorial, or n * (n-1) * (n-2) * ...). So

[2017-05-29 07:35] Gymnasiast commented on #5505
If that's the case, we'd need to disable the buttons one can't use while hovering staff.

[2017-05-29 07:36] Gymnasiast commented on #5514
"This video is private."

[2017-05-29 07:49] Gymnasiast commented on #5512
I think this was suggested before, but discouraged because it increases load on the server. (Of course, for a LAN server this would not apply as much.)

Thing is that we'd much prefer to work on actually getting rid of the desyncs, rather than working around it.

[2017-05-29 08:13] janisozaur commented on #5512
I think there is some merit to this request: rather than having a "resync" button (to which I'm very much against), we could store the last entered server information so that user doesn't have to re-enter it when he opens "multiplayer" window. Especially when the program has not been restarted.

[2017-05-29 08:55] RogoDarius opened #5515 "Missing Wooden Wild Mine Ride"
**OS:** Windows 10
**Version:** 0.0.8
**Commit/Build:** eaf9343

While playing Sprightly Park, (Added Attractions) I received a notification that I'd researched a new ride, "Wooden Wild Mine Ride". But when clicking the blue icon or navigating to New Roller Coasters there is no such ride available.

- [X] Reproducible in RCT2 (vanilla)?
- [X] Multiplayer?

**Screenshots / Video:**
![sprightly park

[2017-05-29 12:12] Gymnasiast commented on #5515
You most likely have 'Sort rides by track type' on. Try building a wooden wild mouse and switch the vehicle type to 'Wooden Wild Mine Ride'.

[2017-05-29 12:24] Gymnasiast commented on #4824
Duplicate of #4135.

[2017-05-29 12:24] #4824 closed

[2017-05-29 12:27] Gymnasiast commented on #2884
Since this report, the system has been turned on its head. Could you verify this problem still exists?

[2017-05-29 12:42] Patrik356b commented on #4135
The opposite just happened @Horsti12

[2017-05-29 12:56] hypocube commented on #5512
Thanks for replying. I get what you mean about desyncs, so janisozaur's idea would be work perfectly. Our idea really just boils down to having something to make reconnecting to the same server more convenient.

Thank you for making RCT2 multiplayer a reality.

[2017-05-29 13:57] Gymnasiast commented on #5400
This is caused by having 'select by track type' on using ride entries that have their first track type set to 255 (ride entries can have up to three track types, although this does not seem to be used much or really work properly).

I fixed this in the ride groups PR.

[2017-05-29 17:13] Gymnasiast commented on #4135
The plan:
- Allow any tracked ride _that can be tested without guests_ in the RC Designer.
- Rename the RC Designer to Track Designer

[2017-05-29 18:48] rwjuk commented on #5507
@PureTryOut As a workaround until then, you can change the case of CSG1.DAT to csg1.dat - that'll get it working.

[2017-05-29 20:39] rwjuk opened #5516 "Update copyright year for 2017"
Go through and update the copyright header of all files that have been edited in 2017.

[2017-05-29 21:10] RogoDarius commented on #5515
Right, yes it is that.
Not confusing at all. ;)

[2017-05-30 06:45] Gymnasiast commented on #5515
I know I know, I'm addressing it in #5504 ;-)

[2017-05-30 06:45] #5515 closed

[2017-05-31 11:46] Patrik356b commented on #4142
On 0.0.8 i can build this ( 26196c6 )

[2017-05-31 12:04] rwjuk commented on #5514
The video now works. Could you upload one of the scenarios where this bug occurs (you'll need to ZIP the file so that Github accepts it).

Also, once the game has crashed, please follow these instructions to create a dump file, and upload that too: https://support.kaspersky.co.uk/general/dumps/8158

[2017-05-31 12:07] Patrik356b opened #5518 "edge scroll trouble on 0.0.8 - 26196c6"
not sure if duplicate, this was happening when i tested for #4142 on Win8.1x64
[toyboxpark.zip](https://github.com/OpenRCT2/OpenRCT2/files/1041401/toyboxpark.zip)

zip file has sv6 which was created just now from the scenario editor, a video and a single custom object fron UCES

[2017-05-31 12:14] IntelOrca commented on #5518
We already have several issues for broken scrolling, e.g. #2589

[2017-05-31 12:14] #5518 closed

[2017-05-31 12:18] Patrik356b commented on #5518
Posted in a rush, but okay

On Wed, May 31, 2017, 14:14 Ted John <notifications@github.com> wrote:

[2017-05-31 12:22] IntelOrca commented on #5518
#5383 aims to fix it, although it doesn't look like the PR will be finished.

[2017-05-31 12:29] #4142 closed

[2017-05-31 15:51] Nubbie commented on #5512
Mentioned in #3134 and suggested at #2695 (closed) - A idea like Janisozaur would work better then avoiding the problem

[2017-05-31 20:19] ccoors commented on #5190
No, still not working.

[2017-05-31 20:23] ccoors commented on #5190
Oh. It just doesn't work in that scenario? Here it is.

[Simple Sandbox.zip](https://github.com/OpenRCT2/OpenRCT2/files/1042824/Simple.Sandbox.zip)

[2017-05-31 21:25] rwjuk opened #5520 "Refactor platform_directory_delete() to remove FTS dependency"
`fts.h` is included, and FTS used, for `platform_directory_delete()` on POSIX systems.

This function is only called from `DeleteItem()` in `TitleSequenceManager.cpp` - the function that deletes title sequences.

Including FTS for one very infrequently called function is inefficient - `platform_directory_delete()` should be rewritten to avoid using it.

[2017-05-31 21:34] janisozaur commented on #5520
See also: http://wiki.musl-libc.org/wiki/FAQ#Q:_why_is_fts.h_not_included_.3F

[2017-05-31 21:46] rwjuk opened #5521 "Infinite loop on first run if neither Zenity nor kdialog are installed"
If OpenRCT2 is run on a system without Zenity or kdialog, the 'choose directory' function that is called on startup to allow setting of the RCT2 path ends up in an infinite loop.

Found by @PFCKrutonium while testing with musl on Alpine linux.

[2017-05-31 22:30] rwjuk opened #5522 "Clicking 'Player Name' field in Server List window results in crash"
**OS:** macOS & Linux known, probably Windows too
**Version:** latest

- [ ] Reproducible in RCT2 (vanilla)?
- [x] Multiplayer?

**Steps to reproduce:**
1. Start OpenRCT2 fresh (i.e. without having loaded any other text entry fields such as for ride/peep naming).
2. Open the Server List window.
3. Click the Player Name text field.
4. Crash.

The crash occurs in `libopenrct2/interface/widget.c`, li

[2017-06-01 00:17] PFCKrutonium commented on #5521
It also doesn't let you leave the loop if you have them installed, but click cancel...?

[2017-06-01 11:02] Gymnasiast opened #5524 "Create a define for max ride types per ride entry"
An `rct_ride_entry` can have up to 3 ride types (track types). This should go into a define.

Encountered when working on #5504, and something I want to address before merging it, in order to avoid ballooning that PR even further.

[2017-06-01 16:06] Gymnasiast opened #5525 "Rename sub_<hex>() functions"
[code]

Current occurrences: 19595

[2017-06-01 16:24] IntelOrca commented on #5525
Can you get a count for each function?

[2017-06-01 16:39] #5522 closed

[2017-06-01 17:16] Gymnasiast commented on #5525
@IntelOrca There must be a one. But the command I used is mostly to give an indication and roughly keep track of progress anyway.

[2017-06-01 18:23] #5511 closed

[2017-06-01 19:15] janisozaur commented on #5525
[code]

[2017-06-01 19:40] IntelOrca commented on #5525
So only 73 renames :p

[2017-06-01 19:55] #5516 closed

[2017-06-01 20:00] #5524 closed

[2017-06-01 20:03] janisozaur commented on #5434
#5458 has been merged

[2017-06-01 21:17] Liampie opened #5533 "Choppy framerate"
Windows 8
v0.0.8 9b041e0

The game is very choppy at the moment, heard report from others too. It's like being in multiplayer where the game seems constantly accelerate and decelerate, but in single player.

[2017-06-01 21:42] PFCKrutonium commented on #5533
Can you record a video to show us what you mean?

[2017-06-02 04:40] DCMeGaMaxX opened #5534 "Unable to select any full screen resolutions"
**OS:** Windows 10 Version 1703
**Version:** 0.0.8
**Commit/Build:** 9b041e0

This bug prevents the resolution from being changed in fullscreen mode. Using windowed mode or fullscreen borderless works fine, Screenshot below shows the resolution dropdown menu being selected, but nothing is happening.

**Screenshots / Video:**

![diamond heights 2017-06-01 23-36-15](https://cloud.githubusercontent.c

[2017-06-02 06:58] Patrik356b commented on #5534
Does it save and work on restart?

[2017-06-02 07:30] Gymnasiast opened #5535 "sub_65E72D() / get_num_of_sheltered_eighths() needs its output refactored"
Quoting Duncan:

I think this function needs refactoring for its outputs. The `sint32` is comprised of two `uint8`'s one of which is the sheltered eights and the other is the sheltered eights or 7 depending on if the ride is a covered ride.

[2017-06-02 09:29] Gymnasiast commented on #5533
Does it say "DEBUG" in the title screen?

[2017-06-02 14:19] janisozaur opened #5537 "SDL_Init(SDL_INIT_VIDEO) is called even when using --headless option"
**Commit/Build:** 79d76759bb3c1979e8935272d6624a0a4e278ebd

https://github.com/OpenRCT2/OpenRCT2/blob/79d76759bb3c1979e8935272d6624a0a4e278ebd/src/openrct2-ui/UiContext.cpp#L90

`SDL_Init(SDL_INIT_VIDEO)` is called regardless of `--headless` switch.

[2017-06-02 14:21] IntelOrca commented on #5537
I would like to make the code path as similar as possible as openrct2-cli for headless flag. It will require parsing the command line arguments before creating the OpenRCT2 context.

[2017-06-02 15:14] telk5093 commented on #5534
Same as me.

[2017-06-02 17:36] #5534 closed

[2017-06-02 18:20] Ryder17z opened #5539 "Bobsled vehicle configuration is bugged"
I'm pretty sure this is a duplicate but i didn't find anything when searching.
![openrct2_2017-06-02_20-16-11](https://cloud.githubusercontent.com/assets/2000703/26738981/6b8954b0-47d0-11e7-8d3f-20031d35a4dd.png)

The coaster on the right side has only the wrong option in the dropdown box. Switching it will most likely cause the setting to be irreversible.

Version: OpenRCT2-0.0.8-develop- e7eb5f7

[2017-06-02 18:37] Patrik356b commented on #5448
I just tried playing Volcania from Loopy Landscapes and the hotkey for underground view doesn't work when the "track build segment window" is open.
Clicking the GUI option makes the option turn on for a few frames but is reset almost instantly.

Not sure why my experience differs from yours.

[2017-06-03 09:49] Patrik356b commented on #5034
Would be nice to have in the future

[2017-06-03 11:11] Gymnasiast commented on #5539
Cannot reproduce. Please upload your save.

[2017-06-03 11:54] iezed opened #5541 "fatal error: too many errors emitted."
**OS:** [OSX 10.10.5]
**Version:** [0.0.8]
**Commit/Build:** [9bd4284]

Hi, I have this error when try to build :
/usr/local/include/SDL2/SDL_platform.h:73:5: error: 'TARGET_OS_TV' is not defined, evaluates to 0 [-Werror,-Wundef]
#if TARGET_OS_TV
    ^
In file included from /Users/fabrizio/github/games/OpenRCT2/src/openrct2/cheats.c:17:
In file included from /Users/fabrizio/github/games/OpenRCT2/s

[2017-06-03 15:06] Patrik356b commented on #5539
[Cleveland's Luna Park.zip](https://github.com/OpenRCT2/OpenRCT2/files/1049664/Cleveland.s.Luna.Park.zip)
Scenario comes from RCT2 UCES

[2017-06-03 15:10] Patrik356b commented on #4988
1. could be troublesome in certain cases
2. is probably a better solution

[2017-06-03 15:10] janisozaur commented on #5541
Looks like your compiler is​ too old. The other issue is a problem with your SDL2. Again, it might be too old. Can you provide versions of both of them?

[2017-06-03 17:32] Gymnasiast commented on #4988
Hm, both of Nubbie's suggestions don't sound very easy to implement cleanly and reliably. I would say boats navigating on load isn't really a big deal and not worth adding too much complexity for. I'm happy to be proven wrong about this, but in the meantime I'm going to label this `wontfix` for the reasons I stated.

[2017-06-03 17:32] #4988 closed

[2017-06-03 21:09] #5537 closed

[2017-06-03 21:13] #5521 closed

[2017-06-03 21:39] iezed commented on #5541
I have sdl2: stable 2.0.5 installed via homebrew and
gcc --version
Configured with: --prefix=/Applications/Xcode.app/Contents/Developer/usr --with-gxx-include-dir=/usr/include/c++/4.2.1
Apple LLVM version 7.0.2 (clang-700.1.81)

[2017-06-03 23:42] #5430 closed

[2017-06-03 23:44] IntelOrca commented on #5212
This can happen if you have multiple addresses you can bind to. It is now possible to specify and address:
`openrct2 host park.sv6 --address localhost`
`openrct2 host park.sv6 --address 82.152.129.21 --port 9182`

[2017-06-03 23:51] #837 closed

[2017-06-04 07:21] janisozaur commented on #5541
We explicitly [request C11 from the compiler](https://github.com/OpenRCT2/OpenRCT2/blob/develop/OpenRCT2.xcodeproj/project.pbxproj#L3511), but apple being themselves, [lie about C11 support](https://forums.developer.apple.com/thread/15070). You can try working around this by either using older-but-likely-supported `_Static_assert` instead of the C11 version in `common.h`, or just completely forgoi

[2017-06-04 07:30] iezed commented on #5541
Thanks, I will try to use homebrew GCC instead.

[2017-06-04 07:41] AaronVanGeffen commented on #5541
While using a more recent GCC from Homebrew will probably solve this for you, I am curious: why are you still on OS X 10.10? It no longer gets security patches and the like from Apple.

You should be able to upgrade to 10.11 on all hardware, which already offers an updated toolchain, if you cannot upgrade to 10.12 for whatever reason.

[2017-06-04 07:48] iezed commented on #5541
I have just mobile connection, the update it's to big. :(

[2017-06-04 18:53] PendingOperation commented on #5399
Update: I noticed a path sign that glitched out. Trying to delete will show that tiny error box seen below the trash bin icon. The sign's every property has changed. (color, text, etc.)
![bug](https://cloud.githubusercontent.com/assets/27915009/26764472/c2aa6a02-4967-11e7-8e09-e85171ada3b6.jpg)
It's that gold-ish sign in the queue before the entrance to the go-karts.

[2017-06-04 18:58] PendingOperation commented on #5399
Another strange thing after reloading the save
![image](https://cloud.githubusercontent.com/assets/27915009/26764498/2215c59a-4968-11e7-8e89-dcb8ac730393.png)
Pressing set as do not entry or trying to remove will result in that.
[Operation Fun.sv6.txt](https://github.com/OpenRCT2/OpenRCT2/files/1050625/Operation.Fun.sv6.txt)

[2017-06-05 14:12] Gymnasiast commented on #1013
Oh, this is interesting. It only displays negative numbers if your game is set to Olde English measurements (Imperial).

[2017-06-05 14:34] Liampie commented on #5533
Nope. But it seems the problem has vanished as quickly as it appeared. Weird stuff.

For the future, PFC, what is the best way to record a video?

[2017-06-05 14:36] Liampie opened #5546 "Opening park crashes the game"
Windows 8.1
Version 0.0.8 36ca5b3

I can't open this park. Well, I can open it, but it gives me an error trapper immediately. https://www.nedesigns.com/park/3436/electric-fields-amusement-park/

[2017-06-05 14:51] janisozaur commented on #5546
[code]

[2017-06-05 19:03] Juloow opened #5547 "Can't open a park"
Hello, I can't open my park, I was using tile inspector and then everything crashed. I can't open the save file on my 2 computers, even before I did the crashing thing.

**OS:** [ Windows 10]
**Version:** [e.g. 0.0.8]
**Commit/Build:** [e.g. 426e106]

- [ ] Reproducible in RCT2 (vanilla)? I don't know
- [ ] Multiplayer? Yes

**Steps to reproduce:**
1.
2.

**Dump file**

**Screenshots / Video:**

!

[2017-06-05 19:03] IntelOrca opened #5548 "platform_get_locale_date_format is not implemented for Linux."
`platform_get_locale_date_format` is not implemented for Linux.

I did try to write an implementation using `std::locale` and `date_order`, but I could not get it to pick up the system locale or anything from the `LANG` or `LC_*` environment variables without throwing runtime exceptions.

[2017-06-05 23:01] Sweet-Tan commented on #5547
The server this map was hosted on continued to run for about a day before eventually crashing. It was then we discovered all autosaves, including those on the server and even those created by the clients, were corrupt. The attached file includes a known good autosave (Client), as well as the crash save and dump (Server).

Server build: d4bb9c3
[saves.zip](https://github.com/OpenRCT2/OpenRCT2/files

[2017-06-06 00:33] rwjuk commented on #5525
Copied from #5532 so we can keep track if that's merged.

* [ ] 14937 `sub_98197C`
* [ ] 2534 `sub_98196C`
* [ ] 1240 `sub_98199C`
* [x] ~~77 `sub_6C84CE`~~ - `window_ride_construction_update_active_elements()`
* [x] ~~54 `sub_65E72D`~~ - `get_num_of_sheltered_eighths()`
* [x] ~~52 `sub_6C9627`~~ - `ride_construction_invalidate_current_track()`
* [x] ~~44 `sub_693B58`~~ - `peep_update_current_acti

[2017-06-06 07:41] janisozaur commented on #5541
@iezed can you please check #5549 for us, if it generates any warnings with xcode 7?

[2017-06-06 08:48] iezed commented on #5541
With xcode project I have this error :

Ld /Users/fabrizio/Library/Developer/Xcode/DerivedData/OpenRCT2-epbanyvebcmsrxdbyuzoabksynnx/Build/Products/Debug/OpenRCT2.app/Contents/MacOS/OpenRCT2 normal x86_64
    cd /Users/fabrizio/github/games/OpenRCT2-develop
    export MACOSX_DEPLOYMENT_TARGET=10.8
    /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang++ -a

[2017-06-06 09:01] Gymnasiast commented on #5541
Have you loaded the code from #5549 into your Xcode 7?

[2017-06-06 09:05] iezed commented on #5541
With the code from rwjuk:push/xcodev8, I have this error :
Failed to load project at '/Users/fabrizio/github/games/OpenRCT2/OpenRCT2-push-xcodev8/OpenRCT2.xcodeproj', incompatible project version.

[2017-06-06 09:12] janisozaur commented on #5541
ah, great!

[2017-06-06 09:34] janisozaur opened #5552 "ride_ratings_test should be run on CIs"
**Commit/Build:** bd20c92

[Ride ratings test](https://github.com/OpenRCT2/OpenRCT2/pull/5047) has recently been merged, but disabled for CI as requiring the assets to be present.

It is a valuable test to prove we didn't accidentally change some logic and it would be best if we could have it running on Travis (or AppVeyor).

[2017-06-06 09:58] Gymnasiast commented on #5541
Ok, we have now merged #5549. This does not fix compilation on Xcode 7, as that requires more effort than we are willing to take. But at least you now get a warning that it is unsupported in Xcode 7, rather than happily loading but failing to compile.

[2017-06-06 09:58] #5541 closed

[2017-06-06 09:58] #5533 closed

[2017-06-06 10:03] Patrik356b commented on #5533
I would highly recommend https://obsproject.com/download

[2017-06-06 10:12] Patrik356b commented on #5539
If #4044 is implemented, this issue would expire automatically.

[2017-06-06 10:19] Gymnasiast commented on #5539
Sort of. It wouldn't solve the underlying issue.

[2017-06-06 11:01] janisozaur opened #5553 "Make PRs fail when submitted for master branch"
OpenRCT2 project has `develop` branch set as the `HEAD`, the main branch. `master` is only used for releases. We should ensure there is a check that fails, if a PR was submitted for `master` branch.

[2017-06-06 11:33] Patrik356b opened #5555 "Bobsled with block brakes got stuck (presumably on first lifthill)"
Not entirely sure what's the cause, but the bobsled attraction is forever stuck.
I left the game running for a few minutes when the bobseld was set to test mode and when i get back it is not moving.

[Razor Rocks-bobsled.zip](https://github.com/OpenRCT2/OpenRCT2/files/1054789/Razor.Rocks-bobsled.zip)

Version: OpenRCT2-0.0.8-develop- e7eb5f7 -windows-x64

[2017-06-06 11:37] Patrik356b commented on #5539
true, but i haven't observed an issue like that in a very long time. if memory serves me right, the first remotely similar issue was with the wooden roller coaster

[2017-06-06 15:26] davewthompson opened #5558 "Can't hire staff - randomly named guest appears instead who can't be sacked."
**Windows 10**
**v0.0.8-develop**
**f3b4c88**

Adding a new staff member - handyman or mechanic - in a new game doesn't work; a random guest window appears with a random name and this new entity cannot be sacked.

- [N] Reproducible in RCT2 (vanilla)?
- [N] Multiplayer?

**Steps to reproduce:**
1. Create a new game.
2. Try and hire a staff member.

[2017-06-06 15:42] Gymnasiast commented on #5539
To check: you have 'Sort rides by track type' on, right?

[2017-06-06 15:50] IntelOrca commented on #5558
Caused by #5295

[2017-06-06 17:37] UnsaltedCashews opened #5559 "Crash when opening Wooden Roller Coaster Tab"
**OS:** Windows 10
**Version:**  0.0.8
**Commit/Build:** f3b4c88

When I attempt to open the menu for building wooden roller coasters the game hangs for a couple of seconds then crashes with no dump file. This happens in any scenario and inside the track design manager and roller coaster designer.

Edit: I'm not sure how to submit a dump, I had to manually create one through task manager and after

[2017-06-06 19:05] #5496 closed

[2017-06-06 19:12] IntelOrca commented on #5559
If its just wooden roller coasters, it may related to your track designs. Do you have a lot of custom track designs? Can you try temporarily removing them and see if it still crashes?

Your track designs are located in either your RCT2 install directory under `Tracks`, or your user directory (`Documents/OpenRCT2/tracks`)

[2017-06-06 19:18] #5558 closed

[2017-06-06 19:35] UnsaltedCashews commented on #5559
You know, I did download a lot of track packs, but that was awhile back. As
far as I know, there is nothing custom. As for removing them, there's
probably over 300 prebuilt wooden roller coaster designs (Which are all
located in the RCT2 directory, all sorted alphabetically in a nice long
list along with every other track design) that I have so... yeah
 I did start having issues last week which is

[2017-06-06 20:34] AnnaSaysHi opened #5560 "Can't hire new staff"
**OS:** [MacOS Sierra]
**Version:** [0.0.8]
**Commit/Build:** [1e9f979]

Whenever I try to hire a staff member, a box pops up centered on an existing guest. If I then try to move the "staff member", I get an error saying "Can't hire new staff". This occurs consistently and is extremely obstructive to starting scenarios.

- [ ] Reproducible in RCT2 (vanilla)?
- [ ] Multiplayer?

**Steps to reproduc

[2017-06-06 20:40] janisozaur commented on #5560
Duplicate of #5558

[2017-06-06 20:40] #5560 closed

[2017-06-06 21:34] #4160 closed

[2017-06-06 21:37] janisozaur opened #5562 "Action and chat log should not re-open log file for each line"
#5557 merged new code for logging multiplayer actions. The issue with this code is that it re-opens a file every time log is appended. This is highly inefficient and bad code.

It should be fixed to open log file once and keep writing there. See my comments here (and below): https://github.com/OpenRCT2/OpenRCT2/pull/4273#pullrequestreview-7583468

[2017-06-06 22:59] hypocube commented on #5559
I'm having the same issue. I have all the original wooden coaster designs plus maybe 10 more. I haven't done any reverting versions, though.

I removed all my tracks and accidentally clicked on the American Railroad, which led me to finding out that ALL rides produce this error. Even flatrides.

[2017-06-06 23:07] IntelOrca commented on #5559
@hypocube I have just fixed this now, this appeared to be a regression from a very recent change.

[2017-06-06 23:40] rwjuk commented on #5559
Closing, fixed in 2501df6

[2017-06-07 01:06] Patrik356b commented on #5539
I do

[2017-06-07 02:53] UnsaltedCashews commented on #5559
Awesome thanks!

On Jun 6, 2017 5:40 PM, "Richard Jenkins" <notifications@github.com> wrote:

[2017-06-07 06:38] IntelOrca commented on #5559
I feel like the regression I fixed was added after the original post. Re-open this issue if the bug still occurs.

[2017-06-07 06:51] janisozaur commented on #5559
I'm going to re-open it, as f3b4c88 predates what was to be the regression cause.

[2017-06-07 09:11] Gymnasiast opened #5565 "Xcode project needs to default to spaces"
Currently it appears to default to tabs.

[2017-06-07 14:14] Gymnasiast commented on #5565
I incorporated this in #5504, as it drove me nuts.

[2017-06-07 20:22] Krutonium opened #5566 "Game doesn't release old Audio Outputs (inconsistently.)"
**OS:** Arch Linux
**Version:** 0.0.8
**Commit/Build:** f04439e0a (and earlier)

It is possible to have the game spew audio forth from the depths of hell, inconsistently. It happens when switching the audio output device, but as of yet is inconsistent. All times it has happened, I loaded the game went to Options, and changed the output. Once the bug has begun, the more times you switch, the more c

[2017-06-07 20:55] #4959 closed

[2017-06-08 00:47] Sweet-Tan commented on #5547
We ran into a similar issue early last month, but didn't pursue it. Here is the the save and dump from the original crash, as well an the latest autosave. Unlike the Juloow's save, this one can be started by a headless server, but cannot be opened in-game, nor can any users connect to the server.
[CP1.zip](https://github.com/OpenRCT2/OpenRCT2/files/1059654/CP1.zip)

[2017-06-08 09:33] davewthompson opened #5569 "Peeps don't leave the park if they're happy and they have cash; causes issues in parks with entrance fees."
**Windows 10 x64**
**v0.0.8-develop**
**6e21614**

When playing a level where a park entrance fee is charged (for example, Factory Capers) guests will arrive into the park but never appear to leave!

For example, in my current game, the current date is 26th March, Year 3. Of the 2,130 guests who have entered the park, 2,118 are still in the park, meaning only 12 have left the park since it was ope

[2017-06-08 10:29] davewthompson commented on #5569
I think the issue here is in peep.c:722, in the peep_decide_whether_to_leave_park method.

If a guest is happy, and has enough money, they'll *never* leave the park... so if you have a set of cash machines in your park (or the guests are arriving with a considerable amount of money) then they will never, ever leave the park.

This means it's hard to keep adding new rides the later you get through

[2017-06-08 11:30] Gymnasiast commented on #5569
I doubt that is the issue. A refactoring error is more likely to be the culprit here. I remember testing something else recently and noticed the park rating was way too high. Most likely the same issue as this.

[2017-06-08 11:45] davewthompson commented on #5569
Not sure if it's a bad refactor; there's a quote above the method/function which clearly says:

#[peep.c:peep_decide_whether_to_leave_park](https://github.com/OpenRCT2/OpenRCT2/blob/develop/src/openrct2/peep/peep.c)

[2017-06-08 11:47] Gymnasiast commented on #5569
Yes, and that is how it should work. People get unhappy quickly enough in normal circumstances, but it looks like they stay happy for too long for some reason.

[2017-06-08 11:51] davewthompson commented on #5569
Yeah, agreed, so perhaps some logic should be added that makes people too tired out from walking around / bored / etc so they do go home!!!

[2017-06-08 16:19] rwjuk commented on #5569
Something very odd is going on here! I tested that save by using the debug tools to set all guests' happiness to minimum. That worked, but within 30 seconds or so most were at maximum happiness again...

Investigating.

[2017-06-08 16:30] jacon500 opened #5571 "Crash when deleting at end of text line"
**OS:** Windows 8.1
**Version:** 0.0.8
**Commit/Build:** 6e21614

Game crashes when the Delete key is pressed when at the end of a line. Crash can occur both in-game and on the menu.

- [ ] Reproducible in RCT2 (vanilla)?
- [ ] Multiplayer?

**Steps to reproduce:**
1. Select any textbox
2. Go to end of line
3. Press 'Delete'

**Dump file**
[fe7b8cc3-5749-4389-bb4a-15a8010297c9.zip](https://github.

[2017-06-08 18:17] #5571 closed

[2017-06-09 01:33] PFCKrutonium commented on #5507
The RCT2 music css50.dat is also case sensitive, I ran into this when replacing my title music with music from Planet Coaster.

[2017-06-09 16:05] telk5093 opened #5573 "Headless server does not log user actions"
**OS:** Windows 10
**Version:** 0.0.8
**Commit/Build:** 6eb14aa

Headless server seems that not to log user actions.
I editted config.ini with ``log_server_actions = true`` but headless server does not create any server logs in _serverlogs_ directory.
I have no idea if it is intended, but it will be useful that user action is logged if server is even headless.

- [ ] Reproducible in RCT2 (vanilla)

[2017-06-09 23:02] Devoider opened #5575 "Clicking Multiplayer Button in main menu crashes the game if no save game exists."
Windows 10
V. 0.0.8 - dev build 12c84d8

Clicking Multiplayer Button in main menu crashes the game if no save game exists.

**Steps to reproduce:**
1. Open new install
2. click multiplayer
3. Crash ensues.

Was helping a friend start the game the first time and wanted to try multiplayer, he clicked multiplayer and it immediately crashed, played a save game and then it didn't crash. I made a fresh

[2017-06-10 04:49] PFCKrutonium opened #5576 "Game does not save setting "Show 'real' names of guests""
**OS:** Arch
**Version:** 0.0.8
**Commit/Build:** 5c5389

Game does not save setting "Show 'real' names of guests"
(Options -> Wrench)

- [ ] Reproducible in RCT2 (vanilla)?
- [ ] Multiplayer?

[2017-06-10 04:51] PFCKrutonium opened #5577 "[Request] "Show 'real' names of staff""
I would love an option to use the same name RNG as the peeps to automatically name my Staff Members.

[2017-06-10 06:09] cching0L2 commented on #5562
Taking a look at this issue right now

[2017-06-10 07:46] davewthompson opened #5579 "Network desync immediately after connecting"
Windows 10 x64 / Windows 10 x64
v0.0.8-develop
5c5389a

When playing a multiplayer game with a PC on the same LAN the client will show the network desync detected dialog immediately and the game gradually goes out of sync.

Can you point me in the direction of the log files so I can check myself?

[ N ] Reproducible in RCT2 (vanilla)?
[ Y ] Multiplayer?

Steps to reproduce:

Start a network game o

[2017-06-10 07:50] Gymnasiast commented on #5579
We know there are desyncs. But this is so unspecific that we can't do anything with it. "Network desync happens constantly making network games unplayable" describes quite a lot of issues.

If can reliably produce it with a particular save, then it's different.

[2017-06-10 08:44] davewthompson commented on #5579
How can I find more information? Can I run in debug mode? Send you a log?

I've tried to compile the code on my own machine but the latest version doesn't seem to compile using msbuild.

[2017-06-10 08:59] ceeac commented on #5577
I'll try working on this either today or tomorrow, if nobody else is working on it already.

[2017-06-10 09:36] Gymnasiast commented on #5579
Finding desyncs is hard. If you have a save that will always cause a desyncs, or a set of actions that will always cause one, and we can reproduce it, then we can look into it.

Do you always try with the same park? Is it a mostly empty park or a used save?

[2017-06-10 11:04] davewthompson commented on #5579
[Crazy Castle P&D.zip](https://github.com/OpenRCT2/OpenRCT2/files/1065792/Crazy.Castle.P.D.zip)

This file will always cause a desync when the second player connects.

[2017-06-10 14:35] Juli199696 commented on #5579
Well i have checked the File aswell on Windows 10 64 Bit
Got no desync in 5 minutes. Just the normal "lag". I even build a coaster to test. Everything was synced.
Maybe its a slow network on your side @davewthompson?

[2017-06-10 15:01] SidaRadis opened #5580 "Issue with too many guests inside queue line"
OS: Windows 7
Version: 0.0.8
Commit/Build: 5c5389a

Guests seem to ignore that there is already a queue line and go through other peeps to form a ''new'' queue. In the screenshot below for example I have 58 guests in 7 tiles.

- [ ] Reproducible in RCT2 (vanilla)?
- [ ] Multiplayer?

Steps to reproduce:
I do not have a reliable way to reproduce the issue but I think it only happens when to entranc

[2017-06-10 15:29] UnsaltedCashews commented on #5559
Well I went back to check if things were fixed, and now I realize that I have the same issue as hypocube :(

[2017-06-10 15:42] janisozaur commented on #5579
Network conditions can only affect ping and connection state, not staying in sync.

[2017-06-10 15:57] Juli199696 commented on #5579
@janisozaur I just rememberd what happend to me in OpenTTD some years ago when i got a bad connection i just got disconnected cus to much desync.

[2017-06-10 16:11] RogoDarius opened #5583 "Right click to drag camera after menu"
**OS:** Windows 10
**Version:** 0.0.8
**Commit/Build:** 5c5389a

When right clicking the main play area while a menu is open, the menu will cancel, but dragging the camera will not engage on any subsequent right clicks. Will only right itself when something is left-clicked again.

- [No] Reproducible in RCT2 (vanilla)?
- [Yes] Multiplayer?

**Steps to reproduce:**
1. Go into any map
2. Click the f

[2017-06-10 16:17] RogoDarius opened #5584 "Current map marker (>>) persists on main menu"
**OS:** Windows 10
**Version:** 0.0.8
**Commit/Build:** 5c5389a

The new "current map" indicator (>>) shows on the main menu after starting a server with a loaded game.

- [No] Reproducible in RCT2 (vanilla)?
- [Yes] Multiplayer?

**Steps to reproduce:**
1. Start ORCT2 from fresh
2. Click the multiplayer button on the main menu
3. Click the Start Server button in the server list
4. Click the Load

[2017-06-10 16:18] RogoDarius commented on #5584
Also realised this works with offline play as well.
Was this intentional? - Is the marker supposed to show "current map" and "last map" played?

[2017-06-10 17:18] ZehM4tt commented on #5579
It is possible that I've fixed this, see: https://github.com/OpenRCT2/OpenRCT2/pull/5578

[2017-06-10 18:25] RogoDarius opened #5585 "Inconsistent zooming with mousewheel"
**OS:** Windows 10
**Version:** 0.0.8
**Commit/Build:** 5c5389a

When zooming in and out with the mouse wheel, the first movement is not counted from furthest out or furthest in zoom level.

- [No] Reproducible in RCT2 (vanilla)?
- [Yes] Multiplayer?

**Steps to reproduce:**
1. Go to any map
2. From the lowest zoom level, roll the mousewheel back one click and observe the camera did not zoom
3. Ro

[2017-06-10 18:51] RogoDarius opened #5586 "Lowering land with mountain tool has inconsistent pricing"
**OS:** Windows 10
**Version:** 0.0.8
**Commit/Build:** 5c5389a

When lowering land with the mountain tool switched on, the cost can vary depending on where in the square the cursor is positioned.

- [No] Reproducible in RCT2 (vanilla)?
- [Yes] Multiplayer?

**Steps to reproduce:**
1. Go to any flat park
2. Go to the land deform tool
3. Press the green slope to turn mountain deformation on
4. Rais

[2017-06-10 19:08] IntelOrca commented on #5586
I think this is duplicate of #2127.

[2017-06-11 04:47] Patrik356b commented on #5586
Just skimming through it, I'd say no but related as the same thing wasn't mentioned.

[2017-06-11 09:47] janisozaur opened #5588 "crash in object selection"
**OS:** Windows
**Commit/Build:** 71b63a3c8a1ea39fd1d5d39f0ef556c6066dc98e

_Reported to me from NEdesigns, I haven't investigated yet_

Save
[Riverland 1 Season 001.sv6.zip](https://github.com/OpenRCT2/OpenRCT2/files/1066323/Riverland.1.Season.001.sv6.zip)

- during single player open object selection (the scenario editor window for object selection
- find an unused small scenery item and uncheck

[2017-06-11 10:15] #5588 closed

[2017-06-11 10:16] IntelOrca commented on #5588
Not sure if this fix is going to fix the specific issue this user is having as I got it just by hovering objects. But I can not reproduce crash after fix.

[2017-06-11 12:34] jensj12 commented on #5586
The best solution would be to not use the mountain tool at all when in a money scenario. The pricing has a bug that sawyer fixed by slapping a x4 multiplier on it. Still this looks like a bug I didn't know about yet, so thanks for reporting. It will eventually be fixed.

[2017-06-11 12:40] ipatix commented on #5580
I've ran into this as well. No idea what's causing it though.

[2017-06-11 12:45] rwjuk commented on #5586
I think this is a separate issue with the mountain tool, but probably caused by the same issue(s) that cause #2127.

[2017-06-11 12:55] rwjuk commented on #5576
Duplicate of #3187, this is a technical restriction for now as the setting is saved in the SV6, rather than global options. I'd like to see an "override real names setting of saved games" option however, so I'll leave this open.

[2017-06-11 13:25] IntelOrca commented on #5576
@rwjuk This can be done now if you like. Just simply ignore the setting within the SV6 and always use our own one.

[2017-06-11 19:32] Gymnasiast commented on #5584
It's supposed to only mark the currently loaded map.

Tagging @wolfreak99 who added this feature.

[2017-06-11 20:38] Liampie opened #5595 "No longer able to navigate map diagonally using arrow keys"
Windows 8
v0.0.8
3988b77

I often use the arrow keys to navigate the map. Press left and the view goes left. Press up and the view goes up. Press both, and the view moves diagonally. Usually. This has stopped working with the latest version!

[2017-06-11 20:45] Liampie opened #5596 "The map menu displays the park with weird colours"
Windows 8
v0.0.8
3988b77

The in-game map window shows the park with different colours than it used to, or what is used in ClosedRCT. Most notable, rides are no longer displayed in red but in blue, making the map very hard to read. Red stands out. Blue looks like water. The secondary view, the rides-focused one, also looks funny because the tiles without a ride or path are displayed in black, and

[2017-06-11 20:49] Liampie commented on #5577
Nice idea. What are the possibilities for customising the names available? The possible peep names are all in a database I assume (the combinations of first names and surnames are fixed). I guess the easiest thing would be if the staff would draw the names from this database as well. If it's possible to add entirely new names, that opens up a lot of ideas and possibilities.

In the future it would

[2017-06-11 21:17] UnsaltedCashews commented on #5559
I have a dump file now, take a look!
[Dump.zip](https://github.com/OpenRCT2/OpenRCT2/files/1066772/Dump.zip)

[2017-06-11 22:12] rwjuk commented on #5577
@Liampie Best to submit a separate issue for a separate idea - makes discussion easier to manage.

[2017-06-12 06:02] wolfreak99 commented on #5584
I'm assuming gScenarioSavePath does not get cleared out when a game is quit. I will see if there is any additional usage of gScenarioSavePath and, if it won't effect anything else, i'll have it clear out. I originally chose using this variable over adding a new and dedicated variable to make the PR as little intrusive as possible.

I also may end up creating a seperate variable anyway, as I notice

[2017-06-12 09:35] Gymnasiast commented on #5596
This affects both the regular view and the rides view of the Map window.

[2017-06-12 09:43] Gymnasiast commented on #5596
Most likely to be caused by

The rides being blue is caused by changing:
`0xB700`
to
`MAP_COLOUR_2(PALETTE_INDEX_135, PALETTE_INDEX_0)`
but the latter amounts to `0x8700`, rather than `0xB700`. It should have been
`MAP_COLOUR_2(PALETTE_INDEX_183, PALETTE_INDEX_0)`

[2017-06-12 10:13] janisozaur opened #5600 "Investigation of map_remove_provisional_elements is needed"
**Commit/Build:** 60bf508

As noted in the commit message of 60bf508, `map_remove_provisional_elements` may let some ghosts through. Investigation is required if that really is the case and how to handle them.

[2017-06-12 10:25] janisozaur commented on #5553
#5567

[2017-06-12 10:25] #5553 closed

[2017-06-12 10:26] #5596 closed

[2017-06-12 10:33] janisozaur commented on #5231
Fixes in #5243

[2017-06-12 10:33] #5231 closed

[2017-06-12 12:05] #5576 closed

[2017-06-12 13:11] janisozaur commented on #5579
@davewthompson how's the experience for you now that we've merged #5578?

[2017-06-12 13:13] janisozaur commented on #5058
Closing this as #5578 seems to have fixed it. Feel free to leave a comment/reopen, if you find it still affecting you.

[2017-06-12 13:13] #5058 closed

[2017-06-12 13:13] janisozaur commented on #4913
This has been fixed in #5156

[2017-06-12 13:13] #4913 closed

[2017-06-12 13:18] janisozaur commented on #4745
Hiring staff has been supported in multiplayer for a quite a while now

[2017-06-12 13:18] #4745 closed

[2017-06-12 13:24] janisozaur commented on #2066
Is it still valid?

[2017-06-12 13:28] Broxzier commented on #2066
Both the friction and music bug don't seem to happen in 4c67ef1.

[2017-06-12 13:58] janisozaur commented on #5559
That dump comes from a626a4a, a build more than half a year old. It's not worth even opening.

[2017-06-12 14:05] IntelOrca commented on #2066
I'll reopen if I counter this again.

[2017-06-12 14:05] #2066 closed

[2017-06-12 15:00] UnsaltedCashews commented on #5559
...
Oops wrong dump file :/

On Jun 12, 2017 7:58 AM, "Michał Janiszewski" <notifications@github.com>
wrote:

[2017-06-12 15:08] UnsaltedCashews commented on #5559
Okay here is the CORRECT dump file
[Dump2.zip](https://github.com/OpenRCT2/OpenRCT2/files/1068616/Dump2.zip)

[2017-06-12 19:58] janisozaur opened #5602 "Crash on new assert from #5587"
**OS:** Windows
**Commit/Build:**  25b6c61

#5578 introduced [new assert](https://github.com/OpenRCT2/OpenRCT2/blob/25b6c61/src/openrct2/network/network.cpp#L1326-L1327):

[code]

which is getting hit in live builds.

Here's the dump, provided to me by one of the users. It's quite large, so I had to split it, sorry.

[openrct2.DMP.7z.aa.txt](https://github.com/OpenRCT2/OpenRCT2/files/1069361/openr

[2017-06-12 19:59] janisozaur commented on #5602
Ping @ZehM4tt as author of #5578

[2017-06-12 20:01] jeroenwallaeys opened #5603 "Game fails on startup (macOS Sierra)"
**OS:** [Mac OS X 10.12.5]
**Version:** [0.0.8]

The games failes on startup. Error message can be found attached to this issue.

[OpenRCT2 error.pdf](https://github.com/OpenRCT2/OpenRCT2/files/1069373/OpenRCT2.error.pdf)

[2017-06-12 20:01] janisozaur commented on #5602
[openrct2-symbols-release-win32-25b6c61.zip](https://github.com/OpenRCT2/OpenRCT2/files/1069376/openrct2-symbols-release-win32-25b6c61.zip)

I was told this happening with 32 bit build, here are the symbols

[2017-06-12 20:13] janisozaur commented on #5603
@jeroenwallaeys can you please **NOT** post the stack trace as PDF? It makes it extremely tedious to work with.

[2017-06-12 20:28] IntelOrca commented on #5603
[stacktrace.txt](https://github.com/OpenRCT2/OpenRCT2/files/1069429/stacktrace.txt)

[2017-06-12 21:13] rwjuk commented on #5603
Can reproduce this - only happens on first startup, without a configured RCT2 directory. I imagine it's related to the changes in #5526.

[2017-06-12 23:39] #5603 closed

[2017-06-13 09:12] #5565 closed

[2017-06-13 13:39] jensj12 commented on #5602
Isn't this simply because of slow internet connections, causing the command to arrive after the execution tick has passed? If so, it is not possible to avoid this assert completely.
I'd rather see a warning being logged instead of crashing the game.

[2017-06-13 15:34] rwjuk opened #5607 "Function signatures for string drawing functions aren't uniform"
e.g. compare
`gfx_draw_string_left(rct_drawpixelinfo *dpi, rct_string_id format, void *args, sint32 colour, sint32 x, sint32 y)`
with
`gfx_draw_string_centred(rct_drawpixelinfo *dpi, rct_string_id format, sint32 x, sint32 y, sint32 colour, void *args)`

[2017-06-13 16:03] davewthompson commented on #5579
It doesn't desync immediately so it's an improvement but unfortunately there's a desync about 10 minutes into play...

We are using a wireless network though, so it could easily be that! We'll try again on a wired connection.

Thank you very much to you all for looking.

[2017-06-13 16:07] IntelOrca commented on #5579
It won't be. All desyncs will be caused by bugs in the code.

[2017-06-13 17:08] Juli199696 commented on #5579
Well desyncs are common in ORCT. Just check the "Disable disconnect on dsync" so you can play without getting disconnected. But i recommend you to play the parks just without money like the most of the Multiplayer Servers do.

[2017-06-13 19:24] xp4xbox opened #5608 "Feature: Change Train Type in Console"
This would be a useful feature to be able to change the train type while the ride is running. Especially for hacked rides, were you cannot close the ride to change the train type.

[2017-06-13 19:41] rwjuk opened #5609 "Miniature Railway vehicle bug when using 'select rides by track type'"
This happens only if you're in 'select rides by track type' mode.

1. Add the School Bus Ride and San Francisco Tram to a park
2. Build a Miniature Railway track
3. Set the vehicle type to 'School Bus'
4. Set the vehicle type (back) to 'San Francisco Tram'
5. See below - '0 cars in train' and no visual.

![capture](https://user-images.githubusercontent.com/16639257/27098103-4b7e723a-506e-11e7-931a

[2017-06-13 19:45] Gymnasiast commented on #5609
An interesting issue. It's most likely caused by the game trying to keep the number of cars the same when switching trains, but apparently not taking zero cars into account or the lower limit. If you click the button to increase the number of cars per train, it will revert to normal again.

[2017-06-14 00:02] rwjuk commented on #5177
Just FYI, I asked on gitter if people had any saves (particularly scenarios or RCT1 saves) with custom objects, to post them here for testing purposes.

[2017-06-14 06:29] Gymnasiast commented on #5177
RCT1 saves do not have custom objects. They're imported with only RCT2 equivalents.

[2017-06-14 07:26] Gymnasiast opened #5613 "Booster cleanup"
In RideObject.cpp, the ride type is checked against a local list of ride types. This should be moved to a function. The rest of the code has to be checked for this as well.

[2017-06-14 10:14] rwjuk commented on #5577
Hehe, nice little easter egg. As long as it wouldn't be a massive paint to implement, and everyone's happy with their name being used, I'd go with it! :)

[2017-06-14 10:20] Gymnasiast commented on #5608
Ooh, that sounds like a can of worms.

[2017-06-14 11:31] #4055 closed

[2017-06-14 11:34] Gymnasiast commented on #4054
Solved by 96a7a8ab508f09e3d0220ca6b363fa8ee8874201.

[2017-06-14 11:34] #4054 closed

[2017-06-14 11:34] Gymnasiast commented on #5400
Solved by 96a7a8ab508f09e3d0220ca6b363fa8ee8874201.

[2017-06-14 11:34] #5400 closed

[2017-06-14 11:58] Gymnasiast opened #5614 "Guard against NULL in TrackRepository.cpp"
Currently TrackRepository.cpp contains several calls like
[code]
after which ori is used without checking for NULL first.

[2017-06-14 14:06] #5613 closed

[2017-06-14 14:53] Gymnasiast commented on #3269
This is not something we will implement directly, but something we want our plug-in system to be capable of supporting, hence the label.

[2017-06-14 16:39] Patrik356b commented on #3269
Would be nice if you could set the spacing between the different items; benches, trashcans, lamp posts

[2017-06-14 16:42] Patrik356b commented on #5577
@Gymnasiast I really like this idea

[2017-06-14 16:46] Patrik356b commented on #4055
Though spinning tunnel isn't a problem for any other vehicle, except maybe the monster trucks.

[2017-06-14 20:28] KC-7 commented on #1500
How do you open this while playing? Please help, need ASAP for project

[2017-06-14 20:51] AaronVanGeffen opened #5617 "'PLATFORM_MODIFIER' defined twice on macOS"
**OS:** macOS
**Version:** 0.0.8
**Commit/Build:** 1dae7f9f3255777e516cc999182cdca458a4451c

Recent refactoring seems to have introduced this macro error:

[code]

[2017-06-14 20:53] Gymnasiast commented on #5617
Xcode also complains about this, even though it will let you compile anyway.
The solution is to surround the block in keyboard_shortcut with an ifndef.

[2017-06-14 20:54] AaronVanGeffen commented on #3269
For what it's worth, I thought I remembered a PR implementing this before — indeed, #4986 aimed to tackle this, but was ultimately rejected for the same reason.

[2017-06-14 21:00] Gymnasiast commented on #3269
No, it wasn't merged because it's a welcome addition for some people and unnecessary clutter or a departure from RCT for others. That's what I said on the other PR.

[2017-06-14 21:23] janisozaur commented on #5617
Have we not enabled Xcode's `-Werror`?

[2017-06-14 21:33] IntelOrca commented on #5617
No block, they just need removing from platform.h

[2017-06-14 21:37] IntelOrca commented on #1500
You need to enable debug tools from options. It is then available on the golden spade icon.

[2017-06-14 23:19] PFCKrutonium commented on #5577
I'm totally for it :D

And Hypothetically it shouldn't be hard to add - new dictionary of names, and when applying the names, simply rename them as a user would.

[2017-06-15 05:47] #5617 closed

[2017-06-15 05:48] Gymnasiast commented on #1500
@IntelOrca No, it isn't. It is then available from the gears icon next to the golden spade.

[2017-06-15 05:57] ZehM4tt commented on #5602
The assert means that the command in the queue will never be executed as you already ran past the tick number. There is no way to actually fix this, it would be more interesting to on how you are getting there.

[2017-06-15 09:12] Gymnasiast opened #5622 "Cannot load RCT2 files from directory with accents on macOS"
This appears to have broken again recently. It now crashes because it cannot load any scenery objects, even though it does accept the path (i.e. it does not ask me to select a directory where my RCT2 files reside).

[2017-06-15 10:35] rwjuk commented on #5622
Hmm... I'm guessing somewhere is missing the Unicode normalisation function.

[2017-06-15 11:09] Gymnasiast commented on #5622
It must be something new, as it did work up until a few days ago.

Can you reproduce it?

[2017-06-15 11:21] rwjuk opened #5623 "scenario_load_and_play_from_path needs minor refactoring"
Returns `sint32`, but the result is treated as a `bool`, flow control could be clearer.

[2017-06-15 11:50] Gymnasiast commented on #5623
Indeed. By the way, it's by no means the only occurrence.

[2017-06-15 13:00] rwjuk commented on #5623
Oh I don't doubt it - I just came across this one while finishing up the missing object window PR and didn't want to forget. Perhaps I'll do a mass sweep on weird function signatures like the `sub_<hex>` stuff...

[2017-06-15 14:31] rwjuk commented on #5623
`scenario_load()` goes on my hit list too.

[2017-06-15 15:28] Wuisj opened #5625 "Game starts to flicker after Alt+Tabbing out and closing all other tabs beside OpenRCT2"
**OS:** Windows 10
**Version:** 0.0.8-develop build
**Commit/Build:** 5f5f12a

**Steps to reproduce:**
1. Open OpenRCT2 Launcher and start the game
2. Alt+Tab out of the game and start for example your internet browser
3. Close all tabs but OpenRCT2 and OpenRCT2 will automatically try to get fullscreen

[2017-06-15 15:31] rwjuk commented on #5625
Can I just confirm - you say you're on version 0.0.6 - that's quite an old build, are you sure that's the one you have? If so, could you download the latest version from openrct2.org and retry with that one? Thanks!

[2017-06-15 15:55] Gymnasiast commented on #5625
Another thing is that '2164' is not a valid commit number. What we need is the seven-character build hash, which is displayed in the title screen and looks a bit like `a1b2cd3`.

But yes, make sure your game is updated to the latest `develop` version first.

[2017-06-15 16:27] Wuisj commented on #5625
I see, apparently earlier on I probably had problems with the develop version and I didn't know where to exactly submit issues, so I just went to the stable build. I think both the version and build I gave are of the launcher. I'm going to play for the rest of the evening so I'll notify if I encounter the bug in the develop version which would be build "5f5f12a", could I be right?

[2017-06-15 16:45] rwjuk commented on #5625
Yes, `5f5f12a` is the latest build.

[2017-06-15 21:05] janisozaur opened #5627 "Crash particles should be included in sprite checksum"
**Commit/Build:** 61d38511bce873dab1ce138ba3767b36260e9711

@duncanspumpkin:

they use scenario_rand now so they will sync

https://github.com/OpenRCT2/OpenRCT2/blob/61d38511bce873dab1ce138ba3767b36260e9711/src/openrct2/world/sprite.c#L206

[2017-06-15 21:07] duncanspumpkin opened #5628 "Name GAME_COMMAND_FLAG_7"
`GAME_COMMAND_FLAG_7` should be named. It is only set when placing footpath scenery.

[2017-06-15 22:43] xp4xbox commented on #5608
Just an extended thought, this option would also open a door for a new custom rides never capable before as not all trains are shoestringable (a special hack).

[2017-06-16 01:48] xp4xbox opened #5629 "Issue with Freefall Drop Mode, Downward Launch Mode, Rotating Lift Mode and Upward Launch Mode"
OS: Windows 7
Version: 0.0.8
25b6c61

In vanilla, while using those operating modes for a tracked roller coaster, the vehicle moves backwards in a steady pace. In openrct2, the vehicle's does frequent pauses so it moves much slower.

- [both] Multiplayer?

**Steps to reproduce:**
1. Build any tracked roller coaster as you would for a reverse-inclined one.
2. Set the ride operation mode to either d

[2017-06-16 07:41] Gymnasiast commented on #5608
You mean that you could change a train to all front cars, or all non-front cars, or even a weird mix?

[2017-06-16 07:52] IntelOrca commented on #5608
This will be possible with the new scripting engine.

[2017-06-16 09:58] AaronVanGeffen commented on #5617
The problem persists. @rwjuk removed the define for `KEYBOARD_PLATFORM_MODIFIER`, rather than the conflicting `PLATFORM_MODIFIER CMD`.

[2017-06-16 10:05] rwjuk commented on #5617
@AaronVanGeffen D'oh! New PR open with correct fix.

[2017-06-16 14:05] ZehM4tt commented on #5579
I'm currently working on improving the multiplayer aspect when it comes to desyncs, I've already submited a few new PR's so perhaps your experience will improve with the latest changes soon.

[2017-06-16 14:38] xp4xbox commented on #5608
@Gymnasiast I mean that you can change like a coaster train to a log flume train, or something like that while its running.

[2017-06-16 18:10] Gymnasiast commented on #5608
You were talking about shoestringing. As far as I know, it has nothing to do with changing the vehicle type.

[2017-06-16 18:25] xp4xbox commented on #5608
It would be usefull for shoestringing because for instance you want to make a shoestringed ride using log flume boats. You would use regular coaster trains that are shoestringable, then once the ride is setup, then you would turn the coaster trains into log flume boats.

[2017-06-16 18:51] Gymnasiast commented on #5608
There is the '255 cars per train' cheat for that.

[2017-06-16 18:51] xp4xbox commented on #5608
how does that make log flume cars shoestringable?

[2017-06-16 19:58] xp4xbox commented on #5629
I think the problem relates to this code `   switch (ride->mode){
    case RIDE_MODE_UPWARD_LAUNCH:
    case RIDE_MODE_ROTATING_LIFT:
    case RIDE_MODE_DOWNWARD_LAUNCH:
    case RIDE_MODE_FREEFALL_DROP:
        if (vehicle->velocity >= -131940){
            vehicle->acceleration = -3298;
        }
        if (vehicle->velocity < -131940){
            vehicle->velocity = vehicle->velocity / 16;

[2017-06-16 20:18] SidaRadis opened #5635 "Issue with loan interest adding money"
OS: Windows 7
Version: 0.0.8
Commit/Build: 9e1711c

I noticed that the loan interest in the Alton Towers scenario (.sc4) actually adds money instead of subtracting it. I thought it could be an issue with RCT1 importing but after additional testing in a sandbox scenario (.sc6) the issue seems to be that when the loan interest get too high it becomes a positive number.

Screenshots:
![alton towers 2

[2017-06-16 21:58] rwjuk commented on #5622
When I manage to revive my macOS machine, I will let you know! (battery weirdness...)

In the meantime, @marijnvdwerf @LRFLEW - can you replicate?

[2017-06-16 21:58] rwjuk commented on #5625
@Wuisj I can't replicate this in the develop build... could you use some screen recording software to record a video of exactly what happens?

[2017-06-16 22:00] ZehM4tt commented on #5627
From what I understand the crash particles are currently in the misc section of sprites which are excluded from the checksum. I'm guessing I have to actually include misc sprites and make sure that no misc sprite is used for a client side only render operation? Perhaps someone could share some insight on what would be required to support it. Since this is also related to vehicle crashes currently

[2017-06-16 22:33] ZehM4tt commented on #5600
It appears this is also the issue why ghost pieces may flicker in certain situations. Commenting out map_remove_provisional_elements(); and map_restore_provisional_elements(); resolves the flickering.

[2017-06-16 23:28] IntelOrca opened #5636 "Pausing the game shows mute button as active"
**OS:** ArchLinux
**Version:** 0.0.8
**Commit/Build:** 9e1711c345d549ecea2d9046bd9ae7f81d12305d

When pausing the game, the mute button shows the game as muted. While one could argue that this makes some sense, clicking the mute button during pause mode doesn't and you are mixing pause mute state with playing mute state.

[2017-06-16 23:43] rwjuk commented on #5635
Hmm, `current_interest_rate` is stored in SV6 as a `uint8`(!)...

[2017-06-17 00:11] rwjuk commented on #5635
@SidaRadis Nice find - you're right, it's caused by integer overflow.

[2017-06-17 02:26] LRFLEW commented on #5622
Hmm... can't seem to replicate it. I copied my RCT2 folder to have the name `rct2 with áccénts`, renamed my config file, and selected the folder in-game. Even after restarting the game, it worked just fine. I can mess with different Unicode normalizations in the config file to see if I can force it.

[2017-06-17 09:56] janisozaur commented on #5602
Fixed in #5631

[2017-06-17 09:56] #5602 closed

[2017-06-17 10:39] Gymnasiast opened #5639 "Rocket Cars not appearing when added to Forest Frontiers"
**OS:** Ubuntu 17.04
**Version:** 0.0.8
**Commit/Build:** 7094bbf

- [ ] Reproducible in RCT2 (vanilla)?
- [ ] Multiplayer?

**Steps to reproduce:**
1. Open Forest Frontiers
2. Open object selection
3. Add Rocket Cars (Mini roller coaster)
4. Close object selection
5. Open New Ride window.

The cars are not available at all, even when trying to switch to it using 'Show all vehicles'.

What I disco

[2017-06-17 10:42] Gymnasiast commented on #5639
Problem appears to lie in editor_object_selection.c, line 1728, that simply set the ride_type[0] as invented, regardless of whether it's RIDE_TYPE_NULL or not.

I'll tackle this.

[2017-06-17 11:52] #5639 closed

[2017-06-17 14:27] xp4xbox commented on #5629
I can guarantee that the problem is with this section of code, because when I tested out upward launch and rotating lift mode, the same bug occurred. If someone could help me out on this, I would be very appreciative, since this bug is necessary to be fixed for me.

[2017-06-17 16:17] SidaRadis opened #5647 "Right mouse dragging is affected by higher game speed"
OS: Windows 7
Version: 0.0.8
Commit/Build: 312adaf

Dragging the view point with right mouse becomes progressively faster when you increase the game speed. For example, dragging is faster in hyper speed than in quick speed. (only normal speed is unaffected)

Edit: Increasing or decreasing the price of a ride also has the same issue.

[2017-06-17 16:31] xp4xbox commented on #5629
OK, now I can confirm that that is the problem because, I was messing around with the numbers, and I was able to get the train go super fast and smooth.

[2017-06-17 20:12] RoyTheDragon opened #5648 "Sprite value shifting (Trains only)"
Build: 9F5D1CF
Version: 0.0.8-Dev

In some rare cases or if the condition is right, some of the train sprites that are originally there have a potential of turning into ground tiles, I'm not sure whether if it's the amount of sprites on screen at once or if it's something that happens at random when the game is processing the sprites.
I'm not sure if this is multiplayer exclusive or a single playe

[2017-06-17 20:16] janisozaur commented on #5648
Do you mean it regressed in or around 0.0.6-17 or you don't know about earlier versions?

[2017-06-17 20:21] RoyTheDragon commented on #5648
It regressed in 0.0.6-17.

[2017-06-17 20:30] janisozaur commented on #5648
There never was 0.0.6-17, but I'm assuming you mean 0.0.5-17: https://github.com/OpenRCT2/OpenRCT2/commit/9be47d11ed2c44dfdb24def8c7840a186e1494c3. Previous version: https://github.com/OpenRCT2/OpenRCT2/commit/8b5024a8932db450a923c96830f2081b4a0ad5d1

@RoyTheDragon what's your OS? Can you help in bisecting this?

[2017-06-17 20:35] janisozaur commented on #5648
@RoyTheDragon so it was supposed to be OK in this build: https://openrct2.org/downloads/develop/88ccfad but broken in this one: https://openrct2.org/downloads/develop/ea66b4c, is that the case?

[2017-06-17 20:52] RoyTheDragon commented on #5648
My OS is Windows 7 64 Bit. and somewhere around those versions.

[2017-06-18 06:45] duncanspumpkin commented on #5629
I've checked vanilla that bit of code is identical.

[2017-06-18 06:58] duncanspumpkin commented on #5629
Its probably an issue with `vehicle_update_track_motion`.

[2017-06-18 10:08] ZehM4tt commented on #5647
I think its possible this is my fault by a recent change of mine, I will take a look into this.

[2017-06-18 10:13] ZehM4tt commented on #5647
Just tested this, will submit a PR to fix this.

[2017-06-18 10:44] RogoDarius opened #5651 "Right-mouse drag speed affected by game speed"
**OS:** Windows 10
**Version:** 0.0.8
**Commit/Build:** e9038e5

When the game speed is set to "Turbo Speed" the camera notably pans faster when dragging with right mouse.

- [No] Reproducible in RCT2 (vanilla)?
- [N/A] Multiplayer?

**Steps to reproduce:**
1. Go to a park
2. Drag the camera around with the right mouse button (observe speed)
3. Hold + or set the game speed to Turbo Speed
4. Drag t

[2017-06-18 10:48] janisozaur commented on #5651
Duplicate of #5647

[2017-06-18 10:48] #5651 closed

[2017-06-18 12:44] xp4xbox commented on #5629
Huh,  I was able to get the operating mode almost working by changing those numbers.

[2017-06-18 17:13] xp4xbox commented on #5629
Actually it could be, since that effects all 4 modes.

[code]

[2017-06-18 20:00] Gymnasiast commented on #5628
Fixed in 595e73e2d91b9b451093687bec2d53b0e8ddcbb6.

[2017-06-18 20:00] #5628 closed

[2017-06-18 22:17] Wuisj commented on #5625
I would love to show you a recording of what happens, but the problem is, if I have a recording software running, the problem doesn't occur. Make sure you have closed all apps but OpenRCT2, make sure of this through the task manager. If it doesn't trigger then, try opening and closing your internet browser.

I can show you a recording with my mobile phone though, this doesn't make a clear view tho

[2017-06-18 22:51] IntelOrca commented on #5625
Does the problem occur if you set drawing engine to `Software`?

I suspect the issue may be driver related and something SDL2 would possibly need to fix.

[2017-06-19 01:32] SidaRadis commented on #5635
This might need to be re-opened because the issue is still happening in the latest build.

[2017-06-19 05:12] KC-7 commented on #1417
Any updates?

[2017-06-19 06:04] Gymnasiast commented on #1417
None since 18 May, no. As I said back then, after I removed the checks that prevented flat rides from being saved, it didn't work as expected, as the whole design would be 5-6 blocks too high. I'd have to find the cause, but I have no idea what causes it. And I have been busy with lots of other bugs/features.

[2017-06-19 14:42] marijnvdwerf opened #5657 "Android builds aren't pushed to openrct2.org"
- [ ] `develop` and `master` builds should be signed with a private key
- [ ] Built APKs should be deployed to website (Currently having arm and x86 builds)

[2017-06-19 14:54] marijnvdwerf commented on #5657
@JarnoVgr You handle the website, right? Can you add two new platforms for this?

[2017-06-19 15:01] Wuisj commented on #5625
Both Software and Fullscreen (borderless) seem to fix the issue individually. (So not both required) Thanks!

[2017-06-19 15:15] JarnoVgr commented on #5657
Tomorrow I'll drop you the details via gitter. :)

[2017-06-19 16:16] SidaRadis commented on #5635
I did some quick testing with a 5 000 000 loan at different interest rates.
8% = -48 828/month
9% = +49 926/month
10% = +43 822/month
11% = +37 719,20/month
20% = -17 212/month
30% = +26 610/month

[2017-06-19 17:08] rwjuk commented on #5635
Clearly #5637 didn't fix this entirely.

[2017-06-19 17:17] PendingOperation opened #5658 "Assertion failed errors in file "peep/peep.c" on parks from nedesigns.com"
**OS:** Windows 10
**Version:** 0.0.8
**Commit/Build:** 1074010

When opening parks from Nedesigns, assertion errors occur after letting the game play without doing anything. it is possible to hit ignore a billion times and continue playing, but it comes back after some time.

- [No] Reproducible in RCT2 (vanilla)?
- [not tried] Multiplayer?

**Steps to reproduce:**
1. Download any of the parks: h

[2017-06-19 19:40] KC-7 commented on #1450
Perhaps we could write in E/I/N values ourselves?

[2017-06-19 19:46] Jasper128 opened #5659 "ASSERTION FAILED! Failed to reallocate 3f20020 to have 0 bytes"
**OS:** Windows 7
**Version:** 32 bit
**Commit/Build:** ?

I am trying to install OpenRCT2. I have a windows 7 32 bit system.
So I downloaded the x86 exe file from the github (it was the most current version - v0.0.8 def76ed)
Upon finishing the installation I exited the setup with "Launch Openrct2" checked.
A blank window came up (as seen on the screenshot) with the ASSERTION FAILED error popout c

[2017-06-19 21:35] ZehM4tt opened #5665 "peep_remove is not removing them from rides."
Requires missing calls to peep_decrement_num_riders and remove_peep_from_queue if the state and sub state are set, otherwise it will never release the slot on the ride.

[2017-06-19 23:25] KC-7 commented on #1417
Alright. Thank you for your work.

[2017-06-20 00:51] SidaRadis commented on #5647
Should this be closed ? I believe #5650 fixed this issue.

[2017-06-20 05:55] PFCKrutonium opened #5666 "Game Freeze when Kicking someone in MP"
Since Build 993f078, it would appear that kicking someone will freeze clients.

(Got this as a bug report from someone running a server)

[2017-06-20 06:11] #5647 closed

[2017-06-20 07:28] Gymnasiast commented on #5666
Tagging @ZehM4tt .

[2017-06-20 08:35] Gymnasiast opened #5669 "COLOUR_COUNT and NUM_COLOURS mean the same thing"

[2017-06-20 08:46] #5669 closed

[2017-06-20 09:47] Gymnasiast commented on #5658
The two errors you bumped into are corruptions in the state of the save. We can correct them automatically.

[2017-06-20 11:29] IntelOrca commented on #5658
@Gymnasiast These are hacked saves, so we will probably have to assume this state can exist and protect against it.

[2017-06-20 11:30] Gymnasiast commented on #5658
Yes, which means clamping it to valid values, and outputting an error/warning saying we did.

[2017-06-20 18:08] alecward92 opened #5675 "Road pathways"
**OS:** [WIndows 7]
**Version:** [0.0.8]
**Commit/Build:** [e.g. 53be8da]

I have noticed the past few maps I have hosted, (Freedom Server) The road pathways "disappear". When first launching a map they show up and I can build as I please, but once I update/restart the server, they turn into a standard pathway when selecting paths. The road will remain placed on the map, but I cannot add more road

[2017-06-20 18:09] alecward92 commented on #5666
Everyone seems to get kicked once I try and kick only one person. I host the Server @PFCKrutonium is mentioning.

[2017-06-20 18:11] Gymnasiast commented on #5675
Laying down roads requires the 'Sandbox mode' cheat. Cheats are reset when restarting the server. (We plan to save the cheat state in the saved games eventually.)

[2017-06-20 18:15] alecward92 commented on #5675
I had no idea. Just tried it and it works. Never even realized Sandbox Mode was on at the time of making that road. But it makes sense. Thanks!!

[2017-06-20 18:24] #5675 closed

[2017-06-20 19:56] alecward92 opened #5676 "Last action issues"
**OS:** [WIndows 7]
**Version:** [0.0.8]
**Commit/Build:** [7748184]

I started a new map, maybe 10 minutes ago and I've noticed Last Actions for players aren't showing up. It just says N/A for everyone but myself. Freedom Server is my server and I updated maybe 30 minutes ago to my current build.

[2017-06-20 20:20] Gymnasiast commented on #5659
Which version of RollerCoaster Tycoon 2 do you have?
Can you open a command prompt, navigate to your OpenRCT2 directory, run openrct2.com and copy-paste its output?

[2017-06-20 20:59] RogoDarius opened #5677 "Underground balloons"
**OS:** Windows 10
**Version:** 0.0.8
**Commit/Build:** 7748184

Guests are able to drop balloons while underground.
I don't remember this ever occurring in the original games.

- [X] Reproducible in RCT2 (vanilla)?
- [X] Multiplayer?

**Steps to reproduce:**
1. Make an underground park
2. Sell balloons
3. Press H and V
4. Watch balloons being dropped from under-ground paths

**Screenshots / Video

[2017-06-21 02:56] FerrariForTheWin opened #5679 "Boosters not working in general"
**OS:** [Windows 10]
**Version:** [0.0.8]
**Commit/Build:** [7748184]

I noticed a few coasters that use boosters are not working right on multiplayer servers. The trains just get stuck on the track where the boosters are and don't gain speed like they're supposed to.

[2017-06-21 07:55] #5679 closed

[2017-06-22 00:05] gyates100895 commented on #5139
any progress on this? I have no problem recompiling every now and then to stay up to date but a ppa is much more user-friendly. Just an inquiry so feel free to ignore this comment.

[2017-06-22 07:31] ZehMatt opened #5684 "Refactor some network Packets that affect the game state to be tick bound."
Currently networking the player list is not bound to ticks where it should since the client always lags behind the server. We should perhaps refactor some packets to use game commands instead of being a simple network packets.

Example with PLAYERLIST packet:
  Player (3) is currently placing tracks, issuing game commands at client Tick 33331
  Player (1) kicks Player (3) at client Tick 33332
  Se

[2017-06-22 08:14] Gymnasiast commented on #5684
To me, it looks reasonable. The thing is I know next to nothing about the network layer, so I can't really comment. This is something for @IntelOrca @janisozaur and @zsilencer (if he is active again).

[2017-06-22 08:46] Gymnasiast commented on #5139
@gyates100895 Does the launcher not work for you?
Anyway, there is no progress on this I'm afraid. Janisozaur does not want to look into this and I know next to nothing about it.

[2017-06-22 10:12] janisozaur commented on #5684
We could have server remove kicked player's actions from the queue or if it fails to do so (e.g. the action has been already sent for the tick), defer kicking until earliest next tick.

[2017-06-22 11:15] duncanspumpkin commented on #5684
Why not just delay the kick for a nominal amount of ticks and disallow any future commands after the kick is in the queue.

[2017-06-22 11:24] ZehM4tt commented on #5684
@janisozaur On the server client actions are never queued they are directly processed and then sent to the clients, theres no chance catching it before messages go out, it would be really rare to be on the same Tick where kick and place track happens from two different clients.

Clients should always do the same as the server in the same order and the same time, manipulating anything between seems

[2017-06-22 14:49] ZehM4tt commented on #5666
This should be fixed, can you perhaps take a look?

[2017-06-22 16:45] zsilencer commented on #5684
PLAYERLIST does **not** affect game state

Game commands are separate, they are not tied to the player list at all.  The only reason kicking is a game command is to make use of the client->server, permission thats already there etc.  (modifying groups needs to be  a game command tho, cause that can actually affect future commands being rejected by server)

Lets say you actually did this, when some

[2017-06-22 17:14] ZehM4tt commented on #5684
Thats how pausing usually works when theres a round trip involved. The other way would be to simply have a separate list for the player list to show but the actual client cant vanish not before the kick command is executed on the client.

[2017-06-22 17:16] ZehM4tt opened #5686 "Pausing/Resuming as server freezes clients."
Its probably because of one of my recent changes, its not processing any more game commands when paused, I'm guessing resume is just another game command.

[2017-06-22 18:29] gyates100895 commented on #5139
The launcher does not work for me. It throws an error I can not think of at this moment but I will update this comment later with it. The good news is that @janisozaur clarified over on the forum what I was doing wrong compiling, so this has fallen to the wayside again for me

[2017-06-22 19:30] SidaRadis opened #5688 ""Do net let testing rides crash" does not work when two trains crash into each other"
OS: Windows 7
Version: 0.0.8
Commit/Build: fef10c1

If you test a ride with the "Do net let testing rides crash" setting on and two trains collide into each other the crash still occurs instead of the normal "reset".

[2017-06-22 19:37] Gymnasiast commented on #5688
The option is a kludge anyway, to be replaced by a ghost train eventually.

[2017-06-22 19:41] Alan489 opened #5689 "Opening"
**OS:** Win10
**Version:** 0.0.8
**Commit/Build:** 1F00469

- [ Has happened several times ] Reproducible in RCT2 (vanilla)?
- [ Unknown ] Multiplayer?

**Steps to reproduce:**
1. Go into game
2. (What happened to me) Use Six Flags create your own
3. Have cheats enabled on the following:
   a. Open park
   b. no money cheat
   c. own all land
4. Go into build attractions menu several times
5. Allo

[2017-06-22 19:42] rwjuk commented on #5689
What actually happens after point 5? The game just crashes?

[2017-06-22 19:43] rwjuk commented on #5688
Yeah, I'm guessing the game can't reset the ride quickly enough when trains actually collide. Not much we can do about that as @Gymnasiast rightly said.

[2017-06-22 19:47] Gymnasiast commented on #5689
Your problem is not clear, neither is your title. And you said

`[ Has happened several times ] Reproducible in RCT2 (vanilla)?`

which is probably not what you meant.

[2017-06-22 19:54] SidaRadis commented on #5688
Fair Enough

[2017-06-22 22:28] Nubbie opened #5690 "Muting music doesn't mute the title screen song"
The music on the title screen doesn't get muted when pressing the 'mute music' button

[2017-06-22 22:28] #5690 closed

[2017-06-22 22:35] RQWorldblender opened #5691 "Unable to build steep slopes for Junior Roller Coasters"
**OS:** Ubuntu GNU/Linux 16.04
**Commit/Build:** 92988a60203066d1f91f310af6e20bf9fb49896a

For about the past two weeks, I have wondered about what happened to the ability to build junior roller coasters with steep slopes (while the track pieces are still drawn in-game, they can't be built or selected from the ride construction window, so I can only build these rides in the way that has been impos

[2017-06-22 22:38] rwjuk commented on #5691
@Gymnasiast Could this be related to the ride groups change?

[2017-06-22 23:34] #5688 closed

[2017-06-22 23:45] rwjuk commented on #5625
Closing this as it's likely to be a driver-related issue, and a workaround exists.

[2017-06-22 23:45] #5625 closed

[2017-06-23 05:58] Gymnasiast commented on #5691
This is indeed related. It was changed deliberately. The reason for that is that we used to ignore what a vehicle was actually capable of and enabled steep inclines anyway. This caused glitches on steep inclines.

With the ride groups PR, vehicles for the Junior Roller Coaster have been split into two groups: Junior Roller Coaster (without steep inclines) and Classic Mini Roller Coaster (with stee

[2017-06-23 06:42] RQWorldblender commented on #5691
I just tried out the two DAT files; they work as intended (I think that the graphics are probably coming straight from Rollercoaster Tycoon 1), but I have the following minor complaints:
- Max # of trains for Classic Ladybird Trains is 8 instead of 10.
- Max # of trains for Classic Log Trains is 9? instead of 10.

I tested with a simple design with a station platform that is 6 units long.

P.S. If

[2017-06-23 07:01] Gymnasiast commented on #5691
Oh, yes, I forgot about that. Thing is, the limit in those files is set to 10, but there also seem to be a friction cap in RCT2 that prevents more than 8/9 cars from being used in this case. I'll take a took if that limit can be removed.

The graphics are indeed directly from RCT1.

There is a conversion of the Spinning Cars. I don't have it on this laptop, so I would have to find it on my desktop

[2017-06-23 07:42] Gymnasiast commented on #5691
I have just raised the friction cap. Please download the newest version and try again. Both trains should now be able to work with 10 cars.

[2017-06-23 14:36] Alan489 commented on #5689
Yeah, sorry about that, I rushed it a bit. I figured out thr cause, I
forgot I was using RCT1 as well, and the problem was that my RCT1 install
was actually corrupted. Sorry about that!

On Jun 22, 2017 15:47, "Michael Steenbeek" <notifications@github.com> wrote:

[2017-06-23 14:37] #5689 closed

[2017-06-23 14:43] Gymnasiast commented on #5689
Don't worry, good to hear your problem is solved. 👍

[2017-06-23 15:32] Gymnasiast commented on #739
I have fixed this. The problem is that the Crocodile Ride incorrectly sets a property normally reserved for flat rides. It will now behave like a regular Log Flume.

[2017-06-23 19:10] RQWorldblender commented on #5691
I tried out the newest version just now, and it worked! Now here's that I'm wondering: Are Classic Mini Roller Coasters going to be available out-of-the-box, or do I have to download these DAT files for every new installation I do? BTW, I'm still waiting on the Spinning Cars, but there's no need to rush this.

[2017-06-23 19:38] IntelOrca commented on #5691
You should keep your custom objects in your `documents\openrct2\object` directory, this is your user data that can be backed up and will be preserved between installs of OpenRCT2.

[2017-06-23 21:17] #1705 closed

[2017-06-23 21:35] rwjuk opened #5694 "Hovering a maze design over footpaths with disable clearance checks on behaves oddly"
1. Build some connected footpath sections.
2. Disable clearance checks via the cheat menu.
3. Try to build a Maze track design, and hover it over the footpaths.
4. This happens...
![image](https://user-images.githubusercontent.com/16639257/27501270-3b96f1c8-5864-11e7-9faa-f7f26b7dabfc.png)

@ZehM4tt said that they'd look into this. Existed prior to 20197d5.

[2017-06-24 06:33] felixletsplayYT opened #5696 "Can not start on raspberrypi"
**OS:Linux(raspbian minimal)**
**Version: 0.0.8**
**Commit/Build:050ac3d**

It will not start: pi@raspberrypi:~/OpenRCT2 $ ./openrct2 host world.sv6 --headless
bash: ./openrct2: cannot execute binary file

**Steps to reproduce:**
1.  Try to start

file shows:
openrct2: ELF 64-bit LSB executable, x86-64, version 1 (GNU/Linux), dynamically linked, interpreter /lib64/ld-linux-x86-64.so.2, for GNU/Lin

[2017-06-24 08:01] janisozaur commented on #5696
Yes ARMv7 builds were tested numerous times and work just as well as x86 and x86-64 ones, but we're not going to provide the builds for it ourselves. You have to roll your own.

[2017-06-24 15:35] pGore33p opened #5697 "Unable to run (0xc0000022)"
**OS:** Windows 8 64 bit
**Version:** 0.0.8
**Commit/Build:** b9e9ddf

For some reason, when I try to run the executable, it just pulls up this error. My antivirus is disabled, i have admin privileges but alas.

Older versions worked before so I have no idea why it doesn't work now.

Any ideas?

I have DirectPlay enabled. It still doesn't work

[2017-06-24 15:36] Gymnasiast commented on #5691
[SFSPIN.DAT.zip](https://github.com/OpenRCT2/OpenRCT2/files/1099851/SFSPIN.DAT.zip)

Here are the Spinning Cars. You'll need cheats to put them onto the Classsic Mini Coaster.
They're not a very good conversion, but they'll have to do until we replace the object format, at which point it will be a lot easier to load RCT1 stuff directly.

[2017-06-24 15:36] #5691 closed

[2017-06-24 15:38] Gymnasiast commented on #5697
I have never seen this error at all.

Open a Command Prompt, navigate to the OpenRCT2 directory and run
[code]
and paste the output.

BTW: You don't need DirectPlay for OpenRCT2. You only need it for RCT1 and RCT2.

[2017-06-24 15:41] pGore33p commented on #5697
Where's the output? It doesn't give me anything in the command prompt when i try that

[2017-06-24 15:42] rwjuk commented on #5697
Okay, can you take a screenshot of the error you get when trying to run the game?

[2017-06-24 15:44] pGore33p commented on #5697
![openrct 2](https://user-images.githubusercontent.com/10586092/27509784-a323fea8-5904-11e7-9641-66cc7185548b.PNG)

That basically says: "The application failed to start correctly. Press OK to end the application."

[2017-06-24 15:45] #5614 closed

[2017-06-24 15:46] Gymnasiast commented on #5697
Can you provide the _last_ version number that worked, and the first that didn't?

[2017-06-24 15:48] pGore33p commented on #5697
I don't really remember the last version it was like a year ago. I think it was 0.0.4.

[2017-06-24 15:53] Gymnasiast commented on #5697
We really need to know which version still works.  Try out older versions until you find one that works, then pinpoint the exact version that introduced this error for you.

Although I have to say I'm not sure if it's really an error in OpenRCT2, but we'll find out.

[2017-06-24 16:16] janisozaur commented on #5697
~~Poor man's~~ Windows' user's `strace`: https://knowledge.autodesk.com/search-result/caas/sfdcarticles/sfdcarticles/The-application-was-unable-to-start-correctly-0xc0000022-Click-OK-to-close-the-application.html

[2017-06-24 16:20] pGore33p commented on #5697
Version 0.0.7 is causing the issue. All the previous versions do work. It may be one of the 0.0.6 builds.

[2017-06-24 17:52] IntelOrca commented on #5697
This message can appear if you are running x64 apps on 32-bit OS or if DLLs are called that are a different architecture.

[2017-06-24 20:30] SinisterSoft commented on #5657
Is an APK going to be built for openrct2.org (like the other builds) or are there build instructions so I can make the APK myself?

[2017-06-24 20:33] marijnvdwerf commented on #5657
Given the current status, deployment to openrct2.org seems unlikely.

[2017-06-24 20:34] SinisterSoft commented on #5657
Are there build instructions then?  Where should the originals files go?

[2017-06-24 20:38] janisozaur commented on #5657
https://www.reddit.com/r/rct/comments/6i595z/openrct2_now_has_android_support/dj3o6qi/?context=10000

The APKs we build are pushed to transfer.sh for now

[2017-06-24 20:41] marijnvdwerf commented on #5657
Only occasionally though, and the current build is failing, meaning no new builds.

Anyway, the builds aren't exactly playable yet either.

[2017-06-24 20:59] Chaosmeister commented on #259
Hi everyone!
I just checked what the last issue in this project was and tried to solve it while getting to know the code.
I found the cause and a possible fix:

https://github.com/OpenRCT2/OpenRCT2/blob/develop/src/openrct2/ride/track_design.c#L62
This variable seems to store the Z value of the highest scenery element.
When executing window_track_place_get_base_z(), the SceneryZ value was not adde

[2017-06-24 21:08] janisozaur commented on #259
Hi, thanks. We have some issues labelled as `starter` that you may want to check out if you're intersted in doing some more.

[2017-06-24 21:51] Chaosmeister commented on #4301
How should usernames that consist only of whitespaces be handled?

[2017-06-24 22:18] Dracheron commented on #4301
simple, if it's all whitespaces, it's invalid... (imagine trying to click
on to copy and paste or guess the length of the name should it be all
whitespaces)

On Sat, Jun 24, 2017 at 5:51 PM, Tomas Dittmann <notifications@github.com>
wrote:

[2017-06-25 08:40] pGore33p commented on #5697
I have a 64 bit system so that's not the cause.
And which DLLs do you mean?

[2017-06-25 09:17] #259 closed

[2017-06-25 12:58] jensj12 opened #5704 "Cheat: allow all track pieces"
There are several tricks that involve using track pieces from different rides types on the same ride (the teleporter rides that use golf holes for example). Using the 'allow arbitrary ride type changes' cheat is required for this, but swapping between rides is tedious to me (especially if you don't know the order of the rides or the numbers associated with them). That's why I'd like to suggest a n

[2017-06-25 15:23] SidaRadis commented on #5509
One month later, this somehow seems this be fixed. I tried it this morning and no crash occurred.
I have a quick question while I'm here: Is the ability to build steep inclines on Junior Roller Coasters intended? I don't remember it being possible in vanilla (Select rides by track type is unchecked)

[2017-06-25 16:54] #5489 closed

[2017-06-25 18:42] Gymnasiast commented on #5704
Well, I'm glad you included that last paragraph, as I would certainly have said that otherwise. In addition, we cannot just use the dropdown either: it would take too much screen space and dropdowns can only handle 64 items anyway.

If anyone has a good idea how to handle this, please comment. Or even better: if anyone can implement it, please open a PR.

[2017-06-25 19:23] rwjuk commented on #5697
Let's say you have a 64-bit process, but it tries to load and call a 32-bit DLL.

The '32-bit shaped' block won't fit in the '64-bit shaped' hole, and the whole process crashes. I somehow doubt that's the problem here though. Could you try the following please?

1. Run OpenRCT2, let it crash.
2. Press CTRL-SHIFT-ESC to load Task Manager
3. Right click the OpenRCT2 process in the list and click 'Cr

[2017-06-25 19:44] rwjuk commented on #5704
Just throwing ideas around here, I'm not sure whether it would work, or even if it's a good idea anyway - how about a dropdown at the bottom of the ride construction window allowing ride type changes? This way you wouldn't need to load all pieces at once, but users can make the change without having to go the long way around.

[2017-06-25 19:52] IntelOrca commented on #5704
@rwjuk This is exactly what I want for changing the track type mid coaster. Although that would be when you could have multiple track types for a single ride.

[2017-06-25 21:35] rwjuk opened #5707 "Usernames may not be automatically detected for multiplayer"
Blank-named multiplayer users have been noticed recently, and lack of autodetection was reported during testing of #5706 (see [this comment](https://github.com/OpenRCT2/OpenRCT2/pull/5706#issuecomment-310929898)).

[2017-06-25 21:36] janisozaur commented on #5707
somewhat relevant may be the timing of https://github.com/OpenRCT2/OpenRCT2/issues/4301#issuecomment-310868004

[2017-06-25 21:38] jensj12 commented on #5704
If that works, why isn't that used for the current UI to switch ride types? Opening an extra window isn't the hard part, it's the spinner that makes it tedious. Opening a new window with a list of ride types would work as well.

When building vertical track, all the slope options are shifted a spot to the left or to the right. So idea: add 'spinner' buttons (arrow left/right) on both sides of the

[2017-06-25 21:50] janisozaur commented on #5658
I'm not convinced @IntelOrca, I've seen some servers that I don't think were using such hacked parks and yet exhibited these issues.

[2017-06-25 21:57] IntelOrca commented on #5658
@janisozaur ok... but the parks mentioned were created with vanilla RCT2.

[2017-06-25 23:19] #5509 closed

[2017-06-26 00:23] harrysbird opened #5709 "Language Spoken On Start Server Section"
Hello.

I Would to have Language Spoken Settings on the Server Config Section. Seen in OpenTTD
Some People can speak or chat another language like in: English, French, German, Japanese, China, Thai, etc

![idea](https://user-images.githubusercontent.com/3393747/27520945-a274430c-59ca-11e7-8590-1f53c8286d4f.png)

[2017-06-26 00:52] Nubbie commented on #5709
Isn't it easier just saying [GER], [SWE], [DUTCH] or something in the server name?
As it doesn't feel like there are that many people speaking specific languages - English feels more standard 😞

[2017-06-26 01:35] YJSoft commented on #5709
duplicate of #3116

[2017-06-26 02:03] ibara commented on #5707
To add a data point, I just installed the latest development build on a Win x64 machine, and it also did not autodetect the username.

[2017-06-26 03:05] ibara opened #5710 "Packaging question: generating g2.dat"
This is not so much an issue as a question.
At the beginning of the CMake install phase, CMake launches openrct2, which generates g2.dat. However, to do this, openrct2 downloads files from the Internet. This is not ok from the viewpoint of OpenBSD package building.

Is it possible to use a g2.dat file generated on one machine on another? Even across CPU architectures? So for instance, let's say I

[2017-06-26 05:29] #5709 closed

[2017-06-26 05:38] janisozaur commented on #5710
g2.dat is fully portable between supported architectures and there is no internet access required to build it, all the files are in the repo already. We do, however, download gtest redistributable and title sequence archive from the internet when you do `make package` (which is the same with other targets that build on top of package, like `install`).

The former is source only and the latter is a

[2017-06-26 09:01] felixletsplayYT commented on #5696
How do I build ARM

[2017-06-26 09:01] janisozaur commented on #5696
Same way as on x86

[2017-06-26 11:21] rwjuk commented on #5696
I'd recommend cross-compiling for ARM on your regular (assuming x86) PC, as compilation on a Raspberry Pi will be very slow.

[2017-06-26 13:57] rwjuk commented on #5575
I'm not sure this is related to the save game folder - the game will crash on opening the MP window on the very first run at the moment, but it has a different cause. Once #5712 is merged, please retry and see if the issue persists.

[2017-06-26 14:10] ibara commented on #5710
OK great. Thank you. That makes it easy for me to package it up.

[2017-06-26 14:27] rwjuk commented on #5710
I'll close this for now as it's just informational.

[2017-06-26 14:27] #5710 closed

[2017-06-26 14:39] rwjuk commented on #5707
Confirmed. `platform_get_username()` isn't actually ever called!

[2017-06-26 15:42] Chaosmeister commented on #5658
I just looked into this and I can't say if it is hacked or not.
How should this be automatically fixed?
Remove the whole ride? Change the station tiles to straight track tiles?
Ignore the station?
Right now it accesses the array `ride->exits` out of bounds and ultimately creates nonsense coordinates for the `peep_go_to_ride_exit()` call

[2017-06-26 15:45] Gymnasiast commented on #5658
By replacing the assert with code that clamps the value within the correct bounds and emits a warning saying it did.

[2017-06-26 17:23] Chaosmeister commented on #5658
Well that was too easy 🙃

[2017-06-26 19:17] janisozaur commented on #5658
First of all, there are two separate issues reported here. It's very annoying to work with such reports, furthermore @PendingOperation posted JPEG(!) screenshots which are unsearchable, so good job at that.

I'm not convinced this is only due to hacked parks. The assert should stay in, rather than that park should be fixed on import and generate a warning then – that way imported park has no way o

[2017-06-26 23:34] Chaosmeister opened #5717 "possible bug - might need SEQUENCE_TAKING_PHOTO instead"
**Windows 10**
**0.0.7**
**9b25a45**

https://github.com/OpenRCT2/OpenRCT2/blob/develop/src/openrct2/ride/vehicle.c#L6920

0x30 will be translated to SEQUENCE_30/SEQUENCE_LAST_VALID_STATION after #5716 and ____(future PR)

In the context of the code SEQUENCE_TAKING_PHOTO might be more correct.

[2017-06-27 09:10] janisozaur opened #5720 "Android builds fail due to missing cmake"
**OS:** Linux (Travis)/Android
**Commit/Build:** 04ed2d7

We have merged Android support, but the CI job fails due to being unable to find requested cmake package.

[2017-06-27 09:12] janisozaur commented on #5686
Fixed in #5687

[2017-06-27 09:12] #5686 closed

[2017-06-27 09:19] janisozaur commented on #5434
We can now offer a fully headless build that doesn't require SDL2

[2017-06-27 09:19] #5434 closed

[2017-06-27 09:22] janisozaur commented on #5268
Closing this in favour of #5342.

[2017-06-27 09:22] #5268 closed

[2017-06-27 09:23] janisozaur commented on #5228
@Gymnasiast @RoelerCoaster can you re-check?

[2017-06-27 09:25] janisozaur commented on #5214
Ping @ZehM4tt

[2017-06-27 09:25] janisozaur commented on #5213
Ping @ZehM4tt

[2017-06-27 09:28] janisozaur commented on #5127
Should be taken care of in https://github.com/OpenRCT2/OpenRCT2/commit/0414ba7f6bbdfe18163e225a97a4a4d348526e1b

[2017-06-27 09:28] #5127 closed

[2017-06-27 09:48] Gymnasiast commented on #5228
Still present.

[2017-06-27 12:27] #5707 closed

[2017-06-27 13:43] pGore33p commented on #5697
Here it is.

[2017-06-27 13:48] pGore33p commented on #5697
http://www.mediafire.com/file/q0kxn6xq78ta1g4/openrct2.DMP

here it is.

[2017-06-27 13:50] #5676 closed

[2017-06-28 15:59] Gymnasiast commented on #441
In a nutshell: when advancing from landscaping to setting up inventions in the Scenario Editor, it will check the entrance path and make all tiles unowned, erasing all construction rights the user just set on it.

I'm currently working on a fix.

[2017-06-28 16:57] Patrik356b commented on #5509
@Gymnasiast would probably know

[2017-06-28 20:38] bsamario opened #5728 "Unable to close park"
**OS:**  Windows 10

I made a custom scenario and when I play it does not give me the option to close the park. I prefer to be able to build my park then open it.. Also it did not let me unclick the "no money" option, I like to know I am making a profit. Thank you!

[2017-06-28 20:44] IntelOrca commented on #5728
You can not open or close the park when money is turned off.

[2017-06-28 20:45] bsamario commented on #5728
how can I turn the money off? when I tried it would not let me change

[2017-06-28 20:54] Gymnasiast opened #5730 "When 'No money' is checked in the Scenario Editor, it cannot be unchecked"
This does not happen when opening the same window from the Cheats window during a normal game.

[2017-06-28 20:55] #5728 closed

[2017-06-28 20:57] #5720 closed

[2017-06-28 21:18] IntelOrca commented on #5728
Unable to turn money off appears to be a bug:
#5730

[2017-06-28 21:49] PFCKrutonium opened #5731 "Rotating the screen on Android has a chance of Crashing the game"
**OS:** Android 7.1.2 (Lineage OS)
**Version:** 0.0.8
**Commit/Build:** 41cdf32

Rotating the device (which rotates the game) seem to crash the game randomly.

- [ ] Reproducible in RCT2 (vanilla)?
- [ ] Multiplayer?

**Steps to reproduce:**
1. Install OpenRCT2 for Android and Open
2. Rotate the screen a bunch of times.

[2017-06-29 00:36] rwjuk commented on #5575
Could you retest this on the latest build now that #5712 has been merged?

[2017-06-29 09:30] #441 closed

[2017-06-29 10:01] #5730 closed

[2017-06-29 12:57] rwjuk commented on #5697
Hmmm.... windbg reports the bugcheck as `LOADER_INIT_FAILURE_80000003`, which makes me think that IntelOrca's DLL suspicions might be right. The full windbg analysis is [here](https://gist.github.com/rwjuk/70f430541277b915f0e021189146489c).

[2017-06-29 14:10] IntelOrca commented on #5697
@pGore33p Could you try download and using the 32-bit version?

[2017-06-29 14:11] Gymnasiast commented on #499
Since this issue report, some bugs in original object detection have been fixed, filtering has been added and (using debugging tools) one can now see the filename of any duplicates left.

The content downloader is not related to this bugs.

For these reasons I'm closing this.

[2017-06-29 14:11] #499 closed

[2017-06-29 14:18] Gymnasiast opened #5733 "Disable creating money effect when building in pause mode"
This causes money effect spam and is also a big part of the problem in https://github.com/OpenRCT2/OpenRCT2/issues/3479 .

[2017-06-29 14:39] #578 closed

[2017-06-29 14:50] rwjuk commented on #5697
Furthermore, if that doesn't work, could you do this - it'll help us with diagnostics.

1. Download Process Monitor: https://technet.microsoft.com/en-us/sysinternals/processmonitor.aspx
2. Run it.
3. Run OpenRCT2 and let it crash.
4. In Process Monitor, go to "File > Save".
5. Leave all options at their default setting, save the PML file somewhere and upload it here.

[2017-06-29 15:32] #597 closed

[2017-06-29 16:14] Gymnasiast commented on #5418
The changes @rwjuk mentioned have been implemented in the meantime, so closing this.

[2017-06-29 16:14] #5418 closed

[2017-06-29 17:18] #667 closed

[2017-06-29 18:08] pGore33p commented on #5697
Nah, didn't work.
The PML file: https://www.mediafire.com/?et6tuo78wauu65l

[2017-06-29 18:12] #5733 closed

[2017-06-29 18:14] #3479 closed

[2017-06-29 18:39] bsamario commented on #5733
Hi! Would this cause the game to keep crashing giving the message
"assertion failed!
file: paint/sprite/sprite.c
line:86
expression: false"
I took your advice yesterday and used the cheat to allow money and close the park but maybe I did it while the game was paused? Now my game won't play a few minutes without crashing :(

[2017-06-29 18:42] Gymnasiast commented on #5733
That's another problem. Please open a new Issue for that.

[2017-06-29 18:49] bsamario opened #5739 ""assertion failed" message"
**OS:**Windows 10

Hello, I recently enabled the cheats, closed my park, and changed it from no money to money enabled. Now I keep getting the message
"assertion failed!
file: paint/sprite/sprite.c
line:86
expression: false"
I'm not even sure what sprite is, I've been searching the forums and see the word used but I'm not understanding.

Save game:
[Pine Hills Parkbecky - Copy1.zip](https://github

[2017-06-29 18:51] Gymnasiast commented on #5509
It's not possible in vanilla, and in OpenRCT2 only when importing or when using a vehicle capable of drawing them.

[2017-06-29 19:03] rwjuk commented on #5697
@pGore33p Interesting, I can see from the trace that OpenRCT2 tries to load its DLL (`openrct2.dll`) but gets an access denied error. I'm not sure what could cause that without looking at your machine.

@IntelOrca - any suggestions for further diagnostics?

[2017-06-29 19:15] xp4xbox commented on #5739
I could not replicate the issue, I was able to enable to money no problem, here is the save with the money enabled--->
[Pine Hills Parkbecky - Copy.sv6.txt](https://github.com/OpenRCT2/OpenRCT2/files/1113266/Pine.Hills.Parkbecky.-.Copy.sv6.txt)

[2017-06-29 19:21] Gymnasiast commented on #5739
What is your OpenRCT2 version? You just deleted the field, but it's there for a _very good reason_.

[2017-06-29 19:50] IntelOrca commented on #5697
Sometimes virus scanners have been known to block OpenRCT2.

[2017-06-29 20:26] bsamario commented on #5739
I changed the version a few times, downloading a new one about an hour before I posted this to see if that would help. I'm not sure which one as there have been a few new versions in the last few hours but I'll update to the newest and try again. Also I am not sure how to reproduce because I will just play for a  few minutes and it happens randomly, or freezes when I go attempt to save.

[2017-06-29 20:37] bsamario commented on #5739
I am now using version b39723a. Still having same problem, was building scenery for about 5 minutes and game froze randomly.

[2017-06-29 20:50] janisozaur commented on #5731
[code]

Looks like we try to access a resource that may be removed while rotating.

[2017-06-29 23:54] SidaRadis opened #5741 "Construction rights are not displayed"
OS: Windows 7
Version: 0.0.8
Commit/Build: 659ccc0

The little icons that show available construction rights are not displayed. (if you move your mouse over where they usually can be bought the money it would cost you is still visible in the land rights window)
If you click construction rights and then go back to buy land, the buy land icons also disappear.

Screenshot:
![pokey park 2017-07-01 14-

[2017-06-30 04:37] pGore33p commented on #5697
My antivirus is disabled so that isn't the case too.
It's strange that both the x86 and x32 versions don't work

I hope it gets fixed soon :/

[2017-06-30 09:01] PFCKrutonium commented on #5507
Upon further poking, it seems that because of the case sensitivity, except for loading scenarios, it breaks RCT1 import, in that it cant load sprites, music (where applicable) etc, because the casing is incorrect.

[2017-06-30 10:56] keiyakins opened #5743 "[Feature] Automatically copy RCT1 theme if not found and RCT1 folder set"
**Version:** v0.0.8-develop
**Commit/Build:** f3b3345

If the RCT1 folder is set, the game should be able to copy RCT1 css17.dat to css50.dat on its own, or alternately just load it directly from the RCT1 folder.

[2017-06-30 11:07] Gymnasiast commented on #5743
It already works like that.

[2017-06-30 11:07] #5743 closed

[2017-06-30 12:19] keiyakins commented on #5743
What the heck? It doesn't work with my copy...

... hunh, bizarre, the steam version doesn't have css17.dat... where is it finding the music then?

[2017-06-30 12:36] Gymnasiast commented on #5743
The disk version has files on the hard drive and files on the CD. Steam appears to reflect that, while GOG does not. OpenRCT2 can handle all three, but you need to point it to the correct folder if there are two of them.

[2017-06-30 12:51] keiyakins commented on #5743
So which folder is correct: the one without scenarios, or the one without the music?

[2017-06-30 13:13] Gymnasiast commented on #5743
It hard because both the disk and the GOG version have all necessary files in one place, while Steam apparently does not, if it indeed saves Scenarios in one folder and music in the other. In such an instance the only thing the user really can do is copy all of them to one folder, as far as I can see.

[2017-06-30 13:24] Gymnasiast commented on #4094
Point is the following: the construction window enables the steep slope button when TRACK_SLOPE_STEEP or TRACK_SLOPE_STEEP_LONG is enabled for the ride type. This is good for regular flat-to-steep pieces, but not for those with a long base, as they don't have diagonal equivalents. The construction window should be modified to disable the steep slope buttons when in diagonal mode. Problem here is t

[2017-06-30 13:42] Gymnasiast commented on #828
1) Agreed
2) I don't think it should display an error, it's clear enough. It should not play a sound effect though.
3) I think all tools should display an error.

[2017-06-30 14:03] IntelOrca commented on #828
I think it should display an error if all all tiles in your selection fail. It should not display an error if at least one tile succeeds.

[2017-06-30 17:08] pGore33p commented on #5697
I don't think that's related, but I just got this EXACT same error when i tried to open Skype, but I don't remember doing anything to my computer over the past few days/weeks.

[2017-06-30 22:13] #5253 closed

[2017-07-01 00:31] #5658 closed

[2017-07-01 00:35] #5583 closed

[2017-07-01 00:47] rwjuk commented on #5697
If the exact same issue is happening with other applications, it is *very* unlikely to be an issue with OpenRCT2. The reason older versions work is probably because back then we didn't need to load a separate DLL.

It's likely to be something on your system blocking the loading of DLLs. I'll close this as it's not really an OpenRCT2 issue.

[2017-07-01 00:47] #5697 closed

[2017-07-01 03:44] spacek531 commented on #4512
Using 252555df and it's happening. It happens only on the side that is _not_ changed when you increase map size in sandbox mode with any size mountain dragger.
![image](https://user-images.githubusercontent.com/3454156/27758887-c68ccaf8-5dd4-11e7-91cb-1315b50c3ea1.png)

[2017-07-01 09:41] IntelOrca commented on #5697
Older versions did not use a DLL, (but not too old) did not use a DLL - that is probably also why.

[2017-07-01 09:49] LordHISKI opened #5749 "Game Crash when I test the roller coaster"
Everytime i try to test my rc (mine train 2) my game crash. I dont know why and there is no explanation.

**Save game:**

[Gamecrash.txt](https://github.com/OpenRCT2/OpenRCT2/files/1116966/Gamecrash.txt)

[2017-07-01 09:59] IntelOrca commented on #4512
@spacek531 Could you give instructions on how to reproduce this from startup? If I try going into the scenario editor and then using the mountain tool on all sides of the map, it doesn't happen.

[2017-07-01 10:15] Gymnasiast commented on #5749
You removed several fields in the template and did not fill in the upper three. We cannot help you if you don't provide that information.

[2017-07-01 11:11] IntelOrca commented on #5749
**Loop stuck during creation of vehicles:**
loc_6DDF9C:4885:
[code]

**Stack:**
[code]

[2017-07-01 11:29] LordHISKI commented on #5749
i didnt do anything. I builded the coaster without any cheat or something. Just normal. I didnt removed anything

[2017-07-01 11:31] IntelOrca commented on #5749
@Gymnasiast could you check if this happens in vanilla?

[2017-07-01 13:45] wolfreak99 commented on #5749
@Gymnasiast  I just tested it in Vanilla RCT2 (GOG version), and it shows an access violation.

I'm also on windows 10 and the game tends to minimize about 3 times while it opens into full screen, and i checked if it would run the Six Flags Belgium scenario okay and it stops responding about 5 seconds (with no access violation error) into the game, but for what it's worth, this save file does seem

[2017-07-01 17:32] IntelOrca commented on #5749
Interestingly, if you save the track design and place it elsewhere in the map - it works.

[2017-07-01 18:35] IntelOrca commented on #5749
Removing the diagonal chain lift that goes from up to straight will fix it. I am not sure why it causes a problem yet.

[2017-07-01 20:47] spacek531 commented on #4512
I'm editing this file (rename to sv6 on downloading):
![maple springs p3](https://user-images.githubusercontent.com/3454156/27765359-b0201b82-5e63-11e7-8bf3-72e56ed1ca2a.png)

On the corner of the map that has "Spacek" in yellow trees, any time the mountain tool manipulates a tile on the edge, it happens.

[2017-07-01 20:53] spacek531 opened #5750 "OpenRCT2 locking up consistently, no reports"
**OS:** Windows 8.1
**Version:** 0.0.8
**Commit/Build:** 3ca84dc

OpenRCT2 has been locking up a lot since I started playing again yesterday. I've only just found it happening consistently, so here is this bug report.

- [ ] Reproducible in RCT2 (vanilla)?
- [ ] Multiplayer?

**Steps to reproduce:**
1. Open this file (rename to .sv6)
![ne s sandwich springs crashes](https://user-images.githubuserc

[2017-07-01 21:01] zsilencer commented on #5750
Looks like same as #3675

[2017-07-01 21:25] ccoors commented on #5750
Also #5184

[2017-07-01 22:37] IntelOrca commented on #4512
@spacek531 Can you find a way of reproducing it without loading a saved game?

[2017-07-01 22:37] spacek531 opened #5751 "Title sequence seconds are about 0.8 seconds"
While putting together the latest title sequence I noticed something odd: title sequence seconds seem to be faster than real seconds. Take this test sequence for example:
[Seconds Test.zip](https://github.com/OpenRCT2/OpenRCT2/files/1117459/Seconds.Test.zip)

(put it in your `OpenRCT2\title sequences` folder and rename it from `.zip` to `.parkseq` before loading)

There is a single 30-second shot

[2017-07-01 23:04] #5751 closed

[2017-07-01 23:07] #1399 closed

[2017-07-01 23:07] #5177 closed

[2017-07-02 00:49] spacek531 opened #5752 "Title sequences are noticeably desynchronized"
This is submitted for tracking purposes.

Commit 14443b30f1113420d6e55b2a8e12e20d72768ca0 changed title sequence seconds from 800 ms to 1000 ms. This creates issues because shots are taking on average 2 seconds longer than they were designed to and that time difference stacks, with negative results. Roller coasters are no longer in the frame and the camera spends time looking at non-moving rides.

[2017-07-02 00:51] IntelOrca commented on #5752
I didn't agree to that. What I want to do is change the format of wait commands to now be in milliseconds and update our title sequences to use milliseconds. For example a wait command of `10` will become `8000` (10,000 * 0.8)

[2017-07-02 00:52] spacek531 commented on #5752
I started penning this before you edited, so, sorry about that.

[2017-07-02 01:59] spacek531 commented on #5752
pull request converting Title Sequence Seconds to ms: https://github.com/OpenRCT2/title-sequences/pull/1

[2017-07-02 04:13] Trongsin opened #5753 "Guests will not wait in queues"
**OS:** [Windows 10]
**Version:** 0.0.8
**Commit/Build:** cb28381

I actually joined the forum for this reason. In RCT2 vanilla, guests would wait for hours (literally) as long as entertainers and TVs were in the line. In Open RCT2 that's not the case. They start complaining after a few minutes even with entertainers and TVs. It's a real bummer because I spend a lot of time on long, themed queues.

[2017-07-02 04:17] PFCKrutonium commented on #5750
I'm sitting in a Server with ~ 7 people, and this is happening far too frequently to be left alone imho.

[2017-07-02 04:18] PFCKrutonium commented on #5750
![crasg](https://user-images.githubusercontent.com/3945538/27767177-ec852db2-5ebb-11e7-9187-52971abbcf1e.png)

[2017-07-02 04:59] spacek531 commented on #5753
In this case, Reproducible in RCT2 would _not_ be checked, because the bug does not happen in RCT2.

[2017-07-02 09:30] Gymnasiast commented on #5753
You haven't filled in the form properly. Fill them in please. Especially the commit/build is important.

[2017-07-02 11:18] #5507 closed

[2017-07-02 12:25] IntelOrca commented on #5750
For this saved game, the damage is already done - ride 22 has its `last_peep_in_queue` set to a sprite that is not a peep. So I can't determine what caused this state from this saved game alone.

[2017-07-02 13:37] IntelOrca opened #5756 "Low performance when ride list window is open"
When opening the ride list window, the game grinds to a halt. This is due to the recent addition of the "ride has track" check that is invoked every tick.

[2017-07-02 14:46] Trongsin commented on #5753
I apologize, I don't know the information on the form all that well. Where can I find commit/build info?

[2017-07-02 14:48] Gymnasiast commented on #5753
In the lower left of the title screen, looks a bit like 426e106.

[2017-07-02 14:51] Trongsin commented on #5753
Thanks! Is there any other information I need?

[2017-07-02 15:48] pizza2004 commented on #5756
I was wondering.  If you build a ride but fail to add any track, this change makes it not appear in the rides list, so how would you select it to delete it?  Or does it automatically delete itself once you leave construction?

[2017-07-02 16:31] jensj12 commented on #5749
Duplicate of #3846. If a train starts on a diagonal chain lift (in block brake mode), the game crashes.

[2017-07-02 16:33] jensj12 commented on #5147
I can't test the save because of missing objects. Can you check if it's a duplicate of #3846?

[2017-07-02 16:50] IntelOrca commented on #5756
Yes

[2017-07-02 17:29] Gymnasiast commented on #5756
Would checking for overall_view != 0xFFFF suffice?

[2017-07-02 18:43] rwjuk commented on #5756
@Gymnasiast what does `ride->overall_view` mean?

[2017-07-02 19:02] Chaosmeister commented on #5205
https://github.com/OpenRCT2/OpenRCT2/blob/develop/src/openrct2/interface/viewport.c#L711
becomes an inifiniteloop because of signed integer overflow of `dpi1.x + dpi1.width`

I'm on it

[2017-07-02 19:28] Gymnasiast commented on #5756
It sets the coordinates that are used when you select 'Overall view' in the first tab (where you can switch between Overall view, Station 1, Station 2, Train 1, Train 2, etc.).

[2017-07-02 19:35] rwjuk commented on #5756
@Gymnasiast Oooohhh... can we rely on that being 0xFFFF (and not, say, some junk value) if a ride has no non-ghost elements? I think I've found a solution, but if that works...

[2017-07-02 19:42] IntelOrca commented on #5756
It might not be 0xFFFF if you remove the original piece, but still in construction mode.

[2017-07-02 20:42] spacek531 opened #5759 "Crash when closing ride window"
**OS:** Windows 8.1
**Version:** 0.0.8
**Commit/Build:** cb28381

Sometimes when clicking the X button on a window, the game crashes.
Possibly related to crashes when clicking the rotate map button.

**Steps to reproduce:**
1. Build your park, minding your own business
2. Close a ride window via the X button
3. Boom. Crash.

**Dump file**

tba

[2017-07-02 21:52] spacek531 opened #5760 "Fence slope data isn't saved (or isn't loaded)"
**Commit/Build:** cb28381

Rides saved with sloped fences do not have sloped fences when loaded:

![image](https://user-images.githubusercontent.com/3454156/27773770-d064cbea-5f35-11e7-9552-edd5c368d3cc.png)

This is important for building designs because many NCSO players use sloped fences as roof trim.

It is unknown if this is an original bug.

- [ ] Reproducible in RCT2 (vanilla)?
- [ ] Multip

[2017-07-03 00:37] e-foley commented on #5760
I think the existing behavior is pretty reasonable.  Would you prefer floating fences in this situation?

A *really* fancy solution would let you save the terrain state with rides, which would preserve hills and tunnels.  But that's outside the scope of this Issue.

[2017-07-03 00:39] spacek531 opened #5761 "Mini coaster doesn't appear despite being selected"
**OS:** 8.1
**Version:** 008
**Commit/Build:** cb28381

Its as if the mini coaster doesn't exist in the object selection at all... can't build it from the build menu, can't select the automobile cars with "select vehicles from other ride types"

- [ ] Multiplayer?
- [ ] Reproducible in RCT2 (vanilla)?

.sv6 provided below:

[Where in the World is the Mini Coaster.txt](https://github.com/OpenRCT2/O

[2017-07-03 00:41] spacek531 commented on #5760
Consider this building:
![image](https://user-images.githubusercontent.com/3454156/27774792-a1781090-5f4d-11e7-8750-a1cdca54634b.png)

It is unreasonable to have to use the tile inspector to fix those fences every time.

[2017-07-03 00:50] rwjuk commented on #5761
I found that if I use the object editor to add a WW/TT Mini Coaster vehicle (a regular RCT2 vehicle doesn't work), the Mini Coaster and Automobile cars show up.

Here's a version with the automobile cars on the Spiral Coaster.
[Where.in.the.World.is.the.Mini.Coaster.zip](https://github.com/OpenRCT2/OpenRCT2/files/1118190/Where.in.the.World.is.the.Mini.Coaster.zip)

[2017-07-03 00:55] spacek531 commented on #5761
Unfortunately I do not have WW nor TT installed.

[2017-07-03 00:57] rwjuk commented on #5761
Ah, here's a version with the WW/TT object deselected - the automobile cars still show up on the coaster now I've added them.

[Where.in.the.World.is.the.Mini.Coaster.zip](https://github.com/OpenRCT2/OpenRCT2/files/1118200/Where.in.the.World.is.the.Mini.Coaster.zip)

[2017-07-03 00:57] spacek531 commented on #5761
Strange bug. Thanks!

[2017-07-03 00:59] rwjuk commented on #5761
Strange indeed.

[2017-07-03 06:28] spacek531 opened #5762 "Crash when rotating map"
**OS:** Windows 8.1
**Version:** 0.0.8
**Commit/Build:** cb28381

Sometimes when clicking the rotate map button, the game crashes.
Possibly related to crashes when closing windows with the X button.

**Steps to reproduce:**
1. Build your park, minding your own business
2. Rotate the map. Button or keystroke.
3. Boom. Crash.

**Dump file**
warning large file

dump when clicking button:
https://www.

[2017-07-03 06:54] IntelOrca commented on #5760
I think this is a limitation of TD4/6 files.

[2017-07-03 06:56] #5750 closed

[2017-07-03 06:57] #5756 closed

[2017-07-03 08:04] spacek531 opened #5763 "This .td6 has some unusual behavior"
**OS:** Windows 8.1
**Version:** 0.0.8
**Commit/Build:** 126dOdf

The included .td6 file has no preview in the window. The ghost appears as normal. When you place the ride, it subtracts the money as normal, but the ride disappears and it opens the ride edit window with the place entrance cursor, but no entrance can be placed. Opening the console and typing `rides list` returns no results.

.TD6 fi

[2017-07-03 08:32] IntelOrca commented on #5763
Does it build correctly with disable clearance and disable support limits?

[2017-07-03 08:38] janisozaur opened #5764 "Pushes to master branch should build android"
Android jobs take long time on Travis, so were disabled in favour of having cron-based jobs.

This would prevent us from doing the build from the release commit, which is done by pushing to master. Android jobs should check the branch and build tagged commits on `master` in addition to cron.

[2017-07-03 08:55] Nubbie commented on #5762
**Error message;**
none

**Call stack;**
[code]

**Local at like 2;**
[code]

[2017-07-03 08:56] spacek531 commented on #5762
it appears the method of rotating the camera isn't important (button vs. keybind) so I will hold off on that dump because these are massive files.

[2017-07-03 09:11] janisozaur commented on #5762
Looks related to https://github.com/OpenRCT2/OpenRCT2/pull/5757? Invalid sprite once again

[2017-07-03 09:22] IntelOrca commented on #5762
@janisozaur Different kind of sprite. Unrelated.

[2017-07-03 13:07] fromthere opened #5765 "Peep money spent is displayed 0$ spent"
**OS:** e.g. Windows 7
**Version:** 0.0.8
**Commit/Build:** eeca2e1

- [ ] Reproducible in RCT2 (vanilla)?
- [ ] Multiplayer?

**Steps to reproduce:**
1. turn on peep money spent animation
2. set price to 0$
3. 0$ animation is displayed(rct classic ignored 0$ spent)

**Screenshots / Video:**
![money](https://puu.sh/wAwgp/ba4a5d7535.gif)

[2017-07-03 13:50] #5765 closed

[2017-07-03 14:57] rwjuk opened #5767 "Importing AA/LL SC4s causes a crash"
1. Import a AA/LL SC4.
2. Assertion failed in `S4Importer.cpp` line 514 - `rideType < Util::CountOf(_rideTypeToRideEntryMap)`

Recent regression, seemingly introduced with #5624.

[2017-07-03 16:32] #5767 closed

[2017-07-03 17:22] spacek531 commented on #5763
It builds correctly with height limit and clearance checks disanbled, but with clearance checks enabled it does not build. It takes your money either way.

[2017-07-03 18:11] spacek531 opened #5768 "Title sequence script caches (not necessarily crashes, but I got it to anyway)"
**OS:** windows 8.1
**Version:** 0.0.8
**Commit/Build:** aec214c

Two issues:

1. The program appears to cache the script file instead of loading it fresh every time it loads the main menu. Is this intentional? It is a bit annoying for developing title sequences. Expected behavior: going to the main menu screen loads the latest version of the sequence's script file.

2. I managed to get the game t

[2017-07-03 18:45] spacek531 opened #5769 "Resizing window while playing title screen does not work properly on some sequences"
**OS:** windows 8.1
**Version:** 0.0.8
**Commit/Build:** aec214c

I discovered this on the Maian_sos title sequence. If you resize the window during most shots (but not all), the screen changes focus until the sequence changes to a new view.

- [ ] Reproducible in RCT2 (vanilla)?
- [ ] Multiplayer?

**Steps to reproduce:**
1. Load up maian_sos's title sequence
2. resize the view during a shot. Doe

[2017-07-03 19:23] spacek531 opened #5770 ".parkseq files cannot be played if the sequence is in a subfolder"
**OS:** 0.0.8
**Version:** windows 8.1
**Commit/Build:** aec214c

If OpenRCT2 is set to play a .parkseq sequence and the .parkseq sequence is stored in a subfolder of the zip, OpenRCT2 will not play the selected sequence but the sequence one below in the list of sequences. Specifically, this list:

![image](https://user-images.githubusercontent.com/3454156/27805271-a23829ac-5fe8-11e7-945b-e68af4fa

[2017-07-03 19:39] IntelOrca commented on #5770
Well I think this is expected behaviour, although not obvious what is happening. The script.txt must be in the root of the zip archive otherwise it cannot be played. If a title sequence cannot be played, it automatically changes to the next one in the list.

[2017-07-03 19:40] IntelOrca commented on #5763
I think this is a duplicate of #3788.

[2017-07-03 19:41] #5763 closed

[2017-07-03 19:43] IntelOrca commented on #5762
@spacek531 can you upload the saved game that crashes please?

[2017-07-03 19:44] IntelOrca commented on #5759
Can you upload the saved game that crashed?

[2017-07-03 19:56] spacek531 commented on #5770
Can we change the behavior to set it to the default OpenRCT2 sequence then? The catch behavior is a little odd.

[2017-07-03 20:09] spacek531 commented on #5762
It happens in King Park and Maple Springs.

[check for bad elements.zip](https://github.com/OpenRCT2/OpenRCT2/files/1120482/check.for.bad.elements.zip)

[2017-07-03 20:11] spacek531 commented on #5759
It's inconsistent and I have yet to reproduce it. When I do (and manage to grab the dump file) I will upload it.

[2017-07-03 20:46] #5381 closed

[2017-07-03 21:07] IntelOrca commented on #5762
@spacek531 I am struggling to reproduce the crash. Where about in the map does it occur?

[2017-07-03 21:49] spacek531 commented on #5762
On King Park, move the camera so it is about centered on the top of the mine train lift hill. At T+25 seconds, rotate the camera.

[2017-07-03 21:55] IntelOrca commented on #5762
I went to the top of the mine train lift hill and kept rotating the camera for a minute, I still can't reproduce the crash.

[2017-07-03 21:56] rwjuk commented on #5762
Just did the same thing, same result (unable to reproduce).

[2017-07-03 22:04] IntelOrca commented on #5762
@spacek531 Perhaps it is to do with your objects, how did you acquire your RCT2 install?

[2017-07-03 22:20] spacek531 commented on #5762
It's not consistent at all times.

The content files are copied from an external drive which was imaged from a disk imaging software after the original hard drive crashed. I currently don't have any other way of getting the files.

[2017-07-03 22:21] rwjuk commented on #5762
@spacek531 Download the demo, point OpenRCT2 to that and retest?

[2017-07-04 06:43] #3846 closed

[2017-07-04 06:43] #5749 closed

[2017-07-04 07:02] spacek531 opened #5779 "peeps and ride trains are not drawn the first frame when a park loads"
**OS:** windows 8.1
**Version:** 0.0.8
**Commit/Build:** Obe6OO3

Peeps, ride trains, balloons, and probably a few other objects are not drawn the first frame when a park loads. This is rather jarring in title sequences and forms almost a flash frame, especially when you have poor framerate like me.

Example of issue: https://gfycat.com/InsistentEminentEastrussiancoursinghounds

[2017-07-04 07:35] IntelOrca commented on #5779
Does this happen if you turn off "uncapped FPS"?

[2017-07-04 07:37] spacek531 commented on #5779
it does, but holy time dilation batman

[2017-07-04 07:44] IntelOrca commented on #5779
It will be a similar issue to this then: #2104

[2017-07-04 07:54] spacek531 commented on #5779
I downloaded the 0.0.5 version to compare and it is not happening even with uncapped FPS enabled.

[2017-07-04 08:32] spacek531 opened #5780 "FR: 1/100,000 guests is Voldemort, and Drowning them causes every ride in the park to explode."
An important feature yet to be discussed for 0.1.0.

[2017-07-04 08:34] spacek531 commented on #5780
Praise Ted

[2017-07-04 08:38] Gymnasiast commented on #5780
![facepalm](http://i.imgur.com/iWKad22r.jpg)

[2017-07-04 08:39] spacek531 commented on #5780
FR actually stands for Friend Request

[2017-07-04 09:32] Chaosmeister opened #5782 "Twitch integration enhancements"
- [ ] add a message to fetch the status of your own visitor ("!status") like hunger/thirst/money etc.
with the option to whisper it to the requester so the chat window isn't cluttered.
- [ ] add an option to (somehow) limit the number of messages generated by followed twitch park visitors.
also limit the amount of messages generated by the "!news" message.
- [ ] if possible: receive case sensitive

[2017-07-04 09:35] PFCKrutonium commented on #5780
[*Bows*](https://gitter.im/OpenRCT2/OpenRCT2/non-dev?at=595b52274bcd78af567325b2)

[2017-07-04 10:27] mrbenjamin1 opened #5783 "Crashed Saving a ride"
**OS:** Windows 10
**Version:** 0.0.8 64bit
**Commit/Build:** developer build 048c543

I Was saving a Ride with scenery whilst selecting what parts to save it all of a sudden unselected everything and crashed

- [n] Reproducible in RCT2 (vanilla)?
- [y] Multiplayer?

[OpenRCT2dump.zip](https://github.com/OpenRCT2/OpenRCT2/files/1121724/OpenRCT2dump.zip)

[2017-07-04 11:47] #5780 closed

[2017-07-04 11:49] #1048 closed

[2017-07-04 11:55] #2028 closed

[2017-07-04 11:56] #2027 closed

[2017-07-04 11:57] #1739 closed

[2017-07-04 11:58] IntelOrca commented on #1786
Saved game no longer available.

[2017-07-04 11:58] #1786 closed

[2017-07-04 11:58] #1815 closed

[2017-07-04 12:00] IntelOrca commented on #1829
This has been resolved for vehicles that were compatible with steep slopes in RCT1.
As for others, there is a graphics replacement project: https://github.com/zrowny/OpenRCT2-OpenGraphics

[2017-07-04 12:01] #1829 closed

[2017-07-04 12:02] IntelOrca commented on #1973
Without reliable steps to reproduce, this is unlikely to get fixed.

[2017-07-04 12:02] #1973 closed

[2017-07-04 12:08] Gymnasiast commented on #2195
Why did you close this? I don't remember the last bit being solved.

[2017-07-04 12:10] #2884 closed

[2017-07-04 12:13] IntelOrca commented on #2195
I don't understand.

[2017-07-04 12:13] Gymnasiast commented on #2027
@IntelOrca Have you actually tested this?

[2017-07-04 12:14] IntelOrca commented on #2027
I am assuming it is the usual problem, the track design has track which is too steep for the ride type which can be fixed by turning off support limits.

[2017-07-04 12:16] IntelOrca commented on #4770
@birthdaybrian can you still reproduce this?

[2017-07-04 12:16] Gymnasiast commented on #2195
If you don't understand, why did you close it in the first place?

Uninstall (or rename) Kdialog and Zenity and remove your config. Now try to start the game. After it asks you to select a directory it should display a dialog, which it can't do for lack of Kdialog and Zenity. At this point it should warn the user about this. That bit is still missing. If it wasn't I'd have closed this.

[2017-07-04 12:19] IntelOrca commented on #2195
Doesn't it warn them on the command line?

[2017-07-04 12:20] Gymnasiast commented on #2195
It does, which is _not_ sufficient.

[2017-07-04 12:21] IntelOrca opened #5784 "Show message box if Zenity and kDialog are not installed"
If a Linux system does not have Zenity or kDialog installed, show a message box with information about how to set the RCT2 path.

[2017-07-04 12:21] IntelOrca commented on #2195
Replaced with #5784

[2017-07-04 12:21] #2195 closed

[2017-07-04 13:36] Gymnasiast commented on #5205
@Androgeos Would you be able to test Chaosmeister's pull request? I can help provide a build if you can't build it yourself.

[2017-07-04 13:39] Androgeos commented on #5205
@Gymnasiast Thanks. I can help to test, but I've never done a build myself. Would be great if you can provide one.

[2017-07-04 13:41] Gymnasiast commented on #5205
@Androgeos This build should work (hopefully): https://ci.appveyor.com/api/buildjobs/jbhidit9frq006hy/artifacts/artifacts%2Fopenrct2-portable-release-x64-df0e45e.zip

[2017-07-04 14:08] Androgeos commented on #5205
Thanks. Not sure why Firefox decided to stall once it downloaded 100%, so I used Edge and it downloaded just fine.

I loaded four saved games with developed parks (one of which is the same Gemini City save I used in creating this ticket), the default 148x148 scenario editor map and a 254x254 scenario editor landscape generated randomly. In all 6 maps, I held down the right mouse button and scrolle

[2017-07-04 14:20] Gymnasiast commented on #5205
@Chaosmeister Would you be able to address that crash as well?

[2017-07-04 14:26] Chaosmeister commented on #5205
I will have a look at it.
I did not experience any crashes in my own previous tests.

[2017-07-04 15:15] birthdaybrian commented on #4770
It's only when you have 2 windows opened when playing the game. I haven't played Open for awhile?

[2017-07-04 19:53] Chaosmeister commented on #5205
@Androgeos
are you able to reproduce it yourself? I'm not experiencing any crash, neither on parks nor in the editor

[2017-07-04 20:14] Chaosmeister commented on #5205
i just found another infiniteloop :(

[2017-07-04 20:16] janisozaur commented on #5764
https://github.com/OpenRCT2/OpenRCT2/pull/5786

[2017-07-04 20:16] #5764 closed

[2017-07-04 20:44] IntelOrca commented on #5166
Can someone re-export this saved game with all objects packed please?

[2017-07-04 20:46] janisozaur opened #5787 "Opening an incomplete ride moves the viewport to unrelated place"
**OS:** Linux
**Commit/Build:** 705b8f2ff

1. Open a park
2. Create a rollercoaster, place a few tracks, entrance and exit. Do not close the track circuit.
3. Try opening the park
4. Observe main viewport being taken to irrelevant place

**Recording:**
https://gfycat.com/CelebratedFocusedGull

**Save game:**
[aaa.sv6.txt](https://github.com/OpenRCT2/OpenRCT2/files/1123034/aaa.sv6.txt)

[2017-07-04 20:49] Chaosmeister opened #5788 "Empty scenarioname becomes invisible list entry"
**OS:** [Windows 10]
**Version:** [0.0.8]
**Commit/Build:** [705b8f2fffed676f16e3541c2e6c45ed2ff002d9]

**Steps to reproduce:**

1. create a scenario without setting a name or extract the appended scenario to your scenario folder. ⬇️
2. find the scenario in the "choose scenario"-window

**Screenshots / Video:**

![image](https://user-images.githubusercontent.com/13346344/27842487-c5c09fda-610a-11e

[2017-07-04 20:55] janisozaur opened #5789 "Opening a SV6 from command line with missing objects shows no information"
**OS:** Linux
**Commit/Build:** 705b8f2ff

1. Try opening a SV6 with custom objects you don't have:
    `./openrct2 ~/Downloads/autosave_2017-02-02_17-16-58.sv6`
2. Stare at a blank screen.

**Save game:**
Sample save that is missing objects for me (taken from #5166) https://github.com/OpenRCT2/OpenRCT2/files/751086/autosave_2017-02-02_17-16-58.zip

[2017-07-04 20:58] IntelOrca commented on #4928
Could someone re-export this save with all objects packed?

[2017-07-04 21:01] IntelOrca commented on #5787
What ride causes this within the saved game?

[2017-07-04 21:03] IntelOrca opened #5790 "Ride list window does not force refresh when view changes"
Ride list window does not force refresh when sorting columns or changing tabs.

[2017-07-04 21:16] janisozaur commented on #5787
There isn't one, the save is a map that was loaded before I started building such a ride.

[2017-07-04 21:18] IntelOrca commented on #5787
This is caused by the front of the station being a ghost element.

[2017-07-04 21:25] #5787 closed

[2017-07-04 21:31] IntelOrca opened #5792 "Server can not change their network name"
1. Host a game with any name.
2. Now change your name and host a new game.
3. Observe that your name is still the same as your last.

This is due to the name being stored in users.json and hash always matches the server.

[2017-07-04 22:03] #5790 closed

[2017-07-04 22:13] rwjuk opened #5793 "Naming of save/scenario loading functions is inconsistent"
e.g. `game_load_sv6_path` vs `rct1_load_saved_game`, which would be better renamed to `game_load_sv4_path` at least.

[2017-07-04 22:59] Chaosmeister opened #5795 "The game freezes with maptile (0,0) on screen after an autosave"
**OS:** [Windows 10]
**Version:** [0.0.8]
**Commit/Build:** [4e4022d693d4149eddea906ec71f22ddc626411f]

If the appended scenario is loaded, an autosave has occurred and maptile (0,0) is in the active viewport, the game freezes

**Steps to reproduce:**
1. load the appended scenario.
2. wait for an autosave.
3. pan the camera to the top of the map.

**Save game:**
[Sandbox.zip](https://github.com/Op

[2017-07-05 03:14] Mythgaard opened #5797 "Crash when clicking on hedge maze in ride construction window"
**OS:** Win 7 64
**Version:** 0.0.7
**Commit/Build:**  ~~Whatever was the version that updated at around 2 PM CST (07/04/17)~~ 4e4022d

Clicked on the Hedge Maze (select a ride for construction window), game crashed and said to post the dump file.

**Dump file**

[dump.zip](https://github.com/OpenRCT2/OpenRCT2/files/1123406/dump.zip)

[2017-07-05 03:30] Nubbie commented on #5797
That isn't that helpful, you can find the build number in the bottom left corner, the dump says 4e4022d x64 bit

---
To devs;

**Error message;**
Unhandled exception at 0x000007FEE50EEFB0 (openrct2.dll) in 0dee4dea-37cd-493f-8652-c1867b632d41(4e4022d_x86-64).dmp: 0xC0000005: Access violation reading location 0x0000000400000004.

**Call stack;**
[code]

**Autos on breakage;**
[code]

**Locals on br

[2017-07-05 05:28] #5789 closed

[2017-07-05 06:31] janisozaur commented on #5372
I was not able to reproduce it back then and I couldn't just now.

[2017-07-05 06:56] spacek531 opened #5798 "crash in title while window out of focus"
**OS:** windows 8.1
**Version:** 0.0.8
**Commit/Build:** 68c819c

I opened OpenRCT2 and was doing some stuff in git when I heard the windows error sound and I saw this:

![image](https://user-images.githubusercontent.com/3454156/27852480-31a41d7c-6114-11e7-9908-3e1c80838024.png)

Why it crashed is unknown because I have never gotten a crash here before and I didn't see anything out of the ordinary

[2017-07-05 07:31] Gymnasiast commented on #5205
Well, it's still worth fixing, right?

[2017-07-05 07:32] Chaosmeister commented on #5205
definitely! I already opened a new ticket for it
#5795

[2017-07-05 09:50] spacek531 commented on #5795
I got a crash on autosave, but I wasn't near the map edge, so it might not be related:

https://www.dropbox.com/s/09ikwgfmzmlhuss/openrct2%20crash%20on%20autosave.7z?dl=0

[2017-07-05 11:54] #5134 closed

[2017-07-05 11:57] IntelOrca commented on #5762
Closing this for #5795, I think its same issue - autosave corrupts sprites.

[2017-07-05 11:57] #5762 closed

[2017-07-05 11:59] IntelOrca commented on #5759
Closing as it can't be solved without a dump or reliable steps to reproduce. Hopefully its the same issue as #5795.

[2017-07-05 11:59] #5759 closed

[2017-07-05 12:05] spacek531 commented on #4512
Info for debuggers:

This happens consistently on maps that were created or imported in the 0.0.5 develop version. It may have happened in other releases, but I have not played OpenRCT2 between then and now.

[2017-07-05 16:37] #4512 closed

[2017-07-05 17:01] telk5093 opened #5800 "Crash when opening server in command after 68c819c"
**OS:** Windows 10
**Version:** 0.0.8
**Commit/Build:** 68c819c

Game crashes if I open multiplay server via command window.
3151b2b has no such issue.
I used Mega Park.sc6 that is saved when it is just opened the Mega Park scenario.
It is also crashes whatever map I use.

- [ ] Reproducible in RCT2 (vanilla)?
- [x] Multiplayer?

**Steps to reproduce:**
1. Open a command line(Win+R)
2. Type ``(ope

[2017-07-05 17:02] PFCKrutonium commented on #5800
I was about to report this, same issue, here is my dump: https://pastebin.com/raw/ciPqX2L6

[2017-07-05 17:03] PFCKrutonium commented on #5800
[Bumbly Beach.sv6.txt](https://github.com/OpenRCT2/OpenRCT2/files/1125424/Bumbly.Beach.sv6.txt)

[2017-07-05 17:20] Sweet-Tan commented on #5166
Save with exported objects
[autosave_2017-02-02_17-16-58.zip](https://github.com/OpenRCT2/OpenRCT2/files/1125473/autosave_2017-02-02_17-16-58.zip)

[2017-07-05 17:27] Gymnasiast commented on #5205
There is still the crash left. Could you open a new issue for that?

[2017-07-05 22:30] #5635 closed

[2017-07-05 23:20] Trongsin commented on #5753
Wanted to post a quick follow up message to see if there was anything else I needed information wise.

[2017-07-05 23:46] alecward92 opened #5803 "Random crashes"
**OS:** WIndows 7
**Version:** 0.0.8
**Commit/Build:** 446796d

I'm getting random crashes for reasons I cannot figure out. But I am starting to get .dmp files to upload for someone to look. When I load a local game with the same map, No issues. This happened with the previous build as well. Attached is my .dmp and save file.

[2da0c111-5548-4b44-9c84-fd503c98955c.zip](https://github.com/OpenRCT2/

[2017-07-06 00:28] SidaRadis opened #5804 "Renaming a ride while the game is paused does not refresh the ride list window"
OS: Windows 7
Version: 0.0.8
Commit/Build: 446796d

Steps to reproduce:
1. Open the ride list window
2. Rename a ride while the game is paused

[2017-07-06 05:53] Gymnasiast commented on #5753
No, not at this time.

[2017-07-06 07:06] Chaosmeister commented on #5205
I'm still unable to reproduce the crash.  It might have been something unrelated

[2017-07-06 07:30] janisozaur commented on #5205
Has anyone looked into the provided dump?

[2017-07-06 07:52] Chaosmeister commented on #5205
no

[2017-07-06 09:06] Nubbie commented on #5803
To devs:

Error message;
Unhandled exception thrown: read access violation.
mapElement was nullptr.

Call stack;
[code]

Locals at breakpoint;
[code]

[2017-07-06 09:13] spacek531 opened #5807 "Potential box art for twitch"
I have created a pair of 600x800 jpeg images of the roller coaster that will feature first in the title sequence.

One version has outlines around the logo, the other does not.

![box art outline](https://user-images.githubusercontent.com/3454156/27904127-81936fb8-61f0-11e7-9a48-d7df1e870426.jpg)

![box art nooutline](https://user-images.githubusercontent.com/3454156/27904126-818cff7a-61f0-11e7-91

[2017-07-06 09:26] janisozaur commented on #5795
#5801 got reverted until some improvements are implemented

[2017-07-06 10:24] keiyakins opened #5809 "Support Steam RCT1 file layout"
Steam has its RCT1 files in a sorta weird structure: it effectively does a not-full install, and then keeps the files that would be on the disk in a subdirectory. [A full directory listing of a fresh install is attached.](https://github.com/OpenRCT2/OpenRCT2/files/1127508/dir.txt) As a result, OpenRCT2 doesn't recognize the directory as a valid RCT1 folder. It seems to load the scenarios, but not

[2017-07-06 11:01] jensj12 opened #5810 "Capped game speed malfunctioning"
**OS:** Windows 10
**Version:** 0.0.8
**Commit/Build:** 0d554ed

When uncap fps is disabled, the game has problems keeping the correct game speed. Every second or so, the game speed spikes to ~60. This results in the simulation being too fast and everything sometimes speeds up for a moment.
My machine has no problems running the game, uncapping fps gets me to 100+ on average.
So far, I can reprodu

[2017-07-06 11:10] janisozaur commented on #5809
For reference, steamdb listing of RCT1 (default/English) depot: https://steamdb.info/depot/285311/

You can see listings for other depots here: https://steamdb.info/sub/39496/depots/

[2017-07-06 13:02] janisozaur commented on #5205
Pinging @Nubbie in case he's around

[2017-07-06 13:41] Nubbie commented on #5205
@janisozaur
[Dump from Androgeos
](https://github.com/OpenRCT2/OpenRCT2/issues/5205#issuecomment-312887257)
Commit df0e45e

Error message:
Unhandled exception thrown: write access violation.
copyDest was 0x1F5BB18527E.

Call stack:
[code]

Autos on breakpoint:
[code]

Locals on break;
[code]

[2017-07-06 13:57] mozar99 opened #5811 "Cannot host multiplayer on releases after aec214c"
**OS:** [e.g. Server 2012]
**Version:** [e.g. 0.0.8]
**Commit/Build:** [e.g. ae3bc61]

A few days ago I upgraded my multiplayer servers to aec214c without any issues. Today I upgraded to ae3bc61 and now it is not possible to connect to the servers. They will not show up on the master server list and when I attempt to manually connect to them via IP address the game just reports "no data" . When I

[2017-07-06 13:59] rwjuk commented on #5811
That's strange, as I'm not sure how adding null guards (which is what ae3bc61 does) would cause this.

[2017-07-06 14:10] mozar99 commented on #5811
The issue could have been caused any release between aec214c and ae3bc61. I listed them below. To ensure maximum up time on the servers I only upgrade when there is a new network version.

develop 0.0.8 build 68c819c	1 day ago
develop	0.0.8 build 3151b2b 1 day ago
develop	0.0.8 build 4e4022d 1 day ago
develop	0.0.8 build 705ad7c	1 day ago
develop	0.0.8 build a558423	1 day ago
develop	0.0.8 build 7

[2017-07-06 14:11] rwjuk commented on #5811
Ahhhhh I missed that! Thank you!

[2017-07-06 14:25] janisozaur commented on #5811
aec214c...ae3bc61

[2017-07-06 14:30] rwjuk commented on #5811
@mozar99 Does it happen with any save game or just a specific one?

[2017-07-06 14:48] mozar99 commented on #5811
@rwjuk It happens with multiple saved games with different objects/rides in them.

[2017-07-06 15:29] mozar99 commented on #5811
So out of the ~10 servers I host only one works on the newer releases. The one that does work is mostly a blank map. This makes me think its something to do with custom content, but even the map that does work has custom content in it. I have test with and without "export plug-in objects with saved games" but it does not seem to matter

[maps.zip](https://github.com/OpenRCT2/OpenRCT2/files/1128347

[2017-07-06 15:45] rwjuk commented on #5811
Excellent - thanks

[2017-07-06 15:47] rwjuk commented on #5811
@mozar99 Can you export those with objects? I can't load them.

[2017-07-06 15:58] mozar99 commented on #5811
Same maps with export plug-in objects with saved games.

[Desktop.zip](https://github.com/OpenRCT2/OpenRCT2/files/1128463/Desktop.zip)

[2017-07-06 16:22] rwjuk commented on #5811
@mozar99 On the latest `develop` build, I cannot replicate this. If I start a server with the 'does not work' build and then try to connect to it, it works. Could someone else try and see if they can reproduce the bug?

[2017-07-06 18:11] Sweet-Tan commented on #4928
[2418ab7a-b2b2-420b-873a-7cdcafa9b710.zip](https://github.com/OpenRCT2/OpenRCT2/files/1128812/2418ab7a-b2b2-420b-873a-7cdcafa9b710.zip)

[2017-07-06 18:31] mozar99 commented on #5811
not sure if it matters but these are being run in headless mode. Did the format in any of the .json files recently change? Is there a way I can turn on verbose logging on a headless server?

[2017-07-06 18:39] mozar99 commented on #5811
could it have anything to do with me running multiple instances of openrct at the same time on the same computer?

![serverlist](https://user-images.githubusercontent.com/29951295/27927094-e50a80ac-6247-11e7-8083-95f6b1beb972.png)

[2017-07-06 21:39] #5800 closed

[2017-07-06 22:03] rwjuk commented on #5803
@alecward92 Can you upload the save with objects packed so we can open it? Thanks.

[2017-07-07 00:56] Gammadivided opened #5816 "OpenRCT2 doesn't start up"
**OS:** Windows 7
**Version:** 0.0.8
**Commit/Build:** f6cb731

When opening the game using the launcher, it does not start up, staying at a blank white screen. If I try to interact with it, it doesn't respond. I cannot provide a save file or a dump file as the game doesn't crash, it simply doesn't start. I've tested it with multiple versions, including the latest "Stable" build.

**Steps to repro

[2017-07-07 01:21] spacek531 commented on #5816
I've sometimes experienced this. Did you install or change any scenery or ride DAT files? It might be refreshing the list which can take a long time if you have a lot.

[2017-07-07 01:45] Gammadivided commented on #5816
No, I didn't add or remove any objects or rides. The game behaves differently for me when doing that, so it's something different causing this.

[2017-07-07 04:07] alecward92 commented on #5803
I thought I included it in the zip file with the .dmp. Lemme compile another for ya. I never run in headless mode since I occasionally play myself.

[2017-07-07 04:08] alecward92 commented on #5803
Actually, just downloaded the zip i uploaded here and tried loading it. Still another .dmp file and crash.

[2017-07-07 08:17] Gymnasiast commented on #5816
Open a command prompt, `cd` to OpenRCT2's directory and do
[code]
Copy and paste the output.

[2017-07-07 09:49] janisozaur opened #5818 "Library and UI should both be able to report their versions"
**Commit/Build:**  e20a647

Right now we only report the overall build version, operating under assumption that UI and lib are built from those same sources. That may not be the case and they should be able to report their respective versions separately so we can know exactly which versions are used.

[2017-07-07 09:56] janisozaur commented on #5816
@Gammadivided can you test the builds from #5812 ?

[2017-07-07 12:14] spacek531 opened #5819 "tunnel portal drawing regression"
**Commit/Build:** one of the last 0.0.8 builds

The steep-slope-to-vertical piece is allowed to stick out 2 units above ground in RCT2. OpenRCT2 0.0.5 draws portals for this correctly:
![image](https://user-images.githubusercontent.com/3454156/27957370-0dcc0228-62d3-11e7-8854-e4b8d71ed2b1.png)

0.0.8 (and by extension 0.1.0, in the beginning) does not draw this correctly:
![image](https://user-ima

[2017-07-07 13:43] Gymnasiast opened #5820 "Add console command to strip out unused objects"

[2017-07-07 13:47] rwjuk commented on #5820
One use case: stripping objects from parks used in the title sequence makes them load faster.

[2017-07-07 13:51] Gymnasiast commented on #5820
It will still support commands like these, unless I'm _very_ mistaken. (Can you confirm this @IntelOrca ?)

[2017-07-07 13:52] rwjuk commented on #5820
Oh in that case yeah, a console command is fine.

[2017-07-07 14:31] janisozaur commented on #5803
@alecward92 in `[general]` section of your `config.ini`, there's `save_plugin_data = false`, change it to `true`. When crashing it should save sv6, this time with objects.

@rwjuk can you say which objects it needs, so perhaps @alecward92 can send them directly just in case?

[2017-07-07 14:33] rwjuk commented on #5803
Sure can (first real use of #5624 :P)

AE-DDERB
AE-WSLID
autocars
BMWING
DUKES002
DUKES012
DUKES017
HPSHSoda
INFOK2
LOTRshs4
MetRsurf
RIDE1MKY
LMPCRI1K
RRTR01
LMPGILR2
LMPURB07
MG-WDW15
MG-WDW16
RFANDRD
FLAG5MKY
XXWDWQ01
XXWDWQ02
FMARC4DQ
TRACK22
RRPOLE
TRACK2
GWBBAD02
LMPURB01
LMPURB03
XXBBQZ20
XXBQBR24
XXBQGY21
XXBQGY24
XXBQMS20
XXBQMS21
XXBQSW01
TRACK10
FMSTR2MT
TRACK11
TRACK12
TRACK13
TRACK14

[2017-07-07 16:14] IntelOrca commented on #5820
Duplicate of #1329

[2017-07-07 16:17] rwjuk commented on #5820
Closing as dupe of #1329.

[2017-07-07 16:17] #5820 closed

[2017-07-07 16:24] #5795 closed

[2017-07-07 17:44] alecward92 commented on #5803
That's strange. I just pulled up my config file and it's showing true on my end?
![2](https://user-images.githubusercontent.com/29580508/27969651-4ce00a66-6311-11e7-8de5-18b7e16138ba.png)

And looking through my ObjData folder, I have very few of those listed. Which is odd cause I thought they would be in there since I made the map using the same PC. I can Zip all my files in that folder up, But i

[2017-07-07 19:31] mozar99 commented on #5811
not sure what the issue was but everything is now working with network version 8-30, thank you devs

[2017-07-07 19:31] #5811 closed

[2017-07-07 19:34] Liampie opened #5821 "Feature request: replace objects that are in use"
The in game object selector allows you to check and uncheck objects in the savegame, but only if those objects are not in use yet. What Parkdat offers is swapping objects, even the ones that are in use. This is very useful to replace bugged objects by improved ones, adjusting foliage by playing with tree types, adding new objects after having hit the limit, or whatever. You can also use it open sa

[2017-07-07 19:39] Liampie opened #5822 "Feature request: being able to raise/lower content on multiple tiles at the same time"
See title. This is something that you can do with the 8cars trainer: you would raise/lower (or remove!) on tiles with a specific land type by any amount you would like. You could choose to raise/lower land, paths, rides, banners, walls, small scenery, all of them, or combinations. You could also choose one or multiple land types on which the trainer would perform the action. If you wanted to raise

[2017-07-07 19:45] Liampie opened #5823 "Bug: map renders even when game is paused (+feature request inside)"
If you load the map overview in a savegame, you see the map being rendered with a 'swipe' movement. In RCT2, it would not render if the game was paused except for the peeps! A map would look like just black with white dots. This may have been an RCT2 bug, but it was actually very useful to see how the peeps are spread around the park.

I would not miss this functionality if there was a tertiary ma

[2017-07-07 19:47] Liampie opened #5824 "Feature request: being able to change operating mode without closing the ride"
See title.

[2017-07-07 19:50] LordMarcel opened #5825 "When trying to build a saved coaster, it spends the money but the coaster doesn't get built."
**OS:** Windows 10
**Version:** 0.0.8
**Commit/Build:** 22a936b

I built [this](http://imgur.com/a/Th15c) giant coaster a while ago and saved the track. When I try to build the saved coaster it doesn't actually get built while it still costs me the money. It also leads to a [bugged coaster-design screen](http://imgur.com/a/iAKrP) afterward. I've accidentally overwritten the save file, so I don't h

[2017-07-07 19:51] Liampie opened #5826 "Feature request: count map data/knowing how far you're off the limits you are"
I know that you want to get rid of the limits at some point, but we're not quite there yet. It would be nice if you had a window somewhere that showed how much limited things you're using. Something like this:

Object limit: 56344/196608 (or whatever the limit was)
Ride limit: 34/255
Sprite limit: something/something
Banner limit: something/something
Staff limit:  something/something

Whatever. Th

[2017-07-07 19:54] Nubbie commented on #5824
Why?

[2017-07-07 19:55] Liampie opened #5827 "Feature request: change guest's clothes colours"
The RCT1 savegame modifer would allow you to change all the guest's clothes to colours of your choosing. Not very useful, but something similar in OpenRCT would be awesome. For example, giving every peep a salmon pink shirt would make it appear as if they're wearing swimming gear. For this, the pants and shirts colours should be modifiable separately.

[2017-07-07 20:02] Liampie opened #5828 "Feature request: modify cluster tool size"
See title. It would be great for doing foliage in smaller spaces for example. Someone just asked this in the stream chat and it has been talked about before on multiple occasions!

[2017-07-07 20:06] Liampie opened #5829 "Feature request: vandalize park"
This is a son of beast trainer function. It would break all the benches, bins and lamps instantly. Related to this, a button that spreads litter on the paths would be cool. I think the SoB trainer's Riot function would do this, alongside making every peep pissed.

[2017-07-07 20:13] Liampie opened #5830 "Feature request: remove unused objects"
Rather than removing unused objects one by one, which takes a long time, a button to do all at once would be very welcome.

At New Element we always remove the unused objects for releases to reduce the file size (using Parkdat), but OpenRCT has been changing something in the savegames so that sometimes we can't do this anymore without breaking the savegame. I don't understand how it happens, but O

[2017-07-07 20:14] Anymal104 opened #5831 "Deleted saves keep comming back?"
**OS:** [Windows]
**Version:** [0.0.8]
**Commit/Build:** [22a936b]
**Type** [x64]

I was sorting some off my saves in the Openrct2 folder, and put some in subfiles and deleted others I don't need anymore. When I launched Openrct2 the saves where back in the folders... I tried it multiple times, and even cleared my pc's bin. But still the saves came back... I guess the game cashes the saves and put

[2017-07-07 20:16] spacek531 commented on #5830
I was actually talking about my workflow for prepping the parks for the sequence which involved parkdat->remove unused items. Two devs were practically tripping over each other to implement it, so I think there is a very good chance that this will come early in 0.1.1 development.

[2017-07-07 20:17] Liampie opened #5832 "Feature request: tile inspector window automatically resizes when you click on a tile"
The tile inspector shows only four or five lines by default. Most tiles you click on have much more than four of five things on them... It's very annoying to resize the window size all the time. Either this, or a larger default window size. Whatever it is now, it's not enough.

edit: Elaboration: my memory was a bit fuzzy when I was writing this but I just checked the tile inspector again and it's

[2017-07-07 20:19] Liampie opened #5833 "Feature request: open the game by double clicking a savegame (edit: nevermind)"
I have not managed to make OpenRCT the default program to open savegame files with. If I want to view a park I have to open the game first and then manually browse to the savegame file. Double clicking is much more convenient, so you can also open parks right away when you download them in a zip or something.

[2017-07-07 20:35] spacek531 commented on #5833
I believe a PR recently was added that allowed file association with OpenRCT2: https://github.com/OpenRCT2/OpenRCT2/pull/5754

[2017-07-07 20:43] xp4xbox commented on #5833
@Liampie in windows, you just select open with, and check the box always use this program to open this type of file or something.

[2017-07-07 20:48] Liampie opened #5834 "Feature request: bring back loading bars!"
Currently loading the game, or loading a savegame, is staring at a frozen screen wondering if something is happening and how long it's going to take still.

[2017-07-07 20:51] Liampie commented on #5833
Okay, I don't know why I couldn't get this to work last time I checked. Brainfart I guess. It's fixed now, thanks for the wake-up call :P

[2017-07-07 20:53] xp4xbox commented on #5824
Duplicate https://github.com/OpenRCT2/OpenRCT2/issues/5608

[2017-07-07 20:56] #5833 closed

[2017-07-07 20:57] spacek531 commented on #5832
I think it shouldn't resize so that it's larger than your window size with a bit of padding so you can resize it further without issue.

[2017-07-07 21:02] IntelOrca commented on #5825
Possibly a duplicate of #3788

[2017-07-07 21:02] xp4xbox commented on #5821
Would give another reason to move away from SV6.

[2017-07-07 21:03] Liampie commented on #5824
Thanks. Apparantly I knew about this when it was first incorporated, but it slipped from my mind. I think it's very arbtirary what functions get hidden in the console, and which ones get a place in the GUI. Which is WHY it slipped from my mind... Anyway, this can be closed! Sorry for another brainfart

[2017-07-07 21:04] rwjuk commented on #5824
#5384 already implemented it.

[2017-07-07 21:04] #5824 closed

[2017-07-07 21:05] xp4xbox commented on #5822
Related to #5149

[2017-07-07 21:05] IntelOrca commented on #5831
These saves are copied from your RCT2 install. Delete them from there.

[2017-07-07 21:05] Liampie commented on #5832
Naturally, spacek! The tile inspector window is very small anyway, so it could be at least doubled or tripled before it starts coming close the game's window boundaries.

[2017-07-07 21:05] spacek531 commented on #5834
Custom loading bars ala Locomotion I think would not be a bad idea.

[2017-07-07 21:06] #5822 closed

[2017-07-07 21:07] #5830 closed

[2017-07-07 21:07] IntelOrca commented on #5828
**Related:** #1387

[2017-07-07 21:08] rwjuk commented on #5828
This is certainly something the scripting system would allow you to do, but I can also see the value in implementing this in the core game. Thoughts?

[2017-07-07 21:08] Liampie commented on #1329
Problem with having this as a console feature is that you cannot use it for parks that you can't open due to missing scenery. I would still need to use an external program.

[2017-07-07 21:08] IntelOrca commented on #5826
Should be made available via scripting API.
A dedicated window can be plug-in.

[2017-07-07 21:09] rwjuk commented on #1329
@Liampie Removing objects from parks you can't open will be added to the 'missing objects' window.

[2017-07-07 21:09] Liampie commented on #5834
Custom loading bars would be fun but I imagine it also takes a lot of time from the developer's, time which is better spent doing other things right now. I'd happily have the default windows loading bar back until OpenRCT comes up with its own loading bar!

[2017-07-07 21:09] xp4xbox commented on #5827
Would be good for a console command.

[2017-07-07 21:10] spacek531 commented on #5834
I believe custom loading bars are actually mandatory for cross-platform compatibility. I assume that's the reason the custom file explorer was implemented, at any rate.

[2017-07-07 21:11] rwjuk commented on #5834
@spacek531 Correct.

[2017-07-07 21:11] Liampie commented on #5828
Thought: the vast majority of players do not want to bother with a scripting system. The current clutter tool has an arbtirary size, it would make sense if the size was adjustable same as the land tool and the water tool. Imagine if the land tool was always 15x15 tiles... To me it's no question that this is a function that belongs in the actual game! :)

[2017-07-07 21:14] Liampie commented on #5149
xp4xbox's idea does not cover it, see #5822 to read about a function with a much larger scope, as the 8cars trainer offers.

[2017-07-07 21:14] IntelOrca commented on #5828
@Liampie we will make it easy to just download other people's scripts that add such features

[2017-07-07 21:17] IntelOrca commented on #5149
I would argue the terrain feature is something good as a script plug-in.
The tile inspector could have a way of selecting arbitrary tiles to include in the selection.

[2017-07-07 21:18] spacek531 commented on #5825
I recently posted an issue with a self-intersecting track design and the signs are all the same.

To place the design you will need to disable clearances. Only then will it show up properly in the preview window and place in the game.

[2017-07-07 21:59] SidaRadis opened #5835 "Feature Request: Add keyboard shortcut for the scenery removal tool"
Pretty much everything in the top toolbar has a keyboard shortcut except the scenery removal tool.

[2017-07-07 21:59] xp4xbox commented on #5832
For me its a good size because I have a small 13'' screen.

[2017-07-07 22:02] Nubbie commented on #5835
Should be easy - Starter tag?

[2017-07-07 22:13] janisozaur commented on #5803
@alecward92 can you try loading this (remove `.txt` extension):
[xx.sv6.txt](https://github.com/OpenRCT2/OpenRCT2/files/1132472/xx.sv6.txt)
and saving it with exported objects?

[2017-07-07 22:16] SidaRadis opened #5836 "Issue when deleting or renaming a track with the track designs manager"
OS: Windows 7
Version: 0.0.8
Commit/Build: 22a936b

Every time I either rename or delete a design inside the track designs manager the selection gets stuck on the first item in the list. I can still rename or delete designs after it happens but only the first design statistics are displayed.

**Steps to reproduce:**
1. Open the track designs manager
2. Delete or rename a design

[2017-07-07 22:21] LordMarcel commented on #5825
My design doesn't have any stuff that requires cheats like self-intersections and disabling clearance doesn't help my issue.

[2017-07-07 22:39] Nubbie commented on #5798
Had issues open the dumpfile and getting kernalbase.dll to work with it, but here is the rest that could be recovered
**Error message;**
Unhandled exception at 0x00007FFDAC9495FC in fba9d7e8-d067-4d21-ac26-3f81a7f3eee9(68c819c_x86-64).dmp: Microsoft C++ exception: IOException at memory location 0x000000E0A384F428.

**Call stack (breakpoint openrct2.dll!FileStream::FileStream);**
[code]

**Locals (

[2017-07-07 22:42] Nubbie commented on #5783
**Error message;**
Unhandled exception at 0x00007FFB960B6D20 (openrct2.dll) in b006201f-86b5-452a-add0-30ce43f875ed(048c543_x86-64).dmp: 0xC0000005: Access violation reading location 0x00007FFB96F0E000.

**Call stack;**
[code]

**Autos;**
[code]

Locals;
[code]

[2017-07-07 23:13] Nubbie commented on #5768
Related #5798?
Problem with kernelbase.dll, but hopefully still valuable

**Error message;**
Unhandled exception at 0x00007FFDAC9495FC in ba6b205c-10ee-4054-9578-7ca9a4febba6(aec214c_x86-64).dmp: Microsoft C++ exception: IOException at memory location 0x000000C3A621F298.

**Call stack;**
[code]

**Locals;**
[code]

**Autos;**
[code]

[2017-07-07 23:17] Nubbie commented on #5401
Commit 0219da2 for Janisozaur's dumpfile

**Error message;**
Unhandled exception at 0x00007FF8DE664B17 (openrct2.dll) in 84e1d1c1-532d-4b3d-83a3-f37b17fbf8ff.dmp: 0xC0000005: Access violation reading location 0x00000037C5C47028.

Call stack;
[code]

Local;
[code]

[2017-07-08 00:19] Gammadivided commented on #5816
@Gymnasiast I've tried it and it outputs... nothing. Command prompt doesn't show anything, and the game just opens like normal (and doesn't start up).

@janisozaur I tested the most recent build (I presume that's post-#5812) and it still doesn't work. If you mean something different, please elaborate, as I'm still a bit lost with GitHub.

[2017-07-08 00:31] rwjuk commented on #5816
@Gammadivided Okay, we'll need to do some more in-depth diagnostics. Could you try the following please?

1. Download Process Monitor: https://technet.microsoft.com/en-us/sysinternals/processmonitor.aspx
2. Run it.
3. Run OpenRCT2 and let it lock up (wait about 10 seconds after it locks up before moving to the next step).
4. In Process Monitor, go to "File > Save".
5. Leave all options at their de

[2017-07-08 00:35] Gammadivided commented on #5816
UPDATE: I tried what Gymnasiast told me again and the game started up after outputting a lot of text. Sadly, I closed the window down without thinking twice and I can't paste the output anymore. It seemed to be loading objects, so maybe @spacek531 was right after all.

[2017-07-08 00:55] alecward92 commented on #5803
I'll try when I get home tonight. I'm hoping it doesn't crash the second I load it like it was.

[2017-07-08 04:37] alecward92 commented on #5803
So I tried removing the .txt from the file @janisozaur sent me and tried loading but Open refused to open it. Not sure why. But what I did was jump on the pc I hosted it from, made a new save file and now its a lot bigger in size so my assumption is that all the plugins are there now. The file I originally sent earlier was right next to the .dmp file so I'm guessing thats why it didn't have the pl

[2017-07-08 05:25] janisozaur commented on #5803
It was a daring attempt from my side and I wasn't sure if it was going to work or not, not a big problem really, as that was one-off for this particular issue.

[2017-07-08 06:43] alecward92 commented on #5803
Never know if you don't try! Thanks a bunch!

[2017-07-08 07:00] Nubbie commented on #5547
[Dump from Sweet-Tan](https://github.com/OpenRCT2/OpenRCT2/issues/5547#issuecomment-306334443)
d4bb9c3

**Error message;**
Unhandled exception thrown: write access violation.
mapElement was nullptr.

**Call stack;**
[code]

**Local on breakpoint;**
[code]

[2017-07-08 07:18] Nubbie commented on #5184
To temporarily fix this, use the cheat "Remove guests"

---------

Crashed at 9 may, year 11

Call stack;
[code]

Autos;
[code]

Locals;
[code]

[2017-07-08 07:23] Nubbie commented on #5559
**Error message;**
Unhandled exception thrown: read access violation.
ori was nullptr.

**Call stack;**
[code]

**Autos;**
[code]

**Locals;**
[code]

[2017-07-08 08:41] Gymnasiast commented on #5816
We have had people before who too quickly assumed the game was locked up. Basically, if this happens again, wait at least a few minutes.

[2017-07-08 08:41] #5816 closed

[2017-07-08 08:43] Gymnasiast commented on #5834
A counter that says something like "Checking objects: 314 / 2712" would probably not be too difficult to implement.

[2017-07-08 09:10] Gymnasiast commented on #4770
Re-opening this to investigate if having two windows open indeed still breaks autosave.

[2017-07-08 11:54] Liampie opened #5837 "Feature request: better typing windows"
In RCT and RCT2, if you want to type in a ride name, park name, savegame name or a banner text, you would do it in a default windows window, and upon opening this window the current name would be selected.

In OpenRCT you have a wonderful looking custom window, but instead of having the whole text selected, the cursor is at the end of the text. Renaming a ride means you have to backspace the whole

[2017-07-08 11:59] Liampie commented on #1329
Also removing them one by one/individually?

[2017-07-08 12:39] janisozaur commented on #5823
Sounds good to me. It's common in games to show various user-selectable layers on minimap.

[2017-07-08 14:41] rwjuk opened #5838 "Crash when saving very (very!) large track designs"
See [this report](https://www.reddit.com/r/openrct2/comments/6lu70l/orct2_crashes_when_trying_to_save_an_enormous/).

Crash in `track_design_save.c - track_design_save_to_td6_for_tracked_ride()`, L1038 when `realloc()`ing memory for the track elements. The track design in question contains 130540 elements, which I believe is far above the limit for TD6.

We should display some sensible error messa

[2017-07-08 18:33] xp4xbox commented on #5629
I tested it out and...

0.0.3.1 works fine
but 0.0.4 doesnt

[2017-07-08 20:31] janisozaur commented on #5834
Duplicate of https://github.com/OpenRCT2/OpenRCT2/issues/3190

[2017-07-08 20:31] #5834 closed

[2017-07-08 20:36] Gymnasiast commented on #5837
OpenTTD has a button to clear text in such windows.

[2017-07-08 21:21] Chaosmeister commented on #5768
I'm looking at this

[2017-07-08 21:23] Liampie commented on #5148
All inverted track has problems when diagonal and steep.

![ne multiplayer map 2017-07-08 23-22-02](https://user-images.githubusercontent.com/19242088/27989212-2271011c-6402-11e7-82fc-c5fa8d0c7564.png)
![ne multiplayer map 2017-07-08 23-22-01](https://user-images.githubusercontent.com/19242088/27989213-2271bc74-6402-11e7-9e61-a91ce4719b8a.png)

[2017-07-08 21:52] kylegarza21 commented on #5788
Taking a look :)

[2017-07-08 22:52] ipatix commented on #5837
You can also Ctrl+Backspace to delete all the text. That's good enough for me personally.

[2017-07-09 01:01] alecward92 opened #5841 "Headless hosting"
**OS:** WIndows 7
**Version:** 0.0.8
**Commit/Build:** ac81072

So I decided I wanted to host 2 servers on one PC. Ports are forwarded properly as they are join-able from an outside source. But one thing that is different then the traditional way is this "studder" effect that keeps making objects jumpy. Anyone who joins sees the same issue and it's rather annoying to play on. As I'm typing, I took

[2017-07-09 04:16] pizza2004 commented on #5837
I don't want to be a bother or seem like I'm showing up to complain or anything.  I think that having the text selected so you could just start typing right off is nice, and the kind of text cursor you mention is definitely more usable, but it might add needless complexity to the codebase, so I wouldn't get your hopes up for this one.

[2017-07-09 06:35] Anymal104 commented on #5831
Oh derp... Sowwee

[2017-07-09 07:04] duncanspumpkin commented on #5148
@Liampie what is it meant to be drawn as? From my quick tests its not meant to draw any support for steep slopes is that correct?

[2017-07-09 07:11] janisozaur commented on #5841
@PFCKrutonium you faced the same issue, right? Any more insights?

[2017-07-09 07:27] duncanspumpkin commented on #4591
Does the original part of this issue still occur. As far as i see hanging rides, wooden rollercoasters now draw correctly but the swinging coaster under #5148 still does not.

[2017-07-09 09:14] ZehM4tt commented on #5841
I've noticed two things that affect this.
1. The headless server uses RunFixedFrame, commenting out the condition to run variable frame removes the stutter, assuming uncap fps is set.
2. When variable frame is used the uncap fps play the next role, having it set removes the stutter.

I'm not exactly sure how this affects the updates yet, perhaps @IntelOrca knows something I don't.

[2017-07-09 10:01] duncanspumpkin commented on #5819
Its not really a regression its just been wrong since it was implemented.

[2017-07-09 10:10] #5819 closed

[2017-07-09 10:11] Gymnasiast commented on #5837
Hm, an I-beam cursor is something that improves usability, so I think it's warranted.

[2017-07-09 12:02] Chaosmeister commented on #5768
the crash is fixed.

what about the other request?
you can reload the script it in the options menu by selecting another sequence and then selecting your sequence again

[2017-07-09 12:06] Chaosmeister commented on #5798
The referenced issue has the same error.
I'm pretty sure it's the same crash.

[2017-07-09 12:49] Liampie opened #5849 "New 'missing scenery' window that pops up when you try to load a savegame can't be closed with a hotkey"
I always use backspace, the default hotkey, to close any windows. It doesn't work for this one.

edit:

version 0.0.8 ba2f129 in windows 8

[2017-07-09 12:53] Liampie opened #5850 "Vehicles not appearing in ride window nor on the track"
As you can see on the screen I tried putting vintage cars on steel wild mouse track. This has always worked in both RCT2 and OpenRCT2, until now. The ride vehicle window is empty and when I test the ride there are no cars on the track. It's not just vintage cars, some other vehicles types are also similarly not working and I think the reverser coaster has a weird sprite instead of the vehicle show

[2017-07-09 14:01] xp4xbox commented on #5849
@Liampie did you check the keyboard shortcuts in the menu?

[2017-07-09 14:27] Chaosmeister commented on #5546
I'm on it

[2017-07-09 14:41] alecward92 commented on #5841
I take it this isn't something I can just edit in the config file?

[2017-07-09 14:56] Liampie commented on #5849
What should I check? The hotkey works for every other window.

[2017-07-09 15:20] ZehM4tt commented on #5841
Correct

[2017-07-09 17:41] Gymnasiast commented on #5148
I always found it strange that vanilla doesn't draw supports on steep slopes for some coasters. Should we change that?

[2017-07-09 17:58] Chaosmeister commented on #5546
Here's what I found:

The park has a spiralslide where the tracks's base-height has been decremented to hide the spiralslides's default bottom in the gMapElementTilePointers.

![image](https://user-images.githubusercontent.com/13346344/27996268-c9c410f8-64de-11e7-9878-cbf6ce312b43.png)

However, the base-height of the track itself was not changed.

Because of this `ride_get_station_start_track_ele

[2017-07-09 18:42] #5546 closed

[2017-07-09 19:55] Chaosmeister commented on #4388
The crash seems to be prevented already.

That is all I get:
![image](https://user-images.githubusercontent.com/13346344/27997093-3aa6b0de-64f1-11e7-85e6-4659551f47df.png)

[2017-07-09 20:03] Chaosmeister commented on #3083
This save does not crash anymore.

Only the console endlessly prints:

ERROR[c:\users\chaos\source\repos\openrct2\src\openrct2\ride\ride.c:240 (get_ride_entry)]: invalid index 255 for ride type
ERROR[c:\users\chaos\source\repos\openrct2\src\openrct2\ride\ride.c:271 (get_ride_entry_by_ride)]: Invalid ride subtype for ride *DUMMY