[2016-07-02 15:32] Nubbie commented on #3971
@dsmcgarry Can you try to change the text to this (we have a template we often follow, easier to read and help etc) **and** try out the newest [dev version](https://openrct2.org/downloads/develop/latest)
Will see if I can reproduce this myself

Copy this to ur issues description:
[code]

[2016-07-02 15:46] #3969 closed

[2016-07-02 16:50] satdav commented on #3961
Here you go

[Uploading Openrct Crash Report 26th June 2016.zip…]()

[2016-07-02 16:50] satdav commented on #3961
It seems it wont reconise the dump file but I dont know why well the zip file this time

[2016-07-02 16:52] ptkato commented on #3916
@End3rp, by git version, I meant the latest working build on git, got it [from here](https://aur.archlinux.org/packages/openrct2-git/).

[2016-07-02 19:12] End3rp commented on #3916
@ptkato through control panel?

[2016-07-02 19:22] End3rp commented on #3916
@ptkato uninstalled and installed stable version. Still confused by that website you gave me. Am I supposed to click on the "upstream URL" or "download snapshot"?

[2016-07-02 19:26] Patrik356b commented on #3961
You need to wait until it no longer says "uploading" for the upload to work. Try again with this in mind.

[2016-07-02 19:29] Patrik356b commented on #3916
@End3rp none. it doesn't apply to your OS.

[2016-07-02 19:44] Patrik356b opened #3972 "Diagonal wall & triangle floor tile z sorting glitch"
This might be a duplicate but anyway:

![horizontal bug](http://puu.sh/pO0oS/57df6ea7f1.jpg)
![vertical works](http://puu.sh/pO0qW/befd008704.jpg)

With the building facing vertical it looks fine, but not with the building facing horizontal (in 2d terms here/xy plane)

commit a9dbae6

[2016-07-02 19:54] jensj12 commented on #3972
If you disabled clearance to be able to do that (looks like you did), it's been like that as long as I can remember. Same with a diagonal and normal wall on the same tile

[2016-07-02 23:30] Patrik356b commented on #3972
I did not build this. While the creator may have used that cheat, I have not seen this z sorting issue with the same scenery items in use in similar ways before in OpenRCT2.

[2016-07-03 01:23] gyxzov opened #3973 "Game crashed with white screen randomly."
Windows 7
Version: 0.0.5
Commit: 09863a4

Everytime when i play the game and want to make some rollercoasters my game randomly crashes with the "zzz" sign

 Reproducible in RCT2 (vanilla)? - I dont know
 Multiplayer? - nope

**Steps to reproduce:**
1. playing the game
2. build a coaster
3. Crashes the game

**Dump file**
http://puu.sh/pOhOs/8af6fc64b5.rar

**Screenshots / Video:**
http://puu.sh/pO

[2016-07-03 10:01] ThePsionic opened #3974 "Game crashes with Zzzz cursor showing"
**OS:** Windows 10
**Version:** 0.0.5
**Commit/Build:** 13ecd35

The game crashes fairly early on in the game, showing the Zzzz cursor. May be possible that autosaving doesn't work for some reason.

- [ ] Reproducible in RCT2 (vanilla)?
- [ ] Multiplayer?

**Steps to reproduce:**
1. Do nothing
2. Watch your dreams die before your eyes

**Dump file**
[OpenRCT2_dump.zip](https://github.com/OpenRCT2/

[2016-07-03 10:03] mrtnptrs commented on #3974
Dublicate of #3973

[2016-07-03 10:18] dsmcgarry commented on #3971
![error 2](https://cloud.githubusercontent.com/assets/20257548/16544932/e73614a4-410f-11e6-96e7-4b15249e8106.jpg)

[2016-07-03 10:23] ThePsionic opened #3975 "Spinning Wild Mouse not unlocked after research"
**OS:** Windows 10
**Version:** 0.0.5
**Commit/Build:** 13ecd35

After the Spinning Wild Mouse is researched, it can not be built as it does not show up in the build menu.

**Steps to reproduce:**
1. Have researchers research the Spinning Wild Mouse
2. Note that it doesn't appear in the build menu

**Screenshots / Video:**
![scr2](https://cloud.githubusercontent.com/assets/842080/16544947/de13d4e8

[2016-07-03 10:49] chrisklunder opened #3976 "Crash at loading online games"
[Fill in the placeholders below. Delete any headings and placeholders that you do not fill in. Delete this line as well]

**OS:** [e.g. Windows 10]
**Version:** [e.g. 0.0.5]
**Commit/Build:** [e.g. 426e106]

[Game crashes constantly upon loading a multiplayer game.]

- [ ] Reproducible in RCT2 (vanilla)?
- [X ] Multiplayer?

**Steps to reproduce:**
1. [step 1]
2. [step 2]

**Dump file**
[If you ha

[2016-07-03 10:52] Goddesen commented on #3975
It's right there, third from the left...

[2016-07-03 11:06] jensj12 commented on #3972
Look at the front row of walls in the first image, you can see the roof through the window. This is normally not possible. If you want to check, remove one of the triangular roof pieces and try to place it back.

[2016-07-03 11:08] Phillor commented on #3957
@Nubbie
The commit number where this bug is occurs is 89db25e

[2016-07-03 11:16] IntelOrca commented on #3971
@dsmcgarry OpenRCT2 doesn't seem to have permission to write to your documents. Is there anything unusual about your system?

Try running OpenRCT2 as administrator.

[2016-07-03 12:38] ThePsionic commented on #3975
Oops, my bad, it is simply called Wild Mouse in the menu. I'll be seeing myself out :P

[2016-07-03 12:38] #3975 closed

[2016-07-03 13:26] Patrik356b commented on #3972
I did not notice that. I thought they were placed ontop

[2016-07-03 13:26] #3972 closed

[2016-07-03 13:32] Patrik356b commented on #3976
Delete unused placeholders and correctly fill in what windows and what build/commit your using (this is visible in the bottom left corner at the main menu)

[2016-07-03 14:24] Nubbie commented on #3957
@Phillor Couldn't reproduce it myself with your version
Could you provide us a better screenshot or a copy of the log?
But also, did it prove a dump file?

If so, please zip the dump file up and put it in here

[2016-07-03 14:32] Nubbie commented on #3973
To Devs;
This is what I got from Dump file 2a49cb5b-5d76-4f01-a442-da093302aa62(09863a4).dmp

**Error Message:**
Unhandled exception thrown: read access violation.
[sprite_idx was 0x20E62BE.](https://github.com/OpenRCT2/OpenRCT2/blob/develop/src/drawing/sprite.c#L450)

**Call stack:**
[code]

**Locals;**
[code]

[2016-07-03 14:38] Nubbie commented on #3974
@ThePsionic Seems like this happens _maybe_ by a guest leaving a ride or with guests leaving rides, do you have any hacked rides in your park? Does it happen in every save?
**You can always try to remove all peeps with the cheat code and see if that works**

@mrtnptrs Not a dupe, think the 'zzz' cursor is something that pops up now when it crashes

----
-

To Devs;
This is what I got from the dump

[2016-07-03 15:26] Goddesen commented on #3975
Wait what..? This is me testing this right now:
![scr13](https://cloud.githubusercontent.com/assets/5515119/16546204/37c6dff6-4143-11e6-9033-2beb18aa4c89.png)
Is this different for you? In that case that may be a legitimate bug.

[2016-07-03 15:34] IntelOrca commented on #3975
![image](https://cloud.githubusercontent.com/assets/1482259/16546246/0716762a-413c-11e6-9959-cf12446d2057.png)

[2016-07-03 15:36] Nubbie commented on #3976
To devs from dump file provided by OP

Unhandled exception thrown: read access violation.
object was 0xE24F925.

[code]

**Autos:** (gCommonFormatArgs are full of gibberish, corrupt file?)
[code]

Locals;
[code]

[2016-07-03 15:53] Patrik356b commented on #3953
Can not reproduce on 13ecd35

[2016-07-03 16:21] Nubbie commented on #3953
@Patrik356b So there is no problems with it now?

To Devs; Dump file from OP
----
-

Unhandled exception thrown: read access violation.
peep was 0x1AD6BBC.

[code]

[2016-07-03 17:15] ThePsionic commented on #3957
I had this problem as well (see #3974 w/ dump). Figure I'd mention here as the other one is a dupe.

[2016-07-03 17:17] ThePsionic commented on #3974
I've pinpointed it down to autosaving as previously stated in #3957, but I hope the dump helps nonetheless.

[2016-07-03 17:18] ThePsionic commented on #3975
^ That is exactly why I couldn't find it :P

[2016-07-03 19:08] danidoedel opened #3978 "Twitch tab flickering"
**OS:** Windows 10
**Version:**  0.0.5
**Commit/Build:** 13ecd35

I think the GIF is self-explaining :point_down:

**Video:**
![twitch_tab](https://cloud.githubusercontent.com/assets/10995998/16547086/a46c4042-4161-11e6-881e-0ab207469d87.gif)

[2016-07-03 19:10] Patrik356b commented on #3953
I filled Crazy Castle to the brim with coasters, both custom and pre-made design and it didn't act abnormally.

[2016-07-03 19:19] danidoedel opened #3979 "Inconsistent drop-down lists"
**OS:** Windows 10
**Version:** 0.0.5
**Commit/Build:** 13ecd35

I think the pictures are self-explaining. Vanilla behavior is the same as the first picture. Not sure which alternative is better though... Maybe the second would improve UX?

**Screenshots:**
![2016-07-03 21_11_08-openrct2](https://cloud.githubusercontent.com/assets/10995998/16547109/00d9f256-4163-11e6-8927-f94d328ca2b6.png)
![2016-

[2016-07-03 19:22] End3rp commented on #3916
@Patrik356b derp.

@ptkato ok, I fell back to the stable version (after uninstalling OpenRCT2), then updated to the latest dev build, then cleared the ObjData folder. Ran it in verbose, gave me a crap ton of text, and then it worked. Thanks!

[2016-07-03 19:26] Nubbie commented on #3916
@End3rp You didn't have to uninstall OpenRCT2 but I'm glad it worked out!
The newest updates that most people use are the latest dev version, often gets added more features etc with them, you don't need to run it in Verbose anymore if it's fixed as verbose is just used for de-bugging as it tells you everything it loads before starting :)

[2016-07-03 19:50] Nubbie commented on #3978
Can not re-produce this

[2016-07-03 20:06] joepie91 opened #3981 "Global configuration option/argument for RCT2 data path"
I'm currently packaging OpenRCT2 for Nix (on Linux), and one feature of my package is that the user can specify the path of a GOG installer for RCT2 on install time. The package will then extract all the assets, install them alongside OpenRCT2, and point OpenRCT2 at them, so that the entire installation is completed in a single step.

So far, I've been trying to use the `set-rct2` command for this

[2016-07-03 20:15] Nubbie commented on #3979
It could be implemented with a  '...' if the string gets too long, but I don't think we should limit the drop-down list when users themselves can choose the name for their 'title sequences' (in this case).

I don't think we should limit drop-down lists space when users are the one changing their length with the names they choose

[2016-07-03 20:16] janisozaur commented on #3976
Dupe of #3909

[2016-07-03 20:16] #3976 closed

[2016-07-03 20:29] danidoedel commented on #3979
Yeah that's what the first image shows ;)

Yep, there is no way to display the full name and that will be hard if there are two similar names like 'MMMMMMMMMMMMMMMMMMMMM' and 'MMMMMMMMMMMMMMMMMMMMM2'. No chance to see the 2 at the end...

[2016-07-03 20:48] Patrik356b commented on #3979
There is an even better way to do this.
'MMMMMMMMMMMMMMMMMMMMM'
'MMMMMMMMMMMMMMMMMMMMM2'.
Would become:
'MMMMMMMMMM... ...MMM'
'MMMMMMMMMM... ...MMM2'.

[2016-07-03 20:55] danidoedel commented on #3979
And if the unique part is in the middle?

[2016-07-03 21:06] mrtnptrs commented on #3978
Can't reproduce it either. Can you reproduce this every time? When no, with which steps can you exactly reproduce it? Make sure to update your graphics driver to the latest version and check then if the issue is resolved.

[2016-07-03 21:08] danidoedel commented on #3978
Yep every time. Just drag the window around a bit.
I doubt that could be a driver issue as I think the graphics card doesn't render anything in software mode? Correct me if I'm wrong. I'm always running the latest version anyway.

[2016-07-03 21:42] Wirlie commented on #3979
Hum, I think that a tooltip can fix this:
![sin titulo](https://cloud.githubusercontent.com/assets/7508197/16547700/c2ab3f3e-413b-11e6-91b1-473cb74c4267.png)
The advantage of this is that if the text is very long this will split up into multiple lines:
![sin titulo](https://cloud.githubusercontent.com/assets/7508197/16547709/fe54bf1a-413b-11e6-971c-3091b2a37731.png)

[2016-07-03 22:28] marijnvdwerf commented on #3978
Taking this with me in #3977. In `windows/options.c:188` the endX is 10 pixels too much to the left.

[2016-07-03 22:46] satdav commented on #3961
[Crashed 26th June.zip](https://github.com/OpenRCT2/OpenRCT2/files/345344/Crashed.26th.June.zip)

[2016-07-04 00:47] joepie91 opened #3982 "Custom keybindings are not picked up"
**OS:** openSUSE 13.1
**Version:** 0.0.4
**Commit/Build:** Stable

I have a custom keyboard mapping configured, mapping my Caps Lock to trigger a Backspace instead (`setxkbmap -option caps:backspace && xmodmap -e "clear Lock"`). However, this is not being registered by OpenRCT2, despite working fine in essentially every other game and application I use. The regular Backspace key works fine.

The i

[2016-07-04 06:08] janisozaur commented on #3982
@joepie91 looks like you're the perfect tester for https://github.com/OpenRCT2/OpenRCT2/pull/3908 :)

[2016-07-04 07:47] Phillor commented on #3957
@Nubbie
Couldn't reproduce it either yesterday. I definitely got another crash yesterday even with the autosave turned off. Was about to place a fountain and the game crashed. Unfortunately I don't have the time of the crash. As soon as the game crashes again I will provide the logs with the according time.

Or is it sufficient for you if I just provide the logs without the time where the crashes

[2016-07-04 10:12] ThePsionic commented on #3957
Just got it randomly after 2 in-game years, with autosave turned off.

[2016-07-04 10:39] Patrik356b commented on #3979
@danidoedel it would only care about invisible differences

[2016-07-04 11:05] danidoedel commented on #3979
But still not possible if there are too many differences. The drop-down list is short and the strings can be long. Every difference eats double '...'

[2016-07-04 11:54] Patrik356b commented on #3979
Normally this would not happen and once or twice would suffice

[2016-07-04 12:12] janisozaur commented on #3899
@birthdaybrian clearly, your groups.json is not JSON.

[2016-07-04 14:08] joshbgosh10592 opened #3984 "OpenRCT2 crash Multiplayer"
**OS:** [Windows 7 x64]
**Version:** [0.0.5]
**Commit/Build:** [09863a4]
Server Crashed a few seconds after peeps explode cheat. Could have been something else causing the crash.
- [Probably not] Reproducible in RCT2 (vanilla)?
- [Yes] Multiplayer?

**Steps to reproduce:**
1. [Make peeps explode]
2. [Wait a few seconds. Might not be the cause, but that's what I did.

]

**Dump file**
[ed8c0f97-1f2

[2016-07-04 14:12] Nubbie commented on #3979
@Wirlie Misunderstood you at first, like your idea :sweat_smile:

[2016-07-04 14:23] Nubbie commented on #3984
@joshbgosh10592 This could be from the peeps exploding, it can be a bit unstable with exploding peep if its spammed in multiplayer, might crash sometimes in my experience

----
-
To Devs:

Error Message:
Unhandled exception thrown: read access violation.
sprite_idx was 0x20E62BE.

Call Stack:
[code]

Locals:
[code]

Autos
[code]

[2016-07-04 14:55] marijnvdwerf commented on #3979
Or just line-wrap items. With some extra padding, that shouldn't make it too hard to distinguish different items,

[2016-07-04 16:14] joshbgosh10592 opened #3986 "Feature request: Audit log/Perms to modify/delete users' own creations only"
Hello!
I have a feature that I know I would love, and I believe a lot of admins would as well.
I'm requesting the ability to allow certain level users (for example, new users) to only be allowed to modify/delete their own creations. Then, higher level users (advanced builders/moderators/admins) to modify everything. Basically, a check box in the group permissions that says, "allow to modify own on

[2016-07-04 16:31] Patrik356b commented on #3986
I'd say it would also be useful if you could restrict the user so they can only modify a specific area

[2016-07-04 16:48] IntelOrca commented on #3986
There is no way of storing ownership of "things" without a new save format.

[2016-07-04 16:50] #3899 closed

[2016-07-04 17:43] joshbgosh10592 commented on #3986
I'd say both. But I know I like to intertwine coasters, so restricting users to areas is difficult. Also, that wouldn't really help with trolls (from what I can think of).
Just maybe an addition for when you have your own?

[2016-07-04 18:05] joshbgosh10592 opened #3987 "Division by zero in vehicle update"
**OS:** [Windows 7 x64]
**Version:** [e.g. 0.0.5]
**Commit/Build:** [e.g. b4886d5]

Server crashed while only one users was online, and server was idle.

- [No] Reproducible in RCT2 (vanilla)?
- [Yes] Multiplayer?

**Steps to reproduce:**
1. [Start server and have one user join]
2. [Sit idle]

**Dump file**
[74d7e784-00f4-4690-904f-b609d175295b(b4886d5).zip](https://github.com/OpenRCT2/OpenRCT2/fi

[2016-07-04 19:16] Patrik356b commented on #3986
At least you could confine the troll this way and keep other areas unmodifiable.

[2016-07-04 19:43] birthdaybrian opened #3988 "HTTP request failed issue"
**OS: Windows 7 Home Premium x64 SP1 with Windows 8.1 UI**
**Version: 0.0.5-11**
**Commit/Build: f3786b3**

Hey guys. When I tried to play multiplayer, I get error messages in the console saying that HTTP request has failed which means that I couldn't connect to any server in OpenRCT2.

- [ ] Reproducible in RCT2 (vanilla)?
- [X] Multiplayer?

**Steps to reproduce:**
1. Launch OpenRCT2
2. Try to p

[2016-07-04 20:00] Patrik356b commented on #3988
How is your network configuration on this computer?

[2016-07-04 20:24] ThePsionic opened #3989 "Remember previous save/load location"
I keep all my saves in my Dropbox folder so I can play them cross-computer, however the Open / Save dialogues always point to the OpenRCT2 saves folder by default. It would be nice if the last accessed folder could be remembered, so that I don't have to click through a ton of folders to get to my saves.

[2016-07-04 20:26] birthdaybrian commented on #3988
@Patrik356b I am connected through XFINITY internet with LAN connection.

[2016-07-04 20:36] IntelOrca commented on #3988
If you do not have internet access then it will fail when trying to download the server list. Similarly if you advertise your server, it will fail to heatbeat. This should not prevent you from hosting or joining servers locally though.

[2016-07-04 20:41] birthdaybrian commented on #3988
Checked firewall in Norton Security Suite and found out that OpenRCT2 isn't blocked and is allow.

[2016-07-04 21:41] ThePsionic opened #3990 "Crooked House shows too many operating modes"
**OS:** Windows 10
**Version:** 0.0.5
**Commit/Build:** f3786b3

The Crooked house shows pretty much all operating modes in the game instead of just "Crooked house mode".

- Reproducible in RCT2 (vanilla)? Tested, not the case
- Multiplayer? No

**Steps to reproduce:**
1. Build a Crooked House
2. Under the settings tab of the Crooked House, click the dropdown menu
3. See that there are a lot more

[2016-07-04 21:43] Nubbie commented on #3990
That's because of 'Show all operating modes'

[2016-07-04 21:48] Goddesen commented on #3990
Crooked House in race mode sounds fun.

[2016-07-04 22:10] Nubbie opened #3991 "'New in this build'"
On the title screen, have a small window/box that pops up with the DEV build telling what's new from that build, either by taking the text from GitHubs merges (Like the website does) or have a small text document of some sort that we have to edit when we add new stuff

Useful for people who wants to see what's been added etc and it's 'more comforting' seeing it's moving forward

[2016-07-04 22:16] ThePsionic commented on #3990
@Nubbie It somehow fixed itself - I've not heard of a "Show all operating modes" option before, and I don't know what caused it to happen in this instance :o

[2016-07-04 22:17] ThePsionic commented on #3990
@Goddesen I don't know, I'm kind of eyeing that "Upward launch" mode myself :wink:

[2016-07-04 22:22] Nubbie commented on #3990
@ThePsionic Try looking in cheats and see if you can find it there

[2016-07-04 23:32] mrtnptrs commented on #3991
But the point is that most of the average users won't understand it and don't even know what a pull request is. :) I would vote "no" for this idea, but what do the others think?

[2016-07-05 05:25] janisozaur commented on #3991
This was discussed recently either here or on gitter and rejected. It'd be too tedious for us to provide a log of each and every entry, while it provides no useful information to the user if he is not familiar with the code. If you really want to know, you can use `git log`.

[2016-07-05 05:25] #3991 closed

[2016-07-05 05:44] CybertronicToon opened #3992 ""Invalid vehicle type" and freeze when attempting to place Log Flume "Splash Mine"."
Windiws 8.1 U1 (6.3 build 9600)
0.0.5
build f3786b3

Attempting to place "splash mine" causes freezing, occasionally causes crash. Can be reproduced by hovering over, game will crash.

Console with text "invalid vehicle type":
https://i.sli.mg/bsxRus.png

Reproducible in RCT2 (vanilla)? No.
Multiplayer? No.

**Steps to reproduce:**
1. Go to any scenario
2. select log flume, select "splash mine", h

[2016-07-05 08:04] Gymnasiast commented on #3990
I can't imagine this being triggered by anything other than accidentally checking 'Show all operating modes' when in the cheat window. For this reason, I'll close this. Should you find another reproducible way this can be reopened.

[2016-07-05 08:04] #3990 closed

[2016-07-05 08:06] Gymnasiast commented on #3982
Indeed. The current set up uses scancodes - basically: it detects what button is pressed, not what is assigned to it. #3908 will change this, which should solve problems like this. If you can test it, please do so.

[2016-07-05 14:24] Nubbie commented on #3992
Tried the game and got an error directly when I loaded the map

-
------
**To Devs**; This is what I got from OPs dump

**Error message:**
Unhandled exception thrown: read access violation.
mapElement was nullptr.

**Call Stack:**
[code]

**Locals;**
[code]

[2016-07-05 15:10] fromthere commented on #3986
How about adding multi meta file for save file? so sv6 format remains same, and we could save some orct data to seperate meta file.

[2016-07-05 17:30] Nubbie commented on #3987
**To Devs;**
This is what I got from the dump file provided by OP

Error Message:
Unhandled exception at 0x73DA9C9A (openrct2.dll) in 74d7e784-00f4-4690-904f-b609d175295b(b4886d5).dmp: 0xC0000094: Integer division by zero.

**Call Stack:**
[code]

**Autos:**
[code]

**Locals:**
[code]

[2016-07-05 19:42] gDanix commented on #3324
This can be caused because both windows are requiring the cursor to "do special things". Opening the footpath window having the Clear Scenery Tool already opened causes this one to disappear, and footpath the only one visible.

I can confirm this happens in Linux, and not only with footpath window, but for Clear Scenenery and Land windows too.

I'm working on this.

[2016-07-05 20:30] CybertronicToon opened #3994 "Add an option to show hover text in bottom bar like RCT1."
It would be nice to have an option to show the hover text in a bar at the bottom like in RCT1. I find this looks nicer, and is easier to read than the RCT2 tooltips, as they show instantly, and they are always in one place, with. For those reasons, I prefer the RC1-style bottom text, rather than the RCT2-style tooltips, and would like to have it as an option to use. This is not a duplicate of #142

[2016-07-05 21:33] SijmenSchoon commented on #3994
I could definitely see this being a useful feature for some

[2016-07-05 22:08] birthdaybrian commented on #3988
I already tried multiplayer in the stable build and still getting this message. I also tried to host a server and I am getting this message, cannot connect to master servers.

[2016-07-05 22:18] mrtnptrs commented on #669
Sorry, forgot about this issue, yes, it got fixed

[2016-07-05 22:24] PFCKrutonium commented on #3988
Master Server is online, on the internet. You don't need it for local play, your issue is a firewall somewhere.

[2016-07-05 23:40] birthdaybrian commented on #3988
@PFCKrutonium My firewall in Norton allows OpenRCT2. I am wondering it's because of my router?

[2016-07-06 00:35] birthdaybrian commented on #3988
My router is a Arris TG862G-CT as I forgot to mention the router that I have.

[2016-07-06 07:21] Gymnasiast commented on #3994
I consider it useless to be honest, as it takes up an incredible amount of space for little benefit.

[2016-07-06 07:32] IntelOrca commented on #3924
https://www.reddit.com/r/openrct2/comments/4reffw/moving_scenery_objects_are_frozen_any_fix/

[2016-07-06 07:40] janisozaur commented on #3961
Possibly a duplicate of #3957

[2016-07-06 08:18] Jayrod4 commented on #3961
this same thing is happening to me. it happens every time I try to place any prebuilt coaster or anything like it. Im using the Demo tho so I dont know if that would have anything to do with it.

[2016-07-06 09:34] Horsti12 commented on #3994
I actuall didn't know that but when I now think about it than I like more the sytle from RCT1. It was easier for me at the beginning. Especiall it was better for the tutorial in rct1 compared to rct2.

[2016-07-06 11:47] Patrik356b commented on #3994
@Horsti12 has a good point

[2016-07-06 13:38] SijmenSchoon commented on #3989
I could take a look at this if you want

[2016-07-06 14:18] Nubbie commented on #3957
@Phillor The time isnt that useful
Would be better if you provided a dump file _(which often gets created when it crashes)_, logs or verbose :p

[2016-07-06 14:26] Gymnasiast commented on #3994
@Horsti12 Better for the tutorial? How? RCT2's tutorial was superior to RCT1's in my opinion as it contained annotations, which RCT1's lacked.

[2016-07-06 14:36] Goddesen commented on #3994
I think this would be a nice option to have. I occasionally find myself just looking at my park for a long while and zoning out - I have to move my mouse to some point where it won't accidentally hover over something so that I'm not distracted by tooltips!

[2016-07-06 14:36] Patrik356b commented on #3994
I have not tried the rct tutorial so I can't comment on that part

[2016-07-06 14:59] Nubbie commented on #3961
@janisozaur - No idea if it's a dupe of the issue you referenced BUT, issue #3974 is a duplicate of this

----
-
**To devs;** Got this from dump file provided from _70e1977a-6927-4e38-ac68-1122c3665011(2e3500e).dmp_ in '_Crashed.26thJune.rar_'
**Error message:**
Unhandled exception thrown: read access violation.
[peep was 0x1DE78BC.](https://github.com/OpenRCT2/OpenRCT2/blob/develop/src/windows/ri

[2016-07-06 15:14] janisozaur commented on #3989
@ThePsionic you can symlink the save folder to one in dropbox.

[2016-07-06 15:46] Patrik356b commented on #3989
@janisozaur it doesn't completely solve this though

[2016-07-06 15:55] SijmenSchoon commented on #3989
I'm on it, finished it for loading saves, just gotta make it work for saving and scenarios too.

[2016-07-06 17:22] birthdaybrian commented on #3988
I restarted my router and I still get this issue. I am going to try to get help on the OpenRCT2 forums to see if they can help me fix this issue.

[2016-07-06 18:27] Nubbie commented on #3746
Is it fixed in #3993? :s

[2016-07-06 19:12] CybertronicToon commented on #3994
It would just be an option, you could disable it. You don't even have to enable it in any of the default themes, I would just like it as an option, as I find it is easier to read the text over there than fumbling around for the RCT2-style one that constantly movies, and I find the constant background it has is nice.

[2016-07-06 19:15] Horsti12 commented on #3994
And when you add the bar at the bottom for notifications than you also could add the news button. As I already said in a other thread that I always open the news with the bar at the bottom of the screen in rct1.

[2016-07-06 19:59] #3324 closed

[2016-07-06 20:11] SijmenSchoon commented on #3989
This can be closed now!

[2016-07-06 20:27] birthdaybrian commented on #3988
I finally fixed this issue by moving the OpenRCT2 folder to my desktop and started OpenRCT2 fresh and I can now play multiplayer again. I found out that my old config file was corrupted.

[2016-07-06 20:27] #3988 closed

[2016-07-06 20:40] #3989 closed

[2016-07-06 22:06] SijmenSchoon commented on #3978
I have the same problem on OS X 10.11, commit f866e6fac2b88fb8f132469bc6ec68bfb25f504b, for what it's worth.

[2016-07-06 23:12] AaronVanGeffen commented on #3994
@CybertronicToon Of course it could be optional, but bear in mind it does complicate the code base. Every instance that projects a tooltip on a viewpoint would have to project it to the notification area instead. This can probably be done in a maintainable way, but it is not as straightforward as you sketch.

I'm ambivalent to whether or not this option should be introduced, but it's obviously not

[2016-07-06 23:35] Liampie opened #3999 "Monochromatic animated objects"
v0.0.5 6a5ecf0

I noticed that in one of my park all the animated flags objects had turned completely black. They're supposed to be blue with black poles. The pole and the flag are seperately colourable, but it takes the colour selected in the first custom colour slot and uses it as the second colour as well. Hence why the flag pole colour is now the flag's colour too. Other animated objects have

[2016-07-07 00:01] CybertronicToon commented on #3416
Would the brakes image eventually be replaced with an image similar to the RCT1 image?

[2016-07-07 02:57] Superjustinbros commented on #3940
Downloaded build 6a5ecf0 and it's still crashing.

[Crash July 6th.zip](https://github.com/OpenRCT2/OpenRCT2/files/351299/Crash.July.6th.zip)

I've heard that this was fixed at some point, so I'm not sure if one of the updates that I installed put in some kind of flag that bugs out every other version of the game I try to run.

[2016-07-07 06:07] CybertronicToon commented on #3994
I mean, of course once the implementation of the tooltip code is done. Once the tooltip code is done, (I'm no expert in coding) could you possibly make it so there are two functions (or whatever) for it, one for if it is disabled, (current one) and one for when it is enabled?

[2016-07-07 06:29] InfinityBladeSX commented on #3942
this is because it is a locked file, once downloaded, you cant delete it, unless you uninstall it via your "Programs and Features" in your control panel.

[2016-07-07 07:08] IntelOrca commented on #3999
Can you upload screenshots and a park?

[2016-07-07 07:39] Gymnasiast commented on #3416
@CybertronicToon Yes.

[2016-07-07 07:43] Gymnasiast commented on #3994
Funny how it's always people who haven't contributed a single line of code telling us what to do and how easy something is.

If you only know Javascript, you're in for a nasty surprise if you try your hand at C. As for your 'optional' bit: every option complicates the code base. It's easy to demand more features if you're not the person who has to implement it - or worse, maintain it.

[2016-07-07 08:21] SijmenSchoon commented on #3940
Have you tried deleting/moving the OpenRCT2 folder (%APPDATA%\OpenRCT2)?

[2016-07-07 09:51] Liampie commented on #3999
![scr73](https://cloud.githubusercontent.com/assets/19242088/16649385/0957ac92-4439-11e6-8c48-a654a0678a45.png)

Note the selected colours and how they show differently in the scenery window and the actual placed object.

[Crazy Castle.zip](https://github.com/OpenRCT2/OpenRCT2/files/351854/Crazy.Castle.zip)

[2016-07-07 11:26] IntelOrca commented on #3940
@SijmenSchoon we don't save the folder in AppData, we save it in Documents.

[2016-07-07 17:29] Nubbie opened #4001 "Custom Title music (Using 'Custom Music 1 & 2')"
Increase the 'title musics' window to include 2 more tracks that are Custom music 1 & 2.

Just a change to increase the value to 5 and search for those files, if found, play, if not, error message

[2016-07-07 18:28] gDanix commented on #3749
It's possible that the code handling block brakes isn't yet decompiled. I could not find any occurrence of VEHICLE_STATUS_STOPPED_BY_BLOCK_BRAKES other than https://github.com/OpenRCT2/OpenRCT2/blob/develop/src/ride/vehicle.h#L288, which is only a declaration.

[2016-07-07 20:04] duncanspumpkin commented on #3749
No it's there me and Intel implemented it all. Look for the track elem for location in the code.

[2016-07-07 21:28] gDanix commented on #3749
AFAIK, [this code](https://github.com/OpenRCT2/OpenRCT2/blob/develop/src/ride/vehicle.c#L5447) is reached only when a train gets stopped in a block-brake track segment.

I have to investigate it deeply (and it's getting late), but it's probable that I'm going to find a solution for this.

[2016-07-07 21:32] Nubbie commented on #4001
Closing this as Im fixing this and am working on it ;o

[2016-07-07 21:32] #4001 closed

[2016-07-07 21:46] wolfreak99 opened #4003 "Guests get stuck on closed ferris wheels."
**Version:** 0.0.5
**Commit/Build:** 6c0d4c5

While closing down a park, I closed all the rides through the ride list, and set the speed to hyper to get the guests out quicker, but I noticed that anyone riding ferris wheels are stuck on because while the ride is closed, it does not continue to rotate until the guests are off.

Unsure if it's reproducable in vanilla - vanilla is broken.

[2016-07-07 21:48] duncanspumpkin commented on #3749
@gDanix issue is here but I'll let you try work it out before i post a fix https://github.com/OpenRCT2/OpenRCT2/blob/develop/src/ride/vehicle.c#L5407

[2016-07-08 02:09] PFCKrutonium commented on #3942
@InfinityBladeSX No, it's just an oversight in the script for the uninstaller.

[2016-07-08 03:18] joshbgosh10592 opened #4004 "Permissions/Group bug - not sticky to user's machine"
When assigning a user to a group, if they log out and then back in as another name on the same server, the group they are assigned to is reset.

**OS:** Windows 7 x64
**Version:** 0.0.5
**Commit/Build:** 6c0d4c5

When assigning a user to a group, if they log out and then back in as another name on the same server, the group they are assigned to is reset. (Not sure where to put it, so I'll put the

[2016-07-08 05:27] HtHNightwolf opened #4005 "Host with a certain cheat"
Dear community. Once a day I have to restart my hosted openrct2 headless server.
I do that by chronjob. But every time I relogg everything is vandalized. Is there a way to start the server with "Deactivate Vandalism" checked?

[2016-07-08 07:00] janisozaur commented on #4004
Works as intended. The assignment is not per machine, but per user key.

[2016-07-08 07:00] #4004 closed

[2016-07-08 07:26] WhenPenguinsAttack commented on #4003
A temporary workaround for this is to place the ride into construction mode and exit out of it right away.

[2016-07-08 09:54] SijmenSchoon commented on #3940
Oh sorry, I'm not a Windows user. A quick Google turned up AppData, so that's why I said AppData

[2016-07-08 10:11] SijmenSchoon commented on #4003
I believe you can also close the ride a second time, forcing them out, as another temporary workaround

[2016-07-08 10:26] Nubbie commented on #4005
@HtHNightwolf It's not possible to start a server with a certain cheat on sadly enough as all cheats gets reset to the default value which is off

[2016-07-08 11:31] Patrik356b commented on #4005
Cheats aren't synced (yet)

[2016-07-08 11:32] janisozaur commented on #4005
Yes they are

[2016-07-08 11:58] duncanspumpkin commented on #4005
@janisozaur this is about having cheats preset on servers not about sending the cheats over multiplayer.

[2016-07-08 13:11] joshbgosh10592 commented on #4004
I believe this should be re-evaluated. It allows spammers to be able to simply change their name and continue to cause trouble in parks.

[2016-07-08 13:19] janisozaur commented on #4004
That's why you should set default group as a one with limited permissions and only elevate permissions for trusted clients.

This is by design.

[2016-07-08 13:25] joshbgosh10592 commented on #4004
Maybe so, but think of this case:
Someone logs in, and starts chatting obscenities. You set them to no chat group. They logout, and change their name. They are then allowed to chat again.
You can't set the default group to no chat, because then how will anyone request permissions? On my server, people are always asking for this. Multiple people would strongly feel this should be re-evaluated. We s

[2016-07-08 13:27] janisozaur commented on #4004
There is simply no way we can implement "per machine" checks that you request.

[2016-07-08 14:42] joshbgosh10592 commented on #4004
Just a suggestion, what if during the install process, a hash was generated and stored (only the first time this change would be implemented)? Then, that hash is used instead of the current hash value?

[2016-07-08 14:46] janisozaur commented on #4004
And how exactly would this be different?

[2016-07-08 14:48] joshbgosh10592 commented on #4004
Because right now, I believe the hash is created when they connect to the server using their name. This way, the hash is based on the install, which cannot be easily changed, rather than a name that someone enters into a text field.
It would make it much more difficult to spam once that user/hash has been blocked.

[2016-07-08 14:58] janisozaur commented on #4004
Your suggestion is wrong on so many levels…

How do you envision the key creation takes place when user does not *install*, but simply launch the game?
How do you ensure the key is generated then and only then?
How do you prevent user from re-generating a key?
How do you let user transfer a key between his multiple machines, so he can maintain his identity?
How do you let user then generate a key

[2016-07-08 15:16] joshbgosh10592 commented on #4004
_How do you envision the key creation takes place when user does not install, but simply launch the game?:_
**Either when they install the update for OpenRCT2, or upon first launch of OpenRCT2.exe, if hash check fails (file doesn't exist/unreadable), then regen. This shouldn't happen, unless the user is tinkering with config files.**

_How do you ensure the key is generated then and only then?:_
*

[2016-07-08 15:18] ThePsionic commented on #4003
I'm fairly sure this is also true with non-station block breaks - closing twice has always been the fix for this.

[2016-07-08 15:18] janisozaur commented on #4004
So right there, in the very first point, you dismiss everything your *feature* suggestion is about.

[2016-07-08 15:20] joshbgosh10592 commented on #4004
Look, just because you see a slight flaw in my proposal, doesn't mean it's complete garbage. Your current "authentication" method is seriously flawed. I'm proposing a better way, which makes spoofing your identify harder than modifying a simple text field.

[2016-07-08 15:31] joshbgosh10592 commented on #4004
Besides, my proposal is about discouraging spoofing, not completely blocking it. Without actual authentication (with passwords) methods, I can't see how you could completely block it.

[2016-07-08 15:31] janisozaur commented on #4004
This is not "slight flaw", this is you wanting to cover one issue (people being mean) with a plethora of other new problems. There will never be enough technical solutions to non-technical problems like this one.

It is not, you misunderstand its purpose. It is not to meant to filter out evil clients at will, but to promote the good ones and being able to identify them reliably.

If you feel so st

[2016-07-08 15:41] Gymnasiast commented on #4004
This is not getting anywhere. The drawbacks you mention are real, but no system is perfect, and the current system has been chosen for several reasons already explained by Janisozaur in detail.

I'm therefore locking this issue.

[2016-07-08 16:32] Wuzzy2 opened #4009 "Scenario locking does not work when scenarios are sorted by difficulty"
**OS:** GNU/Linux
**Version:** 0.0.4

If you sort scenarios by difficulty, the locked scenarios feature does not work and is disabled automatically. This does not make sense, this setting should be completely independent of the other.
- Reproducible in RCT2 (vanilla)? N/A
- Multiplayer? N/A

**Steps to reproduce:**
1. Start OpenRCT2
2. Make sure you have not completed “too many scenarios” (or else

[2016-07-08 16:46] Wuzzy2 opened #4010 "Using right mouse button to scroll in lists moves list to the top"
OS: GNU/Linux (Arch Linux)
Version: 0.4.0
Known in RCT2? I don't know.
Mutliplayer? N/A

If you use the right mouse button to scroll in windows (e.g. scrollable lists like in the staff menu, the map, and so on, mostly those windows have scroll bars), OpenRCT2 scrolls the list or map or whatever very quickly to the top only, no matter in which direction you are moving the mouse.

Edit: The scrollin

[2016-07-08 16:56] Wuzzy2 opened #4011 "Track saving dialog is annoying to use (bad default values)"
Version: 0.4.0 on Arch Linux

This is something which annoys me a lot: If you want to save a track design while playing a scenario by using the save button in the track window somewhere, no good default values are used.
It just points me to the home directory with no file name pre-entered. Every fucking time. (Besides, I don't even know where I am supposed to save my tracks to make them visible in

[2016-07-08 17:02] SijmenSchoon commented on #4003
Okay, I've been experimenting a bit. I could reproduce this with OpenRCT2 commit 52ed90ed95a413d197fbe115707f4700f226f22d on OS X two out of three times.

The third time it behaved exactly like the vanilla game behaves 100% of the time in my testing: finishing the "circuit", then going into ejection mode — letting every peep out by turning one seat at the time until everyone is out — and then clos

[2016-07-08 17:04] HtHNightwolf commented on #4005
@Nubbie Can I edit the default value then in some .ini file?

[2016-07-08 17:11] Wuzzy2 opened #4013 "Scroll bar can get tiny for extremely long lists"
**OS:** GNU/Linux (Arch Linux)
**Version:** 0.0.4

For windows with lists (like the list of attractions), you have a scroll bar. But the “bar” which you can click and drag can get tiny if the list is very long, making it hard (but not impossible) to click. This easily happens in the guest list with over 1000 guests.

- Reproducible in RCT2 (vanilla)? Yes, this is originally a RCT2 flaw, OpenRCT sh

[2016-07-08 17:38] IntelOrca commented on #4011
Does it work if you create a `track` directory in your OpenRCT2 user directory... the one that contains `config.ini`?

[2016-07-08 17:42] IntelOrca commented on #4009
The way scenario locking is kind of iffy, it relies on the scenarios to be listed in the order that they must be completed in. So if we do enable locking scenarios when sorted by difficulty, it would force you to complete it in game order, rather than difficulty progression.

It was not implemented because of the above reason... (and it doesn't make sense to unlock them in a different order, parti

[2016-07-08 17:46] IntelOrca commented on #4004
@joshbgosh10592 what you are asking requires a central authorisation server. The same thing we need to stop impersonation across severs.

#3155 was my original plan, but many users were against the idea of a central authorisation server. You can continue the discussion there though if you are for it.

[2016-07-08 18:21] Patrik356b opened #4014 "Improving the touchscreen support on windows (map scrolling)"
I'm not sure how to tackle this, but RCT1 works great, RCT2 good and OpenRCT2 mediocre

Note that this only affects scrolling the map, nothing else, or this is what i get after some testing.

[2016-07-08 18:35] Wirlie commented on #4010
You are using OpenRCT2 0.0.4? I've introduced a recently fix (0.0.5), Can you test the latest build?

[2016-07-08 18:53] gDanix commented on #4010
I can't confirm this bug on GNU/Linux (Ubuntu), commit [9efc0ca](https://github.com/OpenRCT2/OpenRCT2/commit/9efc0cab6a5c77a4bf47e67d8e84a39c4af6164e) (+1 small brake-block related fix)

Using the right button let me navigate the list in a 2D style (both horizontal and vertical).

[2016-07-08 18:57] gDanix commented on #4013
![screenshot](https://cloud.githubusercontent.com/assets/1117657/16698434/8358fc74-454e-11e6-8772-b83087150e7c.png)

[2016-07-08 20:13] #3749 closed

[2016-07-08 21:27] SijmenSchoon commented on #4003
After some digging, debugging and Excel magic I've knocked this together:

![graphy goodness](http://i.imgur.com/XlbkK5h.png)

Starting at the left, you can see the ferris wheel completing its circuit before starting to kick out all peeps. It then arrives, unloads the peeps at the bottom, moves to the end of the station (which is instant, because it's... not a station), waits for passengers to get

[2016-07-08 21:45] SijmenSchoon commented on #4003
As a side note, I love that graph. I'd love to have this graph in the game somewhere.

[2016-07-08 21:45] #4003 closed

[2016-07-08 22:34] Wuzzy2 commented on #4011
No. I have placed serveral `.td6` files into said directory but none of them seem to become visible in OpenRCT2. :-(

[2016-07-08 22:46] Wuzzy2 commented on #4010
Okay, right mouse button scrolling works fine as of 76b2621.

[2016-07-08 22:46] #4010 closed

[2016-07-08 22:47] IntelOrca commented on #4011
What I meant was, does it navigate to the correct directory if you create it. But if it already existed then it doesn't work regardless - that is what I wanted to check.

[2016-07-08 22:58] Wuzzy2 commented on #4009
Well but OpenRCT2 now has this feature. Since people decided to have this feature so it should be consistent in its implementation. It feels really dumb that a mere interface change suddenly unlocks all missions. How can you not see this as a bug? :P Would you rather have a broken locking feature than one that may be mildly irritating for 2 seconds?

The same is true when sorted by game, so this i

[2016-07-08 23:58] SijmenSchoon opened #4019 "Allow user to choose between tracks included with the game and user track directory"
**Version:** 0.0.5-develop
**Commit/Build:** e9bdad807944fc2d747c2a3714b98f0c8f0ba26b

Currently, the Default button in the track load/save directory window always points to the directory with tracks included with the games, leaving no easy way to browse to the user track directory.

It might be nice to have a dropdown menu appear when clicking on the Default button, allowing the user to choose be

[2016-07-09 00:08] marijnvdwerf commented on #4019
Isn't the RCT2-tracks folder due to become immutable anyhow? /cc @IntelOrca

[2016-07-09 06:00] SijmenSchoon commented on #4019
Yeah, it probably makes more sense to default to the user track directory when saving, but there's still the problem of loading.

[2016-07-09 06:10] Wuzzy2 commented on #4011
Oh, I just noticed I did not have the “track” directory. I had “tracks” instead, haha! I renamed the directory but OpenRCT2 still opens the system dialog pointing to my home directory.
But at least I can now load custom tracks.

[2016-07-09 06:15] SijmenSchoon commented on #4011
Try to remove the last_track_directory entry in your config.ini. It should default to the OpenRCT2 track directory

[2016-07-09 06:48] duncanspumpkin commented on #4013
Duplicate of https://github.com/OpenRCT2/OpenRCT2/issues/592 Although this one has a better description.

[2016-07-09 06:51] duncanspumpkin commented on #4011
I can't quite remember what we had in 0.0.4. Was that before @IntelOrca made the change to the tracks so that it loaded from a different folder.

[2016-07-09 07:05] #3999 closed

[2016-07-09 07:08] duncanspumpkin commented on #3924
@IntelOrca that was from an old build before the revert. I think this can now be closed if everyone is in agreement.

[2016-07-09 07:48] Androgeos commented on #3961
I encountered what appears to be an identical problem a few hours ago while playing the RCT2:TT scenario "Australasia - Ayers Rock". I was thinking of starting a new issue, but then I saw that this one is open.

**OS: Windows 10 (Build 10586.420)**
**Version: 0.0.5-develop**
**Commit/Build: f4ca587 (from https://openrct2.org/downloads)**

The game runs fine until May, Year 1, at which point I atte

[2016-07-09 09:09] Wuzzy2 commented on #4011
Nope, removing `last_track_directory` doesn't do anything.
BTW: I am now using the development version (current: 76b2621).

[2016-07-09 11:20] IntelOrca commented on #3924
@duncanspumpkin they said their commit was 080f470, which is after the revert.

[2016-07-09 11:21] IntelOrca commented on #4019
The default should be the user directory.

[2016-07-09 16:20] joshbgosh10592 opened #4022 "Mac: Launching game, cursor off. Work around, full screen app, then restore to windowed"
Lower priority, but, when launching the OpenRCT2 game, the game defaults to a large windowed view. While in this view, after launching, the cursor is off by about 3 inches.
Once you full screen (Green button), selection is normal, even if you switch game back to windowed view.

**OS:** [Mac OS X 10.11.5]
**Version:** 0.0.5
**Commit/Build:** 7d21e10 **NOTE: This does not appear on the main screen o

[2016-07-09 16:36] SijmenSchoon commented on #4022
Yeah, I'm having this issue too, OS X 10.11.5

[2016-07-09 16:48] joshbgosh10592 commented on #4022
It also appears that the text is slightly cut off at the top. Is that just me?

[2016-07-09 18:24] joshbgosh10592 opened #4023 "Mac: Unable to cheat on Mac OS"
**OS:** Mac OS X 10.11.5 (Not in Wine)
**Version:** 0.0.5
**Commit/Build:** 7d21e10

When in OpenRCT2, both single player and Multiplayer, the cheat button is unavailable, even if user is admin/granted cheat permissions. Confirmed permissions are set by setting other users to another group/other things that only elevated users have permissions to do.

- [ ] Reproducible in RCT2 (vanilla)?
- [Both

[2016-07-09 19:25] Gymnasiast commented on #4023
We figured that people who have enough money for Mac computers could easily buy everything themselves in the game. It's not a bug, it's a feature.

Nah, just go to the Options window and enable the cheat button. It's not actually Mac or multiplayer related.

[2016-07-09 20:40] joshbgosh10592 commented on #4023
...Sorry... I forgot that's not default.
Can we file this under, "bug existed between chair and keyboard"?
Thanks!

[2016-07-09 21:19] IntelOrca commented on #4023
@joshbgosh10592 Yes... `non-bug`

[2016-07-09 21:20] #4023 closed

[2016-07-09 22:07] janisozaur opened #4026 "New subcommand for inspecting sv6 contents"
For debug purposes it would be nice to have a sub-command which would be able to list the objects a given has/uses, without the need to install them.

Another step to that would be extracting/embedding specified objects.

[2016-07-09 23:01] joshbgosh10592 commented on #4023
(Just a joke, I knew it was filed under non-bug, just think there should be a tag labeled that lol (Kidding, again))
Thanks!

[2016-07-10 00:48] HtHNightwolf commented on #4005
Bump.
Where is the default value of a cheat set?

[2016-07-10 02:19] SijmenSchoon commented on #4019
Alright, I'll create a PR after finishing #4018

[2016-07-10 06:36] janisozaur commented on #4005
It's hardcoded

[2016-07-10 09:03] janisozaur opened #4029 "screenshot subcommand broken since #3803"
`screenshot` subcommand works in 706b3db but it is broken in 504e5e0 (#3803)

"broken" means it produces an empty image.

[2016-07-10 09:29] janisozaur commented on #4029
Perhaps it would make sense to log an error in cases when we try to draw to unsupported/uninitialised engine.

[2016-07-10 10:14] #4029 closed

[2016-07-10 10:29] Patrik356b commented on #3953
Hmm. This one comes and goes at free will.

133ba62 has the same problem.
[ORCT-crazycastle-buildride-10jul16.zip](https://github.com/OpenRCT2/OpenRCT2/files/355984/ORCT-crazycastle-buildride-10jul16.zip)

[2016-07-10 11:04] Wuzzy2 opened #4031 "Costs of land rights are no longer displayed while hovering a tile"
**OS:** GNU/Linux (Arch Linux)
**Version:** 0.0.5-develop
**Commit/Build:** 59c3656

In version 0.0.4, the cost of buying land was displayed when you were hovering a buyable tile. This was very useful, but does not work anymore in said development version (see above) after 0.0.4. Plase re-introduce this feature, I am pretty sure it has been removed by accident since I see no reason at all to do so

[2016-07-10 11:16] Wuzzy2 opened #4032 "Disabling land smoothing leaves some edges being smoothened"
**OS:** GNU/Linux (Arch Linux)
**Version:** 0.0.5-develop
**Commit/Build:** 59c3656

If you disable land smoothing / edge smoothing in the options, there are still some edges which are always smoothened.

Screenshot (follow link to enlarge) of land smoothing setting being disabled:
![smooth](https://cloud.githubusercontent.com/assets/1675853/16713214/59e533f0-46a0-11e6-80d6-a53d9ee02f3e.png)

- Re

[2016-07-10 11:22] IntelOrca commented on #4032
I think this is a vanilla bug, or the reverse was opposite, some diagonal edges were not smoothed.

[2016-07-10 11:24] Wuzzy2 opened #4033 "“About 'OpenRCT2'” window has no information about OpenRCT2"
**OS:** GNU/Linux (Arch Linux)
**Version:** 0.0.5-develop
**Commit/Build:** 59c3656

If you open the “About 'OpenRCT2'” window (accessible in-game through the “floppy disc” icon, you only see the about dialog of RCT2. This dialog has zero information about OpenRCT2, so the menu action is clearly mislabelled.
Fix this by either adding a custom window for OpenRCT2 (and maybe leaving a possibilty to

[2016-07-10 11:37] Wuzzy2 opened #4034 "Attempting to delete default title sequences may crash game"
**OS:** GNU/Linux (Arch Linux)
**Version:** 0.0.5-develop
**Commit/Build:** 59c3656
- Reproducible in RCT2 (vanilla)? N/A
- Multiplayer? N/A

**Steps to reproduce:**
1. Make sure you have selected one of the default title sequences (e.g. OpenRCT2) selected
2. Restart game
3. Stay in the main menu
4. In the options, open the title sequence window, select the current title sequence and try to delete

[2016-07-10 11:38] AaronVanGeffen commented on #4033
Duplicate of #3941

[2016-07-10 11:43] #4033 closed

[2016-07-10 11:59] gDanix commented on #1432
I'm currently working on this. Probably this evening I'll have a fix for this issue

[2016-07-10 12:14] Wuzzy2 opened #4035 "Less confusing treatment of default title sequences in title sequence window"
**OS:** GNU/Linux (Arch Linux)
**Version:** 0.0.5-develop
**Commit/Build:** 59c3656

- Reproducible in RCT2 (vanilla)? N/A
- Multiplayer? N/A

The way how default title sequences are treated in the options and title sequence window is a bit confusing and user-unfriendly. So I have some suggestions.

First, I want you to rename the first 3 options for clarity:

* “RollerCoaster Tycoon 1” → “RollerC

[2016-07-10 12:24] IntelOrca commented on #4035
No need do this as it will change based on your language. en-GB will use 'Added Attractions' and en-US will use 'Corkscrew Follies'. Other language also do this respective of what was released in said relevant country.

As for un-abbreviating them, it would just get cropped in the drop down box making harder to see what's selected.

[2016-07-10 12:50] Wuzzy2 commented on #4035
“Added Attractions”, “Corkscrew Follies” and “Loopy Landscapes” alone fit perfectly into the drop-down lists, I have tested it.
Also note even the longest name I suggested will *not* get cropped if you open the drop-down list in the options menu. Cropping only happens in the title sequence selection (and, sadly, in the unopened drop-down list). So this seems to be more an issue with the GUI.
But i

[2016-07-10 12:53] Susrussr commented on #3958
Hi. I'm back from the trip. I tried to open openrct2.exe  verbose and the same thing happened. I'm sorry to be a pain. This picture shows what happened when I opened it from the Command Prompt with verbose
![screenshot 3](https://cloud.githubusercontent.com/assets/20157379/16713605/8c537010-467b-11e6-9c7c-9cc037e3735d.png)

[2016-07-10 13:03] Wuzzy2 opened #4036 "Track name renaming dialog does not allow names longer than 31 characters"
**OS:** GNU/Linux (Arch Linux)
**Version:** 0.0.5-develop
**Commit/Build:** 59c3656

- Reproducible in RCT2 (vanilla)? I don't know, but as far I know it was not an issue in RCT.
- Multiplayer? N/A

It is not possible to enter a long track name when you want to rename a track. You cannot enter more than 31 characters, it is artificially limited.
If the track already had a longer name, the rename d

[2016-07-10 13:10] Wuzzy2 opened #4037 "Text fields: Putting the cursor on a non-ASCII character makes it long"
**OS:** GNU/Linux (Arch Linux)
**Version:** 0.0.5-develop
**Commit/Build:** 59c3656

- Reproducible in RCT2 (vanilla)? Probably not if it used the Windows dialog.
- Multiplayer? N/A

How to reproduce:
* Find any dialog with a text field (e.g. track renaming, renaming of theme, etc.)
* In the text field, only enter some non-ASCII or “foreign” characters like the German umlauts “ä”, “ö”, “ü”, “Ä”,“Ö

[2016-07-10 13:12] Patrik356b commented on #4031
Does it work for build rights?

[2016-07-10 13:16] IntelOrca commented on #4035
Only when its open... I am talking about when its not.

[2016-07-10 13:16] Wuzzy2 opened #4038 "Title sequences window: Long names are not cropped in drop-down list"
**OS:** GNU/Linux (Arch Linux)
**Version:** 0.0.5-develop
**Commit/Build:** 59c3656

- Reproducible in RCT2 (vanilla)? No.
- Multiplayer? N/A

Try to do this:

* Open the title sequences window
* Create a new title sequence
* Enter the name “This is an ultralong name lalalalalalalalalalalalalalalalalalalalalalalalala”
* Watch the name being displayed on the drop-down list

Expected: The very long

[2016-07-10 13:18] IntelOrca commented on #4037
UTF-8 issue, codepoints vs bytes.

[2016-07-10 13:19] Patrik356b commented on #4037
Happens on windows too. http://puu.sh/pWMci/1da1db8235.png

[2016-07-10 13:24] Wuzzy2 commented on #4035
This is impossible. “RollerCoaster Tycoon 1” fits into the window, and the names “Loopy Landscapes”, “Added Attractions” and “Corkscrew Follies” are ALL shorter than that (in terms of actual space used by the font), and they fit in every imaginable way into the drop-down lists, even when it is selected. At least for me. Is it not the case for you?
If so, that's strange, because then the entry “Rol

[2016-07-10 13:25] Patrik356b commented on #4032
Duplicate of #2333

[2016-07-10 13:27] Wuzzy2 commented on #2333
Here's another screenshot:
![smooth](https://cloud.githubusercontent.com/assets/1675853/16713214/59e533f0-46a0-11e6-80d6-a53d9ee02f3e.png)

[2016-07-10 13:27] Wuzzy2 commented on #4031
No.

[2016-07-10 13:44] Wuzzy2 opened #4039 "Incorrect quotation marks in German"
**OS:** GNU/Linux (Arch Linux)
**Version:** 0.0.5-develop
**Commit/Build:** 59c3656
- Bug present in RCT2? Yes.
- Multiplayer? N/A

The quotation marks in the German localization are incorrect.

Like this:

Where it should be:

I would normally post this to the localization repository but this can't be fixed by changing the German localization at the moment since this requires some characters whic

[2016-07-10 13:48] Patrik356b commented on #2060
Any progress on this?
The current map generator i feel should have 2 sliders on the first two tabs to make it more useful :
Terrain style: Flat - Mountain slider
Land/Water slider

[2016-07-10 13:51] Wuzzy2 opened #4040 "Consistent naming of the original games"
This is a minor issue for me since it annoys me a little bit.

Throughout OpenRCT2, I think the original games RollerCoaster Tycoon and RollerCoaster Tycoon 2 should normally be written out if there is enough space and abbreviations should be avoided if possible (OpenRCT2 is not a forum or chat).
Also, drop the “1” in “RollerCoaster Tycoon 1” and “RCT1”, because the “1” is not part of the game nam

[2016-07-10 13:57] Nubbie commented on #4040
You could make a PR about this too to 'fix' it, here is the file that you should edit:
https://github.com/OpenRCT2/OpenRCT2/blob/develop/data/language/en-GB.txt

I think it's better to keep everything consistent with 'RCT1/RCT2' instead of mixing it around

[2016-07-10 13:58] #4032 closed

[2016-07-10 14:00] Nubbie commented on #4038
Duplicate of #3979

[2016-07-10 14:22] Wuzzy2 opened #4041 "Doubly written text in scenario options when using custom theme color"
**OS:** GNU/Linux (Arch Linux)
**Version:** 0.0.5-develop
**Commit/Build:** 59c3656
- Reproducible in RCT2 (vanilla)? I don't know.
- Multiplayer? N/A

**Steps to reproduce:**
1. Start scenario editor
2. Go all the way until the step “Options Selection”
3. Click on the park options tab
4. Select “Pay to enter park”
5. Open the options window (game options, not scenario options)
6. Create a new the

[2016-07-10 14:24] Goddesen commented on #4039
I was under the impression reverse guillemets were the most used quotation scheme for digital text - why not use these?

[2016-07-10 14:35] danidoedel commented on #4039
At least not in Germany ;) But they are used for printing (books etc.)

[2016-07-10 14:35] Wuzzy2 opened #4042 "Park name is not shown in objective selection window of scenario editor"
**OS:** GNU/Linux (Arch Linux)
**Version:** 0.0.5-develop
**Commit/Build:** 59c3656

- Reproducible in RCT2 (vanilla)? I don't know.
- Multiplayer? N/A

**Steps to reproduce:**
 1. Go all the way to the objective selection in the scenario editor
 2. Look at the window and see if it makes sense to you

This is how it looks to me:

https://i.imgur.com/HJ59Gnh.png

“Climate:” is written twice and the

[2016-07-10 14:38] Wuzzy2 commented on #4039
Guillemets are an accepted alternative for quotation marks in Germany, but still OpenRCT2 should support all quotation marks, not just for German but all other languages out there.

And yes, using guillemets would solve this problem at least for German.

[2016-07-10 14:56] Wuzzy2 opened #4043 "Segfault when starting with title_music set to 2"
**OS:** GNU/Linux (Arch Linux)
**Version:** 0.0.4

- Reproducible in RCT2 (vanilla)? I don't know.
- Multiplayer? N/A

I had and have problems with the sound in OpenRCT2 v0.4.0 under my GNU/Linux system.

At first, I was unable to start OpenRCT2 at all. It immediately segfaulted. When I tried to debug it with gdb, I noticed that there was something going on with audio. If it's of any help, here's

[2016-07-10 15:36] #4038 closed

[2016-07-10 16:03] Generalcamo opened #4044 "Split Flying Turns and Bobsled Coaster"
One of the things that bugged me about RCT2 is that the Flying Turns and Bobsleigh Coaster use the exact same track. Even though the Flying Turns coaster is a wooden coaster, not a steel coaster as depicted currently in-game. RCT3 did correctly depict the Flying Turns as a wooden-based roller coaster, and we could probably give the current bobsled coaster Wooden Supports instead of Steel Supports

[2016-07-10 16:38] Wuzzy2 opened #4045 "Cheats stay enabled over multiple games (even after joining multiplayer)"
**OS:** GNU/Linux (Arch Linux)
**Version:** 0.0.5-develop
**Commit/Build:** 59c3656
- Reproducible in RCT2 (vanilla)? N/A
- Multiplayer? Yes, it is related to multiplayer.

Hi! It is possible that you accidentally start a scenario with a lot of cheats enabled with you not even realizing it!

Here's an example:
- Join a random server (with cheats enabled, but the “uneducated” player may not even kn

[2016-07-10 18:03] Gymnasiast commented on #4013
Not a duplicate at all, #592 is about the object list having all sorts of bugs, this is about the inconvenience of small scrollbar thumbs. Totally different problems. (Reading #592 in-issue description would have shown that.)

[2016-07-10 18:07] Gymnasiast commented on #4045
Please stop saying 'should'. It's all opinion from your part.
Saving cheats in saved games is already planned, but not possible with SV6. That will have to wait until we can switch to our own format.

[2016-07-10 18:09] Gymnasiast commented on #4044
Except that there are several roller coasters that actually use cars as depicted in Flying Turns, but on steel bobsleigh track. Two examples are Swiss Bob from the Efteling and the La Vibora.
Also, adding track types is not possible until we switch to our own format, and even then it's not very easy.

[2016-07-10 18:13] Gymnasiast commented on #4040
Completely pointless IMO. And we use a `1` to properly distinguish the first game in the series from the sequels. Dropping the `1` only makes all those strings more ambiguous.

[2016-07-10 18:13] #4040 closed

[2016-07-10 18:14] Gymnasiast commented on #4036
That's because the initial name is not saved but directly loaded from the translation files and thus capable of having more than 31 characters.

[2016-07-10 18:14] #4036 closed

[2016-07-10 18:16] Gymnasiast commented on #4031
Would you care uploading a screenshot of this feature in 0.0.4?

[2016-07-10 18:20] mrtnptrs commented on #4043
And the latest development build doesn't work for you? And when you delete the config.ini file and then start OpenRCT2? Does one of these things fix your problem?

[2016-07-10 19:00] IntelOrca commented on #4044
We might be able to make it have wooden supports after we implement the drawing for it...

[2016-07-10 19:42] janisozaur commented on #4043
Do you have pulseaudio plugin installed?

[2016-07-10 20:51] Wuzzy2 commented on #4043
mrtnptrs: Read again. I said that it *did* work in the latest dev (59c3656). As in “it doesn't crash immediately”. Sound does not play (but that's a different thing, post in the forum thread for this). But I don't want to believe this means the issue has been really fixed.

janisozaur: I don't know what you mean with “pulseaudio plugin”. A plugin of what? But I can tell you I haven't pulseaudio in

[2016-07-10 20:58] Wuzzy2 commented on #4031
Here:

![unbenannt](https://cloud.githubusercontent.com/assets/1675853/16716061/b48f6b30-46f1-11e6-9d7f-9a3a4c140b37.png)

Note the cursor is not shown in the screenshot.

[2016-07-10 21:04] Wuzzy2 commented on #4036
Wait. So are the 31 characters for track names a hard limit which can not be overcome easily?

[2016-07-10 21:05] IntelOrca commented on #4043
@Wuzzy2 its quite possible we fixed this bug. I can't confirm it though.

[2016-07-10 21:05] IntelOrca commented on #4036
I think the track name is just what ever you call the file.

[2016-07-10 21:07] Wuzzy2 commented on #4036
I mean the name of tracks in savegames, not in files containing the track only.

[2016-07-10 21:09] X123M3-256 commented on #4044
That's because they're the same track type. The flying turns in RCT2 is mislabelled - it is actually an Intamin bobsled, a modern steel kind. There is no wooden flying turns in RCT2 and adding one would require adding a new track style, which can't be done just yet.

[2016-07-10 21:10] janisozaur commented on #4036
https://github.com/OpenRCT2/OpenRCT2/blob/develop/src/ride/ride.c#L5520

[2016-07-10 21:16] IntelOrca commented on #4044
You could probably get away with it by colouring the track brown and using wooden supports though.

[2016-07-10 21:18] IntelOrca commented on #4036
@Wuzzy2 if you are talking about ride names then yes there is a limit. There is a limit for any user string in SV6. The user string table... We can't change it until we move to our own format. And using non-ASCII characters will also reduce the maximum length further.

[2016-07-10 21:21] Wuzzy2 commented on #4040
How is it “pointless”?
And no, it is not ambigious. There is only one game called “RollerCoaster Tycoon”, and one game called “RollerCoaster Tycoon 2”. There is zero ambiguity here, even without the “1”. If I say “RCT” or “RollerCoaster Tycoon” it is clear that I don't mean number 2 or 3 or RollerCoaster Tycoon World and what other titles might exist.
Why not just stick to the original title? o_O

[2016-07-10 21:37] Wuzzy2 commented on #4045
Question: Are feature requests forbidden on this issue tracker?

And yes, it's my opinion. What's wrong with that? In this case it is really not too far-fetched to expect no cheats to be enabled by surprise (is this not considered to be a bug?). The opposite of that would mean that cheats are *on* by default, and this would be a really odd thing to do in a game.

[2016-07-10 21:55] X123M3-256 commented on #4044
[Sure, that works](http://i.imgur.com/0HaYxWO.png)

[2016-07-10 22:00] IntelOrca commented on #4044
@X123M3-256 nice! Its probably not something we can do really until we have our own object format so that it can specify to use wood supports. On the other hand this would usually be done by have a completely separate ride type anyway seeing as track type is bound to ride type rather than object. (Although I don't think that should be the case anyway)

[2016-07-10 22:11] #1432 closed

[2016-07-10 23:01] Aroidzap commented on #2060
Sorry, not actually

[2016-07-10 23:04] IntelOrca commented on #2060
@Patrik356b I think @X123M3-256 has been doing some things with map generation.

[2016-07-10 23:40] Invictaz opened #4047 "Game crashes when switching to OpenGL"
**OS:** Windows 7
**Version:** 0.0.5-1e3504c

[Explanation of the issue...]

- [ ] Reproducible in RCT2 (vanilla) - no
- [ ] Multiplayer? - not tested

**Steps to reproduce:**
Set renderer to software with hardware display. Then switch to OpenGL

Error message:

Probleemhandtekening:
  Gebeurtenisnaam van probleem:	APPCRASH
  Naam van de toepassing:	openrct2.exe
  Versie van toepassing:	0.0.0.0

[2016-07-11 00:26] Goddesen commented on #3967
This seems to me as *working as intended*. The currency symbol cannot be shown with the sprite font anyway, right? Maybe emit a warning when non-sprite symbols are selected?

[2016-07-11 00:50] mrtnptrs commented on #4047
Can you provide me with details of your graphics card?

[2016-07-11 00:51] Goddesen commented on #3945
This is (probably) a result of every glyph being redrawn in [this function](https://github.com/OpenRCT2/OpenRCT2/blob/develop/src/windows/music_credits.c#L139) several times per frame as the window is invalidated. I don't have the necessary insight to fix this quickly.

Maybe generate a texture or something and scroll the texture instead of redrawing? Or something?

[2016-07-11 01:32] pizza2004 commented on #4045
@Wuzzy2 Strictly speaking, while they do generally allow new feature requests, they discourage them currently unless you can yourself add something to the code, as most of the people who actually do contribute code to the project have a pretty good idea of what things need to be added.

Cheats currently work on a game state basis, not on a park basis.  Whatever cheats are enabled are persistent th

[2016-07-11 07:06] IntelOrca commented on #4045
I agree that cheats should be reset when changing game. This is nothing more than an oversight.

[2016-07-11 07:08] IntelOrca commented on #4047
Can you upload the dump file?

[2016-07-11 07:15] Gymnasiast commented on #4036
I have occasionally hit that limit. When we switch to our own format I think we should raise it, to 64 or something like that.

[2016-07-11 07:23] Gymnasiast commented on #4040
Do you honestly expect much goodwill from my part if you keep being so arrogant? Not only here, but in many other issue reports and feature requests as well.

[2016-07-11 07:26] Gymnasiast opened #4050 "MAP_ELEMENT_FLAG_BLOCK_BREAK_CLOSED is a typo"
This is a minor thing, but it should read `MAP_ELEMENT_FLAG_BLOCK_BRAKE_CLOSED`. I'll refactor it.

[2016-07-11 07:28] janisozaur commented on #4040
@Wuzzy2, while your points have some merit, we prefer to clearly distinguish which game are we talking about in particular context, which is in line with most of our community. See https://www.reddit.com/r/rct

Had there been no RCT2, the original game would probably still be called just "RCT" but in their presence it may also mean the genre/3 games under the same title. You sound silly trying to

[2016-07-11 08:31] #4031 closed

[2016-07-11 08:33] IntelOrca commented on #4040
@Wuzzy2 is reporting that there is inconsistency. So I think we should always refer to RCT1 as either RCT1 or RollerCoaster Tycoon 1, abbreviating where appropriate (like for title sequence dropdown).

[2016-07-11 08:52] Gymnasiast commented on #4040
That's not what he says though. He wants us to drop the `1` in `RCT1`.

[2016-07-11 08:54] #4042 closed

[2016-07-11 08:57] IntelOrca commented on #4040
Okay, there is actually only one usage I can find of RCT on its own.

https://github.com/OpenRCT2/OpenRCT2/blob/develop/data/language/en-GB.txt#L3960

[2016-07-11 09:10] duncanspumpkin commented on #4050
It's fixed in my branch for junior rc

[2016-07-11 09:52] Patrik356b commented on #1143
@IntelOrca it does not, it just shows an icon, the same used for the water tool.

When i had RCT2 and the expansions on separate disks the water preview was working.
The same images can be found here: http://rct.wikia.com/wiki/Water

[2016-07-11 09:59] IntelOrca commented on #1143
Can you provide a screenshot as evidence?

From a technical point of view, it can't be done without all the water in the map changing colour when you hover over an item.

[2016-07-11 10:15] Gymnasiast commented on #1143
@Patrik356b. RCT2 did _not_ have water preview. Full stop. I have played the disk versions for 13 years.

[2016-07-11 10:25] Wuzzy2 commented on #4040
Whatever. Since you all seem to heavily insist on keeping the “1” in the name (even if its not *actually* part of the name and just redundant IMO), I just drop this issue. There are more important things to discuss.

And the “OpenRCT2 1” thing was just a very silly joke, of course. :P

[2016-07-11 10:29] X123M3-256 commented on #2060
@IntelOrca Yes, I have code for translating a heightmap into tile positions, but I do not have a way to load the heightmap from disk. Does OpenRCT2 already link SDL_Image or another image loading library? I'd rather not introduce a new dependency for this so if there's already a library I could use that would be ideal. What is used for saving screenshots?

Also, my code is not ideal. When fed nice

[2016-07-11 10:31] janisozaur commented on #2060
https://github.com/OpenRCT2/OpenRCT2/blob/develop/src/image_io.h

[2016-07-11 10:41] X123M3-256 commented on #2060
OK, I'll use that to load the heightmap.

[2016-07-11 10:47] IntelOrca commented on #4040
There definitely are, this is very trivial in comparison to the more important things that need doing. And controversial it seems.

[2016-07-11 11:31] Patrik356b commented on #1143
@IntelOrca Sure it can. all the fixed version did was slap an image into the preview area in the current window. it did not change anything outside.
As I no longer own the discs i can not provide a screenshot unless i come across the same version or a screenshot of it.

@Gymnasiast There has been a few different disc versions. I did have it.

I have been looking around but there very little screen

[2016-07-11 11:39] IntelOrca commented on #1143
@Patrik356b What you are saying is just not technically possible. The game would never have been able to do that as the water type changes the game palette and it can't possible show more than 256 different colours at the same time.

[2016-07-11 11:47] Patrik356b commented on #1143
I clearly remember seeing this and i do have photographic memory so this just doesn't seem right to me.

[2016-07-11 12:19] Wuzzy2 opened #4054 "Sorting rides by track type: Misleading research messages"
**OS:** GNU/Linux (Parabola)
**Version:** 0.0.5-develop
**Commit/Build:** cc2d91a
- Reproducible in RCT2 (vanilla)? No.
- Multiplayer? N/A

The setting “Sort rides by track types” has usability problems and may make things actually even more confusing to the average non-developer player.

Problem: Misleading notification messages

**Steps to reproduce:**
1. Activate setting “sort rides by track ty

[2016-07-11 12:23] Gymnasiast commented on #1143
In the (unlikely AFAIC) event you do find it, please do post a screenshot.
Otherwise we'll just consider this an enhancement, rather than a bugfix.

[2016-07-11 12:30] Wuzzy2 commented on #4044
As far I know, those two attractions really *are* the same except for the cars, so merging them into one is justified.
And since there is no “wooden” variant of either one *yet*, I don't think it is justified at the moment to make them seperate again.

[2016-07-11 12:42] Wuzzy2 opened #4055 "Sort rides by track type: Sorting rule is not really clear (inconsistent?)"
**OS:** GNU/Linux (Parabola)
**Version:** 0.0.5-develop
**Commit/Build:** cc2d91a
- Reproducible in RCT2 (vanilla)? No.
- Multiplayer? N/A

I don't understand the logic under which some rides under the “Sort rides by track type” setting have been lumped together.

If I understand the _idea_ of the setting, then all rides with the _exact_ same track tiles (not more, not less) which _only_ differ by

[2016-07-11 12:55] jensj12 commented on #4055
The ride merging is based on the internal game structure.

I prefer the RCT1 method for this: if the track contains a piece the current vehicle can't use, don't allow testing/opening the ride and open the construction window with the first conflicting piece selected if the player tries to test/open it.
If no available vehicle can use a piece, don't show this piece at all in the construction window

[2016-07-11 13:02] IntelOrca commented on #4055
If you always enable all track pieces because some car type allows it, the player ends up building an entire track using e.g. steep slopes only to find out that they can't use them unless they select monster trucks.

I suggested one idea to @Gymnasiast which was to allow the player to select the car type between selecting the ride type and building the track.

[2016-07-11 13:02] Invictaz commented on #4047
Hardware: Nvidia GT555M / Intel HD3000

I cannot send the dmp file yet since: C:\Windows\Minidump and C:\Windows\ do not have .dmp files in them... So tell me where to get the dmp file and I will generate it and send it.

[2016-07-11 13:05] IntelOrca commented on #4047
Providing you did not build OpenRCT2 yourself, the dump files should be in Documents\OpenRCT2. It usually displays a message about this when it crashes.

[2016-07-11 13:05] janisozaur commented on #4047
We expected openrct2 generated a dump for you and told you its path. It's a bit weird this did not happen, as we have set up the project in such a way this should happen.

[2016-07-11 13:08] Invictaz commented on #4047
Here are the files

[2016-07-11 13:10] janisozaur commented on #4047
@Invictaz can you just zip them and upload to github?

[2016-07-11 13:13] Invictaz commented on #4047
In the new version 8851e43 the bug is still present. I have found what causes it. If you run the game on Intel HD3000 (Optimus) it crashes. If you run the game via the Nvidia GT555M you can select the OpenGL without crashing. The Intel HD3000 should be more than capable of running this game so might be a quirk there to solve.

[2016-07-11 13:14] janisozaur commented on #4047
What OpenGL version does your HD3000 gpu advertise?

[2016-07-11 13:17] jensj12 commented on #4054
It aren't the notifications that are misleading, it's the build new ride window that's confusing. Perhaps show a list of all researched vehicle types when hovering over a ride?

[2016-07-11 13:19] Invictaz commented on #3896
![opengl-hd3000](https://cloud.githubusercontent.com/assets/20338545/16731899/cb934020-477a-11e6-8fd1-29eaf46dd4a0.png)

[2016-07-11 13:19] Invictaz commented on #4047
![opengl-hd3000](https://cloud.githubusercontent.com/assets/20338545/16731910/d98d4c3e-477a-11e6-9b73-57bc71715a4f.png)

[2016-07-11 13:22] janisozaur commented on #4047
We request [OpenGL 3.2](https://github.com/OpenRCT2/OpenRCT2/blob/develop/src/drawing/engines/opengl/OpenGLDrawingEngine.cpp#L252-L254), which is the source of your crash.

We'll try fixing it so it does not crash, but rather falls back to previous (or software) mode.

[2016-07-11 13:23] X123M3-256 commented on #4045
If this is implemented could it be made an option? I have most cheats enabled basically all the time and reload the game frequently so it'd be awkward to have to keep turning cheats back on.

[2016-07-11 13:28] IntelOrca commented on #4047
I thought we already had fixed this... any ideas @LRFLEW ?

[2016-07-11 13:30] janisozaur commented on #4047
What does it crash on exactly?

[2016-07-11 13:30] Invictaz commented on #4047
Maybe you can also tell what the benefits of OpenGL are for the general public, since I know from other open source game conversions that graphics are now rendered in better scaling (i.e. CorsixTH) but for OpenRCT2 it isn't quite clear yet.

[2016-07-11 13:32] janisozaur commented on #4047
@Invictaz same as for anything using OpenGL: rendering will be done on GPU instead of CPU.

[2016-07-11 13:38] Invictaz commented on #4047
Yeah, but in software more it 90 prc looks the same, and fps is much lower on GPU instead of software (if running on a laptop that throttles).

[2016-07-11 13:48] Gymnasiast commented on #4055
I'm working on a system which should address these issues. It will separate Monster Trucks and other Car Ride vehicles again.

[2016-07-11 13:52] Gymnasiast commented on #4043
Do you have Pulseaudio actually running? It always seems to be Arch users who have sound issues and the only thing I can think of is that Arch probably doesn't install and activate it by default.

[2016-07-11 14:15] IntelOrca commented on #4047
@Invictaz Because the drawing was designed for software rendering, it doesn't transfer well to hardware rendering. Its very new and experimental and we haven't yet worked out how to optimise it better.

We need OpenGL rendering for more complicated effects like night time / lights etc.

[2016-07-11 15:05] Wuzzy2 commented on #4054
Yes, the RCT2 build window is a serious downgrade to RCT because it has been dumbed down and conveys WAY less information. RCT had much more information, including the list of available vehicles. But this is a different topic IMO.
But even if the build window is changed, that doesn't make the current notification texts always true (think of my wild mouse example).

[2016-07-11 15:26] Wuzzy2 commented on #4043
I don't get it why you people keep insisting on having PulseAudio installed. It is not required so that sound works on GNU/Linux in the first place. I have many other games which just work fine. I am also not sure if it is justified to blame it on the distribution. I notified the package maintainer, however.
And as I already said, I did not have PuleAudio installed. After tinkering about with Puls

[2016-07-11 16:04] Invictaz commented on #4047
Interesting. What I might suggest is (more) transparency levels. If elements in game are visualized in layers we can have multiple transparency layers, as some of the buildings of rollercoasters collide with upper levels. Since you cannot easily turn the camera (like in Parkitect) some more levels of transparency or hiding would come in handy.

Other option would be to allow for free camera rotati

[2016-07-11 16:42] IntelOrca commented on #4043
@Wuzzy2 this has already been fixed:
https://github.com/OpenRCT2/OpenRCT2/commit/85c553dc

[2016-07-11 16:49] Patrik356b commented on #4054
@Wuzzy2 Go find a "rotating wild mouse" :+1:

[2016-07-11 17:00] #4037 closed

[2016-07-11 17:11] Wuzzy2 commented on #4054
Oh, sorry. It is actually called “Spinning Wild Mouse”. “Rotating Wild Mouse” was a bad translation by me.

[2016-07-11 17:12] Wuzzy2 commented on #4043
Okay, good to know. I just wanted to be sure. Closing.

PS: Any help for my sound problems are still appreciated, post here if you want to help:
https://openrct2.org/forums/topic/1441-broken-sound-openrct2-crashes-when-starting-with-title-music-enabled-ie-by-default/

[2016-07-11 17:12] #4043 closed

[2016-07-11 17:56] Invictaz commented on #4047
Intel HD3000 with OpenGL 3.2 only is supported in OSX and Linux (maybe Mesa drivers needed). On Windows Intel didn't upgrade past 3.1. I did install the latest Intel driver but no luck.

[2016-07-11 18:11] #940 closed

[2016-07-11 18:11] #4019 closed

[2016-07-11 19:25] birthdaybrian opened #4056 "Allowing more than 128 rides in scenarios"
Hey. I host my server everyday and sometimes people requests me to add more rides to my park, my park's rides list is full and I would like to add more rides to my park without removing unused ones. Can developers increase the maximum to like 200?

[2016-07-11 19:28] Gymnasiast commented on #4056
*Sigh*
https://github.com/OpenRCT2/OpenRCT2/wiki/Increasing-of-game-limits

[2016-07-11 19:28] #4056 closed

[2016-07-11 20:27] Patrik356b opened #4057 "Indication of feature skipping becuase the car speed is too high"
Lets take the log flume ride for example, it has a "reversing" track piece, but if the car enters this piece at high speed, the special feature is deactivated.
It would be nice to have an indication of this as you build the track that the rotation feature will not be available at this point.

[2016-07-11 21:11] Patrik356b commented on #4057
The problem here is being at the limit. Not WAY above it. Judging by the grammar on your reply, what wpm were you trying to hit?

[2016-07-11 21:13] LRFLEW commented on #4047
To chime in real quick, I think our code is currently 3.0-compatible for the most part. SDL (I think) uses the version hints as just that, a hint, and will create a context even if it can't get the version. Since we aren't using any functions added in 3.1 or 3.2 (as far as I know), getting the function pointers would work just fine. This leaves the only location for an unrecoverable crash to be in

[2016-07-11 21:19] UnsaltedCashews opened #4058 "Game Crash while Building Premade Roller Coaster"
OS:  Windows 10
Version: 0.0.5
Commit/Build: 21e5093

I was building a premade Floorless Roller Coaster, and while I was moving the ghost of the track to place it, the game froze and crashed. One thing I noticed is that the crash only occurred with premade roller coasters with lots of scenery included and only if I was rapidly moving the ghost through parts of the map with lots of trees, it didn't

[2016-07-11 21:20] Invictaz commented on #4047
@LRFLEW  If you would be willing to set 3.0 or 3.1 as maximum that would be great as a lot of users have an HD3000. HD4000 and newer only came until very recently in Intel 3xxx laptop chipsets.
Like I said before 3.2 is only implemented partially in an unofficial driver for Linux and official driver on OSX, but Windows users do not benefit. If I have to test more please let me know.

[2016-07-11 21:25] IntelOrca commented on #4057
@Patrik356b we can't predict what the speed will be... its too difficult and probably too expensive to do in one tick.

[2016-07-11 23:00] IntelOrca commented on #1004
Fixed now so that it re-generates the object cache if the language is different.

[2016-07-11 23:00] #1004 closed

[2016-07-11 23:00] IntelOrca commented on #2269
Now implemented.

[2016-07-11 23:00] #2269 closed

[2016-07-11 23:00] IntelOrca commented on #3156
Probably not applicable any more.

[2016-07-11 23:00] #3156 closed

[2016-07-11 23:01] #3175 closed

[2016-07-11 23:19] Patrik356b commented on #4057
@IntelOrca Ok. But could these limits be added to the wiki?

[2016-07-11 23:25] Patrik356b commented on #4058
Does it happen more or less on Crazy Castle? because i have a similar issue, but only on that. ( #3953 )

[2016-07-12 02:20] LRFLEW commented on #4047
@Invictaz Could you do me a favor? I want to test a few different way of detecting the OpenGL version. I wrote a short command-line program I would like you to run and send me the output for. I have a Windows build you can use here:
[GLTester.zip](https://github.com/OpenRCT2/OpenRCT2/files/358438/GLTester.zip)

If someone else wants to look at the source (or wants to test it on Linux), here's the

[2016-07-12 02:29] UnsaltedCashews commented on #4058
I managed to crash the game on Six Flags Great Adventure and on Fungus Woods so I don't think it has something to do with the map

[2016-07-12 02:49] Wirlie opened #4060 "[Bug or improvement?] Block brakes have a different behaviour from RCT2."
**OS:** Windows 10
**Version:** 0.0.5
**Commit/Build:** Latest build (6c702fb1a96e2c64a1c749c1cf9054b6ba31afbd)

I've noticed that block brakes have a different behaviour from RCT2, it only affect the block-sectioned mode.

(Introduced by #4017)

- [ ] ~~Reproducible in RCT2 (vanilla)?~~ (N/A)
- [ ] ~~Multiplayer?~~ (N/A)

**Screenshots / Video:**
OpenRCT2 0.0.4 (stable version): https://vid.me/N6

[2016-07-12 03:04] Generalcamo commented on #4044
This is more of a long-term thing, an eventual thing. Definitely not now, it isn't justified yet.

[2016-07-12 03:07] Generalcamo commented on #4060
What difference do you mean? I notice no difference at all on latest build from Git.

[2016-07-12 04:23] Wirlie commented on #4060
Sorry, I've not explained the problem in a best way.

If you see the second video that I've attached (OpenRCT2 0.0.5, beetwen -0:48 and -0:43) you can see that the car isn't slowed by the block brakes, and this doesn't happen on RCT2.

In the first video (OpenRCT2 0.0.4) you can see the correct "behaviour" of  the block brakes, I mean that the car is slowed when passing through the block brakes.

[2016-07-12 04:36] Generalcamo commented on #4060
I do believe this was intentional, to fix a major issue that a lot of people had with RCT2's block brake system. If you want to slow down your train, use a brake in addition to the block brake, which will have the same effect as the old system.

[2016-07-12 05:23] YJSoft opened #4061 "Wrong error message when opening all rides with unfinished ride"
**OS:** OS X
**Version:** 0.0.5
**Commit/Build:** 6c702fb

"Can't rename park" error is raised opening all rides with unfinished ride.

- [ ] Reproducible in RCT2 (vanilla)?
- [ ] Multiplayer?

**Steps to reproduce:**

Method 1
1. Open scenario `Europe - Renovation`(Wacky worlds)
2. Try to open all rides
3. Mini rollercoaster will highlighted, error message `Can't rename park` shows.

Method 2
1.

[2016-07-12 05:49] duncanspumpkin commented on #4060
No that's a bug

[2016-07-12 05:57] janisozaur commented on #4047
While so far there's nothing really limiting us from simply lowering the requested GPU, HD3000 was not particularly good GPU and my gut tells me Intel does not advertise support for 3.2+ for a reason. We already had someone give us report on this, saying it does not work well.

I'd like to also remind, that we chose 3.2 based on it being the lowest version supporting core profile.

[2016-07-12 06:43] janisozaur commented on #4058
It would be nice if someone could verify this with minidump, but I managed to reproduce a crash on https://github.com/OpenRCT2/OpenRCT2/blob/develop/src/world/map.c#L410

[2016-07-12 07:25] IntelOrca commented on #4058
Null map element maybe? Location out of range?

[2016-07-12 07:26] IntelOrca commented on #4047
Lets just focus on the fact that its crashing and that it should not do that.

[2016-07-12 07:28] someguy64 opened #4062 "Crash when selecting ports!!,"
**OS:** Windows 7
**Version:** 0.0.5
**Commit/Build:** 6c702fb

**Explanation of the issue...**

- [No] Reproducible in RCT2 (vanilla)?
- [Most Likely] Multiplayer?

**Steps to reproduce:**
1. Start OPENRCT2
2. Choose multiplayer
3. create new server
4. Select port
CRASH!

**Dump file**
GitHub is a f***ing liar, it wont let me upload zips.

[2016-07-12 07:29] IntelOrca commented on #4062
We really need that dump file, can you upload it another way?

[2016-07-12 07:30] IntelOrca commented on #4057
They can, you are welcome to do that.

[2016-07-12 07:30] janisozaur commented on #4058
Yeah, it was null, probably due to moving the ghost outside park boundaries. I haven't investigated, but there already is a check in line 399.

[2016-07-12 07:32] IntelOrca commented on #4058
It can always be null, like if there is no surface element... Although that seems unlikely for a vanilla map.

[2016-07-12 07:32] janisozaur commented on #4062
@someguy64  try changing extension to .txt and re-uploading it this way.

[2016-07-12 07:33] someguy64 commented on #4062
I am trying now.
[dump.txt](https://github.com/OpenRCT2/OpenRCT2/files/358766/dump.txt)
Rename to dump.zip

[2016-07-12 07:42] LRFLEW commented on #4047
@IntelOrca That's a clear concern, and is a major part of what I'm working on. The code to test the GL version reporting should give me enough information to setup an "early fail" system that will prevent the renderer from loading once a bad context is created. Once that issue is resolved, I will look into the GL 3.0 stuff (which isn't hard, just unusual).

[2016-07-12 10:38] Nubbie commented on #4062
@someguy64 That worked :)

----
-
**To devs;**
This is what I got from the dump file 2829e1f2-7023-47a2-9f5c-48cfc63c642f(6c702fb).dmp

**Error message:**
Unhandled exception at 0x665729E5 (openrct2.dll) in 2829e1f2-7023-47a2-9f5c-48cfc63c642f(6c702fb).dmp: 0xC0000005: Access violation writing location 0x017E78C2.

**Call stack:**
[code]

**Autos:**
[code]

[2016-07-12 10:55] IntelOrca commented on #4062
The dump file is a crash trying to place a track piece. Nothing to do with selecting a server port.

Is this the right dump file? @someguy64 @Nubbie ?

[2016-07-12 11:59] gDanix commented on #4060
In fact, I introduced this behaviour because I understood that, in a block-sectioned ride, when the block brakes are not blocking train (are opened), they don't have to brake at all.

I tested the old behaviour in my refactorized code, but it turned out that, in most roller coasters, the trains weren't able to reach hills after running through a block brake, probably because the brakes were actuat

[2016-07-12 13:07] duncanspumpkin commented on #4060
@gdanix we can't modify behaviour it breaks a lot of hacks that ne uses. I didn't realise that had been changed in the pr

[2016-07-12 13:48] mrtnptrs opened #4063 "Object conflicts and failed checksums questions"
**OS:** Windows 10
**Version:** 0.0.5
**Commit/Build:** a4223d9

I have a few questions regarding the output at the commandprompt window. I have asked this before, but I really got no good answer. And a week ago I asked it at the OpenRCT2.org site and also got no reply, well... actually one, which said me to ask it here (was already planning to do it).

**Steps to reproduce:**
1. Delete everything

[2016-07-12 13:52] janisozaur commented on #4063
@mrtnptrs if you have a unch what is happening ("I have some data files that have a different name, but are actually the same") why won't you check these files' hashes?

The track names should be displayed when you launch with `--verbose`

[2016-07-12 13:57] duncanspumpkin commented on #4063
The object conflict is caused by badly made objects. If you either delete both or the one with the higher character number it should all work fine.

[2016-07-12 13:59] IntelOrca commented on #4063
Its possible that your object conflicts were created due to a bug in the game which has since been fixed. Its very likely that they are indeed duplicates, but as @janisozaur suggested, you can hash the conflicts to confirm.

[2016-07-12 14:04] mrtnptrs commented on #4063
@janisozaur Because I'm not an expert with that, but I could Google about hashes and check them by hand OR I could ask you, as you are the experts and @IntelOrca made the code. :)

And NO, I tried it many times using the --verbose "tag", but it does not show the affected track files.

@duncanspumpkin Do you mean that these object files are BOTH probably corrupted or just duplicates as @IntelOrca s

[2016-07-12 14:25] IntelOrca commented on #4063
It means all of those objects were not properly written by the program used to create them. Unfortunately these object creation programs had a few bugs regarding this.

[2016-07-12 14:27] Generalcamo commented on #4060
@gDanix This behavior is useful. IntelOrca suggests moving the new behavior to #ifdef NEW_BLOCK_BRAKES for use later. For now, the vanilla RCT2 behavior should be implemented by default however to avoid breaking existing parks and rides.

[2016-07-12 15:20] Invictaz commented on #4047
Will test later tonight. HD3000 is already followed up by HD4000 and so on. It is delivered to Apple as well who did OpenGL 3.3 even, so it just the fact that Intel doesn't want to spend resources on an aging chipset. Even the HD6000 is already out so some of us might be out of luck.

[2016-07-12 16:04] Nubbie commented on #4062
@IntelOrca The dumpfile I got from the 'Dump.txt' is '2829e1f2-7023-47a2-9f5c-48cfc63c642f(6c702fb).dmp', the dump was created 2016-07-11 23:21 (As I can see) so I presume @someguy64 got an older Dump file/uploaded the wrong dump file

[2016-07-12 16:06] Nubbie commented on #4061
To be fair.. You can't rename the park, nor construct anything in the coaster list :smile:

[2016-07-12 16:06] gDanix commented on #4060
Update on this:
* The fix to get back to the old block brake implementation is, AFAIK, as simple as replacing `is_block_brake_close` (which will always be equal to `false`) to `true` [here](https://github.com/OpenRCT2/OpenRCT2/pull/4017/files#diff-e6c06ccf59b47239e1e220468e52497dR5424).
* The real bug is [here](https://github.com/OpenRCT2/OpenRCT2/pull/4017/files#diff-e6c06ccf59b47239e1e220468e524

[2016-07-12 16:13] Nubbie commented on #4062
@IntelOrca
The dump file I tested out was from _'dump.txt'_ with the name '2829e1f2-7023-47a2-9f5c-48cfc63c642f(6c702fb).dmp'
It seems to have been created 2017-07-11 23:21
Maybe @someguy64 uploaded a old dump file/wrong dump file

[2016-07-12 16:18] Nubbie commented on #4062
@IntelOrca
The dump file I opened was the one from [dump.txt](https://github.com/OpenRCT2/OpenRCT2/files/358766/dump.txt) which was named:
2829e1f2-7023-47a2-9f5c-48cfc63c642f(6c702fb).dmp
It was created 2017-07-11 23:21 as I can see

@someguy64 Are you sure it was the right dump file? :)

[2016-07-12 18:19] someguy64 commented on #4062
Yes

[2016-07-12 18:31] ebm9000 opened #4065 "Update to newer version (a4223d9) breaks everything; reverting to previous build does not work"
OS: Windows 10 builds 10240 (1 PC) & 10586 (2 PCs)
Versions: 0.0.5 builds...
af2746e
a4223d9
6c702fb
9efc0ca
(probably others)

Hello. I updated my game to build a4223d9 today, and all of a sudden I can't join any game. When I first launch the game, I get this error in the command prompt window:
![rct2_1](https://cloud.githubusercontent.com/assets/20425429/16778538/7052bc46-483c-11e6-8171-968c6ad7

[2016-07-12 18:35] someguy64 commented on #4062
I think Issue 4065 is the same as this one, as that issue happened to me too

[2016-07-12 19:13] Gymnasiast commented on #4065
Probably introduce by https://github.com/OpenRCT2/OpenRCT2/commit/dca816cfd394f7fff85f380370e18fce9435979a , which was a big refactor of the object list.

[2016-07-12 19:44] janisozaur commented on #4065
@ebm9000 can you upload your `ASJET.DAT`?

[2016-07-12 19:51] mrtnptrs commented on #4063
@duncanspumpkin Ok, I can now find the corrupt/hacked track-files and delete them if I want.

@IntelOrca So, these objects are just not properly written, but that does not (necessarily) mean they do not work/are corrupted and/or let OpenRCT2 or vanilla RCT2 crash?

Wouldn't it be a good idea to make a wiki page with all the kind of errors you can see at the commandprompt window with the explanatio

[2016-07-12 20:03] Nubbie commented on #4062
@someguy64 Seem like you uplodaded the wrong dump file, can you upload the right one?
Also, the #4065 seems to be about objects and not selecting ports, does it crash on start-up?

[2016-07-12 20:04] janisozaur commented on #4062
@Nubbie are you talking about 2434566d-15dd-41e7-861e-6f589d7979db(6c702fb).txt from https://github.com/OpenRCT2/OpenRCT2/issues/4062#issuecomment-232133914 ?

[2016-07-12 20:05] Nubbie commented on #4062
@janisozaur Sorry didn't see him updating it, will update that and my comment

[2016-07-12 20:05] IntelOrca commented on #4065
@janisozaur they probably don't have it as it was unable to export it.

[2016-07-12 22:32] Nubbie commented on #4062
**To devs; NEW DUMP FILE**
This is what I got from the dump file 2434566d-15dd-41e7-861e-6f589d7979db(6c702fb).txt

**Error message:**
Unhandled exception at 0x65D7A990 (openrct2.dll) in 2434566d-15dd-41e7-861e-6f589d7979db.dmp: 0xC0000005: Access violation writing location 0x00000000.

**Call stack:**
[code]

**Locals:**
[code]

[2016-07-12 23:02] X123M3-256 commented on #4063
@duncanspumpkin Do you know more specifically what causes this? I'm getting object conflicts on objects I've made, and if it's a problem with the objects or my tool I'd like to correct it.

[2016-07-13 07:14] IntelOrca commented on #4063
@X123M3-256 you get a conflict if there are two object files found with the same name (the one stored within the file).

[2016-07-13 10:52] mrtnptrs commented on #4063
@duncanspumpkin @janisozaur @IntelOrca Not to annoy you, but.... you have only answered around 75% of the questions here :) I know you have something else to do and this has no priority, but.... you get what I mean... Want me to sum up what the questions are which still "need" to be answered?

[2016-07-13 11:16] duncanspumpkin commented on #4063
You will get a conflict if the object names of two files match. Note this is not the same as the name of the file. For example both BALLN and BALLO contain as the first part of their file a header that among other things has an object name. This object name will be "BALLN   ". When writing this object to the computer it first checks to see if BALLN.dat already exists. If it exists AND its the same

[2016-07-13 11:26] IntelOrca commented on #4063
Just so you know, the new code will no longer export an object unless that name doesn't exist. So it shouldn't create new conflicts anymore.

[2016-07-13 11:28] IntelOrca commented on #4062
This still has nothing to do with selecting ports. This stack trace is from joining a game.

[2016-07-13 11:56] Invictaz commented on #4047
@LRFLEW

Here are the results

[2016-07-13 12:09] Patrik356b commented on #4047
@Invictaz wake me up when it plays Crysis :+1:

[2016-07-13 12:37] X123M3-256 commented on #4063
@duncanspumpkin I thought I'd made sure I didn't write any fields that later got zeroed out (doesn't this make the object unexportable as well?). Is it possible that this is caused by old versions of the objects still in circulation? Some of my rides had to be updated a while back, and they were replaced with new versions that had identical names, identical checksums, but different contents. If I

[2016-07-13 13:04] duncanspumpkin commented on #4063
@x123 I don't really know how exactly the new version works.

[2016-07-13 13:54] mrtnptrs commented on #4063
And for the object files which have the Image table size longer than expected warning when using --Verbose? What is the best way to deal with these files? Delete them? @IntelOrca said that this was caused by object creator programs which were not properly written, but how bad is it that the image table size is too long? So, what is the best action to take on this? Also deleting thse objects? @dunc

[2016-07-13 15:03] IntelOrca commented on #4063
@X123M3-256 no it shouldn't export the object if an object with the same name (as specified in the file) already exists.

[2016-07-13 15:13] duncanspumpkin commented on #4063
Just ignore them there is nothing that wrong with them

[2016-07-13 15:22] IntelOrca commented on #4063
@duncanspumpkin well there is... :smile:

[2016-07-13 15:49] mrtnptrs commented on #4063
@IntelOrca @duncanspumpkin Isn't it then better to disable that warning in --verbose mode as there is nothing you can do about it? Or is it useful for debug purposes?

[2016-07-13 17:14] mrtnptrs opened #4069 "Assertion when trying to apply no-money cheat: save file corrupted?"
**OS:** Windows 10
**Version:** 0.0.5
**Commit/Build:** 961f0f9

- [ ] Reproducible in RCT2 (vanilla)?
- [ ] Multiplayer?

**Steps to reproduce:**
1. Load one of the save files below (the one with "open" in the name was opened and saved by OpenRCT2)
2. Open the cheats screen.
3. Open Park parameters.
4. Check the no money checkbox.
5. Assertion error:
![assertion](https://cloud.githubusercontent.c

[2016-07-13 17:54] jensj12 opened #4070 "Reaching image limit in object selection screen"
**OS:** Windows 10
**Version:** 0.0.5-develop
**Commit/Build:** 961f0f9

The game crashed while using the track design manager. The console window tells me I've reached the maximum image limit.

Note: yesterday I encountered the same issue and the game asserted in guard.cpp instead:
![orctcrash5](https://cloud.githubusercontent.com/assets/13868449/16813744/3cdabc2c-4933-11e6-90a1-6205d2866bb9.png)

[2016-07-13 18:01] Gymnasiast commented on #4069
This assertion should be removed. Many games imported from RCT2 call the 'spend money' routines in no_money mode, triggering this assertion.

[2016-07-13 18:03] mrtnptrs opened #4071 "Pay to enter park / pay per ride suggestion and bug"
**OS:** Windows 10
**Version:** 0.0.5
**Commit/Build:** 961f0f9

- [ ] Reproducible in RCT2 (vanilla)?
- [ ] Multiplayer?

**Steps to reproduce:**
1. Load a save game.
2. Make the entrance cost something.
3. Open the cheats screen.
4. Open Park parameters.
5. Change the way the park charges money to free park engry/pay per ride.
6. You see that the guests still have to pay the entry money you set

[2016-07-13 18:07] mrtnptrs commented on #4069
@Gymnasiast So, there is no bug, but the assertion got triggerd by the wrong reason and failed?

[2016-07-13 18:08] #4069 closed

[2016-07-13 18:10] IntelOrca commented on #4071
Guests do not pay for the park entrance when money is disabled.

[2016-07-13 18:11] mrtnptrs commented on #4071
@IntelOrca Read good, they do when you set park entry before you switch to free entry. Try it yourself.

[2016-07-13 18:11] mrtnptrs commented on #4070
Could you provide me with the savegame from before the assertion? Would like to test it and see if I can reproduce.

[2016-07-13 18:16] mrtnptrs commented on #4069
Nicely and quickly fixed guys! :)

[2016-07-13 18:16] IntelOrca commented on #4071
https://github.com/OpenRCT2/OpenRCT2/blob/develop/src/peep/peep.c#L7056

[2016-07-13 18:19] mrtnptrs commented on #4071
@IntelOrca What do you mean exactly? :)

[2016-07-13 18:48] #4071 closed

[2016-07-13 18:57] #4062 closed

[2016-07-13 19:02] mrtnptrs commented on #4071
You can re-open this issue @IntelOrca You now fixed the issue with the entry price, but not the one with the ride price. Because guests still pay when you set the park parameter to Free park entry / Pay per ride. You see the ride entry money "greyed" out at the money-tab of a ride.

Also, what do you think about the idea to bring back the pay to enter park / Pay per ride option back from RCT1 to O

[2016-07-13 19:07] Nubbie commented on #4071
@mrtnptrs Do you mean the cheat 'Unlock all prices'?

[2016-07-13 19:11] mrtnptrs commented on #4071
@Nubbie Thanks, didn't see it, sorry. But the bug with the free, but not free rides still exist.

[2016-07-13 19:17] IntelOrca commented on #4071
Open a separate issue.

[2016-07-13 19:20] mrtnptrs commented on #4071
@IntelOrca Uhm... ok, but aren't these two bugs closely related to each other?: when you set one of them to free, you still have to pay the amount of money you charged before you made it free. Just want to be sure.

[2016-07-13 19:39] Nubbie commented on #4070
TO DEVS;

This is what I got from the dump file '0d245307-8ed7-4fff-be16-c4ec804b22c1(961f0f9).dmp' OP provided in 'OpenRCT2crashes5.zip'

**Error message:**
Unhandled exception thrown: read access violation.
source_pointer was 0x6E707070.

**Call Stack;**
[code]

**Locals;**
[code]

[2016-07-13 21:09] Nubbie opened #4074 "Add a '?' to the most common windows (UX, explain FAQ)"
Adding a small square '?' with a set of strings inside it, either opening a window / being a tooltip for how you do the FAQ.
My suggestion to make the game more fool-proof would be

-First time 'tutorial' for commonly used functions
-Tool tips that explain how you do difference things
-The question mark where it explains in strings how to do X & Y
-**Add** a question mark box which links to the **

[2016-07-13 21:13] IntelOrca commented on #4074
This is usually another button next to the X (close button).

[2016-07-13 21:28] jensj12 commented on #4070
@mrtnptrs [autosave_2016-07-12_17-47-11.txt](https://github.com/OpenRCT2/OpenRCT2/files/362479/autosave_2016-07-12_17-47-11.txt)
This was the last autosave before the assert (note: contains custom objects, load this save first if it complains: [The OpenRCT Group Park 3.68.txt](https://github.com/OpenRCT2/OpenRCT2/files/362488/The.OpenRCT.Group.Park.3.68.txt) ). Open the object selection, hover ove

[2016-07-13 22:25] Leadxxdude commented on #3779
So, did anything get resolved by any chance? My saved game still crashes even after updating OpenRCT2 again. I just have no clue how this thing works.

[2016-07-13 22:44] marijnvdwerf commented on #4074
@IntelOrca Differs per platform. Also, if i remember correctly, the titlebarbutton on Windows triggers a question mark cursor, so that's something different.

![image](https://cloud.githubusercontent.com/assets/737603/16822347/0ea81f4c-495c-11e6-8599-f78d3312e491.png)

Also, I think it would be a better idea to make the interface itself more clear than to write documentation.

[2016-07-13 22:58] IntelOrca commented on #4074
What the question mark does depends on the program.

[2016-07-13 23:00] Nubbie commented on #4074
There are some ways this could be tackled tho, it's mostly as a helping hand to users
Depends on how viable it should be

[2016-07-13 23:54] somedude16 opened #4075 "[Suggestion] LAN support"
Why not add the ability to play locally?

[2016-07-14 01:50] Generalcamo opened #4076 "Random Crash in Scenario Editor"
**OS:** Windows 7
**Version:** 0.0.5
**Commit/Build:** b6b8ce1

I get this crash while selecting rides and scenery in the Scenario Editor. I was able to reproduce it several times, I attached the latest dump and save game.
- [ ] Reproducible in RCT2 (vanilla)?
- [ ] Multiplayer?

**Steps to reproduce:**
1. Go into scenario editor
2. Get crash while selecting rides and scenery

Exact cause unknown

[2016-07-14 04:58] janisozaur commented on #4075
There's nothing in the way of playing locally.

[2016-07-14 04:58] #4075 closed

[2016-07-14 07:00] IntelOrca commented on #4075
See #2339

[2016-07-14 07:41] SijmenSchoon commented on #4061
Is this problem also present in #3977?

[2016-07-14 10:26] #4061 closed

[2016-07-14 13:09] danidoedel commented on #3978
fixed (5204fb0)

[2016-07-14 13:09] #3978 closed

[2016-07-14 13:48] Vortjong opened #4079 "Moving mouse after placing haunted house create error in sprite.c"
**OS:** Windows 7
**Version:**OpenRCT2-0.0.5.0-develop-5204fb0-windows
**Commit/Build:**5204fb0

[Explanation of the issue...]
Moving mouse after placing haunted house create error in sprite.c

- [ ] Reproducible in RCT2 (vanilla)?
No
- [ ] Multiplayer?
No

**Steps to reproduce:**
1. open attached save game
2. Game is running in windows mode
3. Move mouse around, results in crash

**Screenshots /

[2016-07-14 13:52] Patrik356b commented on #4079
Clean up your post by removing the placeholders like [e.g. Windows 10]

[2016-07-14 14:02] jensj12 commented on #4076
Duplicate of #4070?

[2016-07-14 14:07] mrtnptrs commented on #4079
I can reproduce the assertion error using that save. Also, when loading the save, I see this output at the commandprompt window:

[code]

So, it seems like the save file has been corrupted. What to the devs think?

[2016-07-14 14:17] mrtnptrs commented on #4070
I can reproduce the assertion and strangely, and coincidences don't exist, I was scrolling at exactly the same place in the list as you. Maybe there is something wrong with the gorilla ride file?
![2016-07-14_16-15-19](https://cloud.githubusercontent.com/assets/4948213/16842626/6e3d4eb4-49de-11e6-9a49-8930519a7829.png)

[2016-07-14 14:26] mrtnptrs commented on #4070
The dump file @jensj12 is not from the assertion error, as an assertion error does not produce a dump file. But when I tried browsing through the object selection screen (rides), I got a crash:
Output of the commandprompt suggests that these problems could have the same cause: ERROR[src\drawing\Image.cpp:114 (gfx_object_allocate_images)]: Reached maximum image limit.

Commit: 5204fb0
Dump file wit

[2016-07-14 14:46] mrtnptrs commented on #4034
I can confirm that deleting the RCT and RCT + AA results in the correct error mesages. The other ones can just be deleted.

[2016-07-14 14:51] RealRexen opened #4080 "Ride list doesn't update when a ride gets deleted when game is open"
Os: Windows 10
Version: 0.0.5
Build:fb456a8
If you delete a track design while in game. The list doesn't get update and shows just a blank ride. Not sure if causes a crash if chosen.

![2016-07-14 2](https://cloud.githubusercontent.com/assets/18408903/16843770/a8bb0fb4-49b0-11e6-8cf3-bfc7ce0abaf3.png)

[2016-07-14 14:51] Nubbie commented on #4076
Not a dupe
**To Devs;**
This is what I got from the dumpfile OP gave out called 53d25b5d-5186-4efe-996f-bbb96a1500bab6b8ce1.dmp

**Error message:**
Unhandled exception at 0x5CE24C3E (openrct2.dll) in 53d25b5d-5186-4efe-996f-bbb96a1500bab6b8ce1.dmp: 0xC0000005: Access violation reading location 0x0A58DA1F.

**Call Stack:**
[code]

**Locals:**
[code]

[2016-07-14 14:58] mrtnptrs commented on #4080
@RealRexen Could you test for me if choosing the deleted ride will cause a crash? As the track files get analyzed during the startup of OpenRCT2, it's logical that it can't know it isn't on your PC anymore. Maybe it just gives you an error message box when you try to build it? Testing it now myself too! :)

[2016-07-14 15:01] Nubbie commented on #4074
My thought now would be a question mark for windows that prompts up a window saying 'This will take you to the OpenRCT2 wiki page for this window, Are you sure? [YES/CANCEL]

[2016-07-14 15:08] mrtnptrs commented on #3826
This map got seriously hacked/manipulated, probably with the tile inspector or a trainer:

![2016-07-14_17-07-23](https://cloud.githubusercontent.com/assets/4948213/16844480/9e829578-49e5-11e6-90b2-d2632c494323.png)
![2016-07-14_17-08-00](https://cloud.githubusercontent.com/assets/4948213/16844481/9e894f58-49e5-11e6-8598-a85b8e8e2dcd.png)

[2016-07-14 15:21] duncanspumpkin commented on #4079
Something is generating an incorrect sprite identifier. This could be due to some sort of corruption.

[2016-07-14 15:25] Nubbie commented on #4080
I should act that way as the list gets refreshed once when you open it, if it cause a crash, then it's a problem that should be fixed (broken/missing tracks)

[2016-07-14 15:47] mrtnptrs commented on #3826
Using the tile inspector, it seems that the normal path and ground at the off-map sections are actually covered by an object called "scenery more". Removing this element at a tile can show the normal ground or path. But I couldn't reproduce a crash. But @GForceNE where did you get this save file from or did you manipulate the map yourself? Do you know how that was done?

![2016-07-14_17-28-55](htt

[2016-07-14 16:28] RealRexen commented on #4080
It doesn't cause a crash, click on it does nothing.

[2016-07-14 16:39] mrtnptrs commented on #4080
Then this issue can be closed I suppose? :)

[2016-07-14 16:54] marijnvdwerf commented on #4080
Or monitor the filesystem for changes and update accordingly.

[2016-07-14 16:55] Nubbie commented on #4080
Is it really that necessary as you dont often remove rides while In-game, it could be useful for 'clean ups' if you have 100 rides tho :p

[2016-07-14 16:55] mrtnptrs commented on #4080
@marijnvdwerf the more advanced way, but maybe not really neccesary as.... who deletes track-files while in-game? :)

[2016-07-14 16:58] Patrik356b commented on #4080
@Nubbie considering that the original already has a lot of tracks...

@marijnvdwerf there should just be a simple error message telling the file couldn't be found.

[2016-07-14 17:02] Nubbie commented on #4080
A message when about the ride not existing would be enough

[2016-07-14 17:05] IntelOrca commented on #4080
It will re-scan the tracks when you open the track list... but deleting a track when the window is already open will cause this - you can fix it just by re-opening the window.

I think this is very rare use case to warrant a file watcher.

[2016-07-14 17:11] marijnvdwerf opened #4081 "Scrolling over non-scrollable areas causes other areas to scroll"
**OS:** OS X El Capitan
**Version:** 0.0.5-develop
**Commit/Build:** 5204fb0

When scrolling while hovering over a non-scrollable window, the topmost scrollable window scrolls instead.

- [ ] Reproducible in RCT2 (vanilla)?

**Screenshots / Video:**
![image](https://cloud.githubusercontent.com/assets/737603/16848480/41fc36fe-49f6-11e6-8c76-8e0ee966129a.png)

![image](https://cloud.githubuserconten

[2016-07-14 17:16] IntelOrca commented on #4070
@mrtnptrs how many times or how long did you have to hover over an item until it crashed?

[2016-07-14 17:54] mrtnptrs commented on #4070
@IntelOrca like two or three times. Want me to do more specific testing?

[2016-07-14 18:03] mrtnptrs commented on #4070
Seems to only happen when scrolling fast (or move the mouse cursor up and down fast without scrolling). Also the OpenGL is affected by this crash. I will report if I have more info for you.

[2016-07-14 18:23] janisozaur commented on #3826
@mrtnptrs you will see @GForceNE is one of NEDesigns' higher-ups, his parks (or the ones he submits) will surely be hacked in all sorts of ways, we strive to support them as properly as we can.

[2016-07-14 18:41] mrtnptrs commented on #4070
Could @Nubbie read the dump file(s) I provided here?: https://github.com/OpenRCT2/OpenRCT2/issues/4070#issuecomment-232681069 As @jensj12 his dump file couldn't have been created when an assertion error occured. It still needs investigation, but it could be an old dump from an old crash. When i tried the steps @jensj12 provided, I got a crash, no assertion error and so, reliable bug reports. The f

[2016-07-14 18:42] mrtnptrs commented on #4081
Also reproducable on Windows here of course :)

[2016-07-14 18:45] mrtnptrs commented on #3826
@janisozaur Haha, sorry, didn't see that. Maybe @GForceNE could explain to us which hacks he used to create this map (and how the hacks work) if he made the map himself? Then we can specifically look at the cause IF the hacks caused the crash.

[2016-07-14 18:57] Nubbie commented on #4070
@mrtnptrs Depends if Janisozaur just fixed it :p

[2016-07-14 18:58] janisozaur commented on #4070
no

[2016-07-14 19:02] janisozaur commented on #4070
A minidump can be created at will, so when you hit an assert, you can launch process explorer, go to openrct2 process and there should be an option to create a dump. Asserts usually identify their place and condition that failed, but sometimes it might be useful to create one anyway.

[2016-07-14 19:06] mrtnptrs commented on #4070
@janisozaur #4085 is then just an assert which checks for the problem. So, it's purely for diagnostics?

[2016-07-14 19:13] janisozaur commented on #4070
@mrtnptrs #4085 is not directly tied to the issue discussed here, it just happens to use park which was posted here. And yes, it's purely diagnostics highlighting the problem, but not solving it.

[2016-07-14 19:40] mrtnptrs commented on #3894
This seems to have been fixed by the new 368.81 Nvidia driver, as I see no screen tearing anymore and because one of the changes in the drive is: [365.10] Tearing occurs in windowed applications after an update to Release 364.xx drivers. [1763731]

[2016-07-14 19:40] #3894 closed

[2016-07-14 21:18] mrtnptrs commented on #4034
When I look at the console while deleting them, I see this:

[code]
So, the game sais that they are deleted and they come back after a restart, but the console sais that it failed to delete the files/directories.

[2016-07-14 21:25] mrtnptrs commented on #3925
I can't reproduce this. @Liampie Can you still reproduce this? If @Liampie doesn't respond, I think we can close this issue report?

[2016-07-14 21:42] Wuzzy2 opened #4087 "Month names in graphs are written out in full and overlap"
**OS:** GNU/Linux (Parabola)
**Version:** 0.0.5-develop
**Commit/Build:** 5204fb0

In the park and finance windows, whereever you see a graph (money graph, guest graph, park rating graph), the month names are currently overlapping (see screenshot). Maybe it's because the full month names are used instead of their 3-letter abreviations.

- Reproducible in RCT2 (vanilla)? Probably not.
- Multiplayer

[2016-07-14 22:03] Wuzzy2 opened #4088 "Graphical glitch with placing attraction entrance inside land"
**OS:** GNU/Linux (Parabola)
**Version:** 0.0.5-develop
**Commit/Build:** 097c5b1

If an entrance is inside land, it may be almost entirely visible at the land edges if the the land is low.
- Reproducible in RCT2 (vanilla)? **Yes!**
- Multiplayer? N/A

**Steps to reproduce**
1. Build an attraction (you only need the platform)
2. Place an entrance in such a way that it is completely submerged into

[2016-07-14 22:21] Wuzzy2 opened #4089 "Possible to trick scenario height limit by lowering land below attraction"
**OS:** GNU/Linux (Parabola)
**Version:** 0.0.5-develop
**Commit/Build:** 097c5b1

It's possible to defeat the height limit (not higher than tree height, seen in Rainbow Summit from RCT2) simply by lowering the land below an attraction.

- Reproducible in RCT2 (vanilla)? **Yes!**
- Multiplayer? N/A

**Steps to reproduce**
 1. Play a scenario where you are forbidden to build above tree height (e.g.

[2016-07-14 22:27] GForceNE commented on #3826
Yes, the "off map" areas are simply lowered land with custom scenery objects on top of them made to mimic the edge of the map.

I seem to also be unable to reproduce the error as well now, not sure what was the case here.  It was a roadblock to me on this save for a few days.  Seemingly has gone away now.

In terms of hacks used, nothing to extreme.  Just the classic, invisible huts hack really (u

[2016-07-14 22:33] RealRexen opened #4090 "Open RCT2 not allowing non game shortcuts to work"
Os: Windows 10
Version: 0.0.5
Build:fb456a8

Not sure if its a bug or a windows 10 issue but shortcuts to open the steam overlay or the windows game record doesn't work. I try other games and they work fine for both of the things listed.

[2016-07-14 23:04] jensj12 commented on #4070
Just to clarify: The assertion triggered in the group park and gave me no dump file. I got the crash+dump when doing the same steps in the track design manager. While they obviously crashed somewhere else in the code, I assumed it was the same error as the steps to reproduce it are more or less the same and the console window had the same output.

[2016-07-15 02:25] birthdaybrian opened #4091 "Only 1 Wooder Coaster Train Type when more types are checked in object selection"
**OS:Windows 7 Home Premium SP1 x64**
**Version: 0.0.5-11**
**Commit/Build 097c5b1:**
Hey. I am hosting a server and someone requested me to add 6 seater to the park which already is, but the train type is absent when selecting a train type.

- [ ] Reproducible in RCT2 (vanilla)?
- [ ] Multiplayer?

**Steps to reproduce:**
1. Select many Wooden Coaster train types as you can
2. Build a Wooden Coas

[2016-07-15 02:51] Wirlie commented on #4091
I can confirm this issue :
![scr1](https://cloud.githubusercontent.com/assets/7508197/16862106/9d12d6ea-4a0c-11e6-8049-b858cde5ef9d.png)

[2016-07-15 04:00] Patrik356b commented on #4090
The overlay can be quite iffy sometimes

[2016-07-15 04:17] somedude16 opened #4092 "Main window doesn't happen/appear/whatever"
**OS:** Windows 7
**Version:** 0.0.5
**Commit/Build:** b668533

**Explanation of the issue...**

- [ ] Multiplayer?
- [x] OpenRCT2 exclusive?

**Steps to reproduce:**
1. Boot up the game.

**Dump file**
Nope.

[2016-07-15 04:22] Patrik356b commented on #4092
if you alt-tab or use "Window -> Bring to front" in taskmanager, do you see it?

[2016-07-15 05:00] birthdaybrian opened #4093 "PALETTE_TO_G1_OFFSET_COUNT error Visual C++ Runtime Library"
**OS: Windows 7 Home Premium SP1 x64** [e.g. Windows 10]
**Version: 0.0.5-11** [e.g. 0.0.5]
**Commit/Build: 6428e3e** [e.g. 426e106]

When I was playing OpenRCT2 multiplayer, I get this message when I was moving around. I have used cheats like clearing grass, watering the plants and others that don't crash the game.
- [ ] Reproducible in RCT2 (vanilla)?
- [x] Multiplayer?

[crashed.zip](https://gi

[2016-07-15 06:25] Patrik356b commented on #4093
I'd suggest you clean up your post by removing the placeholders like [e.g. Windows 10]

[2016-07-15 06:53] IntelOrca commented on #4090
Are you on Hardware Display mode?

[2016-07-15 07:45] Gymnasiast commented on #4091
Duplicate of #3806.

[2016-07-15 07:45] #4091 closed

[2016-07-15 08:05] SijmenSchoon commented on #4089
Could reproduce in vanilla RCT2

![scr1](https://cloud.githubusercontent.com/assets/345785/16867726/a93d0be0-4a73-11e6-8cc3-8fde13ae5b46.png)

[2016-07-15 10:21] Gymnasiast commented on #4089
Yes, it's possible, but it costs an incredible amount of money to do it (a bit like a bribe :P).

And trying to prevent it also presents one with a hard question: how? Preventing the lowering of terrain if it makes the track exceed the height limit will not prevent people from just keeping the terrain high, and thus not be very effective.

[2016-07-15 10:31] AaronVanGeffen commented on #4074
:+1:

[2016-07-15 11:03] Patrik356b commented on #4089
I'm with @Gymnasiast on this one.

[2016-07-15 12:08] marijnvdwerf commented on #4074
@Nubbie The problem with the 'open documentation in browser' approach is that the documentation is _very_ likely to not get updated as much as the UI itself.

[2016-07-15 12:29] Wuzzy2 commented on #4089
High cost is not an argument since money can be disabled as well.

The “How?” is actually very simple to answer: When lowering land, always check if the ride would go above tree height at this particular position. If this is the case, it is forbidden.
A similar thing happens if you try to lower land lower if it would make the ride itself higher than allowed.

I think the point of the restriction i

[2016-07-15 12:51] RealRexen commented on #4090
The display is set to software mode.

[2016-07-15 12:52] mrtnptrs commented on #4093
Can't test the save file as I get the following errors:
[code]
Could you open the save file yourself, enable the "export plug-in objects with saved games" option at the options menu (Miscellaneous tab), save the file again and drop it here again? (if it doesn't crash for you befor you were able to save it again)

[2016-07-15 12:52] janisozaur commented on #4090
The overlays don't work in software mode.

[2016-07-15 12:59] mrtnptrs commented on #4092
I see you were using a month old build to test OpenRCT2. Could you try what @Patrik356b said but also try the newest development version you can find here?: https://openrct2.org/downloads

[2016-07-15 13:00] mrtnptrs commented on #4070
@jensj12 then I think it's safe to assume that the dump which @Nubbie read was reliable and connected to this issue :)

[2016-07-15 13:02] mrtnptrs commented on #4090
@RealRexen If you use the Software (hardware display) drawing engine, it should just work fine when you open OpenRCT2 from Steam. Does this work for you?

[2016-07-15 13:04] mrtnptrs commented on #4063
When above questions are answered, you can close this issue :)

[2016-07-15 13:14] mrtnptrs commented on #4047
Added to the list here: https://github.com/OpenRCT2/OpenRCT2/wiki/OpenGL-renderengine-issues

So, this issue can be closed or does @janisozaur want more information from @Invictaz ?

[2016-07-15 13:20] Wuzzy2 opened #4094 "Hyper coaster: If track is at 45°, can't go directly from horizontal to steep hill"
**OS:** GNU/Linux (Parabola)
**Version:** 0.0.5-develop
**Commit/Build:** 097c5b1
- Reproducible in RCT2 (vanilla)? I don't know.
- Multiplayer? N/A

**Steps to reproduce**
1. Build a hyper coaster
2. Build high
3. Add a curve piece (long radius) so the track goes at 45°
4. Now click on steep slope up or steep slope down
5. Look what happens

For me, the build button becomes disabled since there i

[2016-07-15 13:24] mrtnptrs commented on #3929
Can't reproduce the crash, using the latest version of OpenRCT2.

[2016-07-15 13:26] mrtnptrs commented on #3918
Then this issue can be closed as there is no way for us anymore to find the cause of the original issue here, as @ptkato did a re-install.

[2016-07-15 13:26] Wuzzy2 opened #4095 "Not all messages in the message log are shown in the current language after language switch"
**OS:** GNU/Linux (Parabola)
**Version:** 0.0.5-develop
**Commit/Build:** 097c5b1

After you switch the language, not all messages in the message log are displayed in the correct language.

- Reproducible in RCT2 (vanilla)? I don't know.
- Multiplayer? N/A

**Steps to reproduce**
 1. Play the game for a while and let some messages appear
 2. Switch the language in-game
 3. Let more messages appear

[2016-07-15 13:30] X123M3-256 commented on #4094
There has never been a large diagonal flat-to-steep piece in the game. The steep slope button is enabled on flat diagonal pieces in spite of this (this is how it was in vanilla) - but I agree that it should probably be disabled because it implies you can build this piece.

[2016-07-15 13:33] mrtnptrs commented on #3666
Can't reproduce the error using the save file.

[2016-07-15 13:35] Invictaz commented on #4047
@mrtnptrs I did download the latest drivers but no effect.

I thought @LRFLEW came up with some new info if OpenGL 3.0 was going to be supported after all.

For now, OpenGL is usuable but on dedicated graphics chips only. to ensure stable enough framerates.

[2016-07-15 13:39] X123M3-256 commented on #4063
Looking at the code, it seems that the "Image table longer than expected" message is triggered when the actual size of the bitmap data does not match the size given in the file. This doesn't seem to be a serious issue, because as far as I can tell the value in the file isn't actually used much.

I do, however, think the warning should remain - verbose mode is supposed to print as much information

[2016-07-15 13:48] Gymnasiast commented on #4089
Which will still allow building above tree height by raising the land.

The user will still be allowed to build above tree height, just not lower the land afterwards. That is a drawback.

[2016-07-15 13:48] #4089 closed

[2016-07-15 13:50] Gymnasiast commented on #3918
The object loading code has been thoroughly revised in the meantime anyway.

[2016-07-15 13:50] #3918 closed

[2016-07-15 13:52] Gymnasiast commented on #4095
Are you talking about the recent messages? These are saved as text and not as string ids, which makes translation old messages impossible. This approach allows for custom messages.

[2016-07-15 13:52] #4095 closed

[2016-07-15 13:53] Gymnasiast commented on #4094
Could either of you provide a screenshot?

[2016-07-15 15:40] IntelOrca commented on #4095
When we have our own format................................

We can store non-custom messages using types and parameters to resolve this issue.

[2016-07-15 15:42] IntelOrca commented on #4089
It feels like a bug, because if you try and lower land under a ride which has a maximum support height, e.g. monorail it forbids you.

[2016-07-15 15:43] Wuzzy2 commented on #4095
It's a design flaw then and certainly not a “non-bug”. No reason to close it so quickly.

And as IntelOrca said, there are probably ways to resolve this, even if it takes time to do so.

Luckily, people don't change languages too often so I can understand if you maybe flag this as “low priority” but not if you deny it is even a bug.

[2016-07-15 15:44] IntelOrca commented on #4063
I originally didn't have "Image table longer than expected", but because objects don't store the correct image table length, I just have to assume that the remainder of the file is image table, and if there is excess bytes - something isn't quite right.

[2016-07-15 15:50] #4081 closed

[2016-07-15 15:51] Wuzzy2 commented on #4094
This is what I mean:
![Screenshot of trying to place a 45° piece from horizontal to steep hill](https://i.imgur.com/OVq48As.png)

For comparison, this is how it looks like when going from flat to steep when going along the grid:
![Screenshot of trying to place a piece from flat to steep hill](https://i.imgur.com/Zf0Sbpn.png)

The easy way would (probably) to just disable the steep hill buttons whe

[2016-07-15 16:07] DejaVu2001 opened #4096 "Game crashing with scenery placement"
**OS:** Windows 7
**Version:** 0.0.5
**Commit/Build:** 2d24678

When attempting to place scenery while clearance checks are disabled, the game crashes. Sometimes, items around where you are working will disappear, then the game freezes. Other times, the game crashes to desktop and displays an error message

- [ ] Reproducible in RCT2 (vanilla)?
- [ ] Multiplayer?

**Steps to reproduce:**
1. Disabl

[2016-07-15 16:12] Patrik356b commented on #4094
There is at least 3 coasters that does this:
- Hyper Coaster
- Hyper-Twister Coaster
- Stand-Up Twister Coaster

Screenshot from vanilla: http://puu.sh/q2FwJ/1f79cc91a2.png
Any other design using the same track will have this isue

[2016-07-15 16:14] Patrik356b commented on #4074
Not to mention some might find it annoying (especially on slow machines, think EEE PC or anything with a very slow cpu)

[2016-07-15 17:45] duncanspumpkin commented on #4095
But it would break custom messages any change in this behaviour.

[2016-07-15 18:01] RealRexen commented on #4090
changing to software (hardware display) does nothing, opengl doesn't help either.

[2016-07-15 18:12] Patrik356b commented on #4090
Does it work for you in vanilla rct2?

[2016-07-15 18:18] Gymnasiast commented on #4089
Yes, but that's a different cup of tea compared to the tree height, as raising the land will allow for construction above it. Preventing the lowering of terrain will still get you a construction above tree height.

[2016-07-15 18:20] Gymnasiast commented on #4094
@Patrik356b The three (or technically, two) coasters you mentioned all have the 'steep slope with long base' part. That could very well the cause of this bug.
The logic of determining whether a button should be enabled or not is insanely complicated, so it's no wonder some bug worked their way in.

[2016-07-15 18:41] IntelOrca commented on #4089
This option is usually used in conjunction with prevention of altering land and removing trees of course.

[2016-07-15 19:31] Patrik356b commented on #4094
@Gymnasiast I don't know if there are more that uses the same track and thought i should mention anything relevant.

[2016-07-15 19:32] Patrik356b commented on #4089
Essentially a flaw with the scenario options then?

[2016-07-15 19:36] Gymnasiast commented on #4094
What you mentioned was relevant. :)

[2016-07-15 19:42] RealRexen commented on #4090
I can't test that since my game disc is still in storage.

[2016-07-15 19:49] #4013 closed

[2016-07-15 19:50] somedude16 commented on #4092
Updated to b668533, still happens

[2016-07-15 19:57] AaronVanGeffen commented on #4092
Is this the first time you're using OpenRCT2? If not, could you try deleting the game's config file found in `Documents\OpenRCT2`?

[2016-07-15 19:59] IntelOrca commented on #4092
It will also say a message in the black console window.

[2016-07-15 22:38] LRFLEW commented on #4047
@Invictaz I *know* how to get 3.0 working, but it won't be a pretty solution, and I have a feeling that IntelOrca might turn down my solution.

As to the issue, leave it open. I want to find the source of the crash, and see if I can resolve it at its root (or at least fail in a less destructive way).

[2016-07-15 23:09] Nubbie commented on #3523
#3805 has been merged so this can be closed, especially when #3993 backs it up

[2016-07-15 23:13] #3523 closed

[2016-07-15 23:19] Nubbie commented on #3646
@cdawgydawg Was a long time ago now, has the issue been solved? :smile:

[2016-07-16 00:31] PFCKrutonium commented on #4047
(For the record, I also have an Optimus System, Intel HD 4600/nVidia 950M.)

[2016-07-16 05:44] duncanspumpkin commented on #4047
I'm against 3.0. We already had this discussion and we have to draw the line somewhere. It's not like we will retire the software renderer anyway.

[2016-07-16 10:19] Patrik356b commented on #4047
@PFCKrutonium 950m is a luxury. HD5500/940m over here.

IMHO the software render should suffice for most if OpenGL or other will not work.

[2016-07-16 10:32] Ionaru opened #4102 "Rotate clockwise or counter-clockwise?"
**OS:** Windows 10
**Version:** 0.0.4 Stable

When clicking the 'rotate 90 degrees clockwise' button in the top menu bar or pressing 'enter', it appears as if the camera spins 90 degrees counter-clockwise (The whole park/world spins 90 degrees clockwise to give this effect).
It would make more sense in my opinion to reverse this so the camera spins clockwise instead.

- Reproducible in RCT2 (vanil

[2016-07-16 11:12] Patrik356b commented on #4102
Maybe something to put in the config file, i don't see this as a problem, but you do have point

[2016-07-16 11:20] Goddesen commented on #4102
I don't agree with altering this to be different than the standard RCT2 behavior, though I'm all for the config option.

[2016-07-16 12:02] Invictaz commented on #4047
I'm not able to discuss what the internal roadmap of OpenGL is for this project so I refrain from further questioning :) It's upto you guys. At least I hope that it doesn't crash. If I would like to run it under OpenGL I use the Nvidia card.

[2016-07-16 12:04] #4060 closed

[2016-07-16 12:17] Gymnasiast commented on #4102
And I'm against a config option for something so trivial.

[2016-07-16 12:17] #4102 closed

[2016-07-16 12:25] duncanspumpkin commented on #4079
There is an extra sprite that has the wrong sprite identifier in the sprite list. No idea how its been created though. Sprite is at 0, 0. So when park goes near those coordinates and tries to draw it will crash.

[2016-07-16 13:20] duncanspumpkin commented on #4070
This should now be fixed can everyone retest. There was an issue with it running out of free images as the object unloader was freeing them. So it was really noticable when you scroll as it needs to load and unload lots of objects.

[2016-07-16 13:41] mrtnptrs commented on #4070
@duncanspumpkin Testing now!

[2016-07-16 14:10] #4070 closed

[2016-07-16 14:31] mrtnptrs opened #4108 "Assertion an crash at startup since c123673"
**OS:** Windows 10
**Version:** 0.0.5
**Commit/Build:**  c123673 and up (for the dump: 57e790e)

I found out that every build before commit c123673 worked, but after that commit, the game doesn't start for me anymore and instead throws an assertion error at me and when I cancel it, it crashes.

**Steps to reproduce:**
1. Just open OpenRCT2

**Dump file**

[OpenRCT2.zip](https://github.com/OpenRCT2

[2016-07-16 14:34] #4108 closed

[2016-07-16 14:49] mrtnptrs opened #4110 "pay to enter park / free rides: guests still get charged for rides if they previously were charged for it"
At the request of @IntelOrca:

OS: Windows 10
Version: 0.0.5
Commit/Build: be4668e

 Reproducible in RCT2 (vanilla)?
 Multiplayer?
Steps to reproduce:
1. Load a save game.
2. Make a ride cost something. (make sure you're able to charge for rides)
3. Open the cheats screen.
4. Open Park parameters.
5. when you set the charging options to pay to enter park / free rides: You can now change the park e

[2016-07-16 14:56] mrtnptrs opened #4111 "Window limit: inaccurate and closes some windows suddently"
**OS:** Windows 10
**Version:** 0.0.5
**Commit/Build:** be4668e

**Steps to reproduce (for example):**
1. Set the window limit to 8.
2. You can now only open 5 windows of different types or the same.
3. When you use a higher limit (for example: 9), you can maybe open one more window, but when you lower it back again to 8, the newly added window dissapears BUT a few seconds later a second window su

[2016-07-16 14:58] IntelOrca commented on #4111
There are at least 3 implicit windows: the main viewport, the top toolbar and bottom toolbar.

[2016-07-16 14:59] duncanspumpkin commented on #4110
Yes this is required if people want parks with pay for entry and rides.

[2016-07-16 14:59] #4110 closed

[2016-07-16 15:02] RealRexen commented on #4090
Somehow changing the steam skin I was using fixed the issue or it seems that way.

[2016-07-16 15:13] Wirlie commented on #4111
I think that these 3 implicit windows can be ignored using their `window class`?

[2016-07-16 15:13] mrtnptrs commented on #4110
@duncanspumpkin Please look at #4071 and you see why this needs to be re-opened! When you set the mode on free rides, why should the game still charge the guests for the rides? The same thing was happening with the entry price when setting the mode to free entry/pay for rides: the guests still got charged for entering the park (same amount of money as before you made the entry "free") and @IntelOr

[2016-07-16 15:14] mrtnptrs commented on #4111
@IntelOrca Isn't it a bit strange to count them as windows too, as they don't have a top bar etc.?

[2016-07-16 15:25] duncanspumpkin commented on #4110
But that is the other way round this requires breaking a feature everyone uses.

[2016-07-16 15:33] mrtnptrs commented on #4110
Well @duncanspumpkin , seems like IntelOrca fixed it. Will test the fix in a few minutes.

[2016-07-16 15:41] IntelOrca commented on #4111
@mrtnptrs I am just saying why it is 3 off.

[2016-07-16 16:16] mrtnptrs commented on #4111
@IntelOrca I understand that :) Couldn't you then just do a thing like this in the code?:
`windowCount = windowCount - 3`

Wouldn't that be the easiest "solution" an most user-friendly?

[2016-07-16 16:22] mrtnptrs opened #4113 "Free rides: Income and profit calculated using old price"
OS: Windows 10
Version: 0.0.5
Commit/Build: be4668e

1. Load a save game.
2. Make a ride cost something. (make sure you're able to charge for rides)
3. Open the cheats screen.
4. Open Park parameters.
5. when you set the charging options to pay to enter park / free rides: Guests don't pay no more when the rides are free, the money tab also show that the total profit gets lower, but strangely the i

[2016-07-16 16:26] IntelOrca commented on #4111
Yes you could, but I didn't write the window limit feature.

[2016-07-16 16:39] mrtnptrs commented on #4111
I tried to make sense of it and tried it myself to "fix" this, but the code is too complicated for me.

[2016-07-16 16:41] jensj12 opened #4114 "Object selection corrupts sprites and crashes game"
**OS:** Windows 10
**Version:** 0.0.5
**Commit/Build:** c3cd35f

Hovering over objects in the object selection causes other in-game sprites to become corrupt. It will eventually crash the game when loading a save.

**Steps to reproduce:**
1. Open the object selection somewhere
2. (Quickly) hover over over multiple objects (edit: it may crash already at this point)
3. In-game sprites get corrupted

[2016-07-16 16:42] jensj12 commented on #4070
It's fixed now, but the fix caused other issues: #4114

[2016-07-16 17:07] #4114 closed

[2016-07-16 22:40] mrtnptrs commented on #3780
The crash still occur using 964cf66 even after #4105

[2016-07-16 22:48] mrtnptrs commented on #3779
Aside from the direct crash after loading this savegame, I also see the following error at the commandprompt: ERROR[src\ride\ride.c:213 (get_ride_entry)]: invalid index 255 for ride type

[2016-07-16 23:02] mrtnptrs commented on #3781
Uhm, is it worth looking at this? The map seems to be completely corrupted (tons of Null elements) and no SV6 analyzer tool can make any sense of the file. I think it was just corrupted by a bad server, connection or an old bug or something. What do you think?

[2016-07-16 23:07] SijmenSchoon commented on #4113
This should be fixable by adding this to the beginning of `ride_calculate_income_per_hour` (in src/ride/ride.c):
[code]

[2016-07-16 23:27] mrtnptrs commented on #4113
@SijmenSchoon Would you like to make a pull request for this then, as I'm really not familiar with the code at the moment.

[2016-07-17 07:54] duncanspumpkin commented on #4096
Something is very broken with the scenery placement code. You don't need to have clearance checks on to crash it.

[2016-07-17 08:10] SijmenSchoon commented on #4113
`PARK_FLAGS_PARK_FREE_ENTRY` is the only park flag related to paying for parks/rides

[2016-07-17 09:35] Wuzzy2 opened #4118 "Sometimes possible to build predefined track with non-researched scenery"
**OS:** GNU/Linux (Parabola)
**Version:** 0.0.5-develop
**Commit/Build:** 097c5b1

Sometimes, you can build some pre-built tracks with a certain scenery associated with it, even if the scenery was not researched.

- Reproducible in RCT2 (vanilla)? I don't know.
- Multiplayer? N/A

**Steps to reproduce:**
 1. Have a park with no special theme/scenery researched
 2. Try to build a virgina reel, hove

[2016-07-17 12:54] mrtnptrs opened #4119 "Guest drowned message gets less priority over other messages (broken down rides especially)"
**OS:** Windows 10
**Version:** 0.0.5
**Commit/Build:** 964cf66

- [ ] Reproducible in RCT2 (vanilla)? (can't test this, as the below save is from a six flags scenario and so shows no death messages. Maybe if someone could provide me a save (non-six-flags!) with many rides and guests, I could test the behavior in vanilla RCT2.)
- [ ] Multiplayer?

**Steps to reproduce:**
1. Drown a guest.
2. Keep

[2016-07-17 14:24] HiMyNamesEthan opened #4120 "Assertion Failure"
[Fill in the placeholders below. Delete any headings and placeholders that you do not fill in. Delete this line as well]

**OS:** 8.1
**Version:** 0.05
**Commit/Build:** 964cf66

[Explanation of the issue...]

- [ ] Reproducible in RCT2 (vanilla)? No
- [ ] Multiplayer? Yes

**Steps to reproduce:**
1. [step 1] Join Steam Tycoon 3 server.
2. [step 2] Error shows up after downloading data and doesn't

[2016-07-17 14:27] Nubbie commented on #4120
Did it create a dump file when it aborted?
If so, can you zip it and upload it here? :)

[2016-07-17 14:28] HiMyNamesEthan commented on #4120
I dont know where to find this dump file

[2016-07-17 14:29] jensj12 commented on #4120
Assertions don't give dump files, only crashes do.

[2016-07-17 14:30] HiMyNamesEthan commented on #4120
yeah i figured someone said something simular

[2016-07-17 14:40] mrtnptrs commented on #4120
@jensj12 Since a recent change, when an assertion gets triggered and you click on abort, the game will automaticly crash and create a dump file for us. @HiMyNamesEthan the location is at documents/openrct2

[2016-07-17 14:47] duncanspumpkin commented on #4120
a14wfc
bluespac
dbrownta
dreampat
pathdst1
xxpath04
xxwhwt01
blackcra
crazyash
dirtgrnc
exx-p2
pathwd
xxpath16
blacktil
creamtar
discoczy
ldirtpat
tsgcc
xxptwtr

Possible bug in one of the above .DATs

[2016-07-17 14:53] cdawgydawg commented on #3646
@Nubbie Unfortunately I never figured it out. Never could get the port opened. Tried the normal ways to open it and have no idea what else to try

[2016-07-17 15:20] janisozaur opened #4122 "Crash in gfx_object_free_images"
**OS:** Linux
**Commit/Build:** 964cf66

Whenever I close the game at 964cf66, it crashes. The crash did not occur in 83fa818 (`964cf66^`)

Backtrace/additional info:

[code]

**Steps to reproduce:**
1. Launch OpenRCT2
2. Close OpenRCT2

[2016-07-17 15:26] janisozaur commented on #4122
This is with `NO_RCT2` turned on.

[2016-07-17 15:30] IntelOrca commented on #4122
When you allocate memory for `g1Elements`, 291438 * rct_g1element.

[2016-07-17 15:44] mrtnptrs commented on #4120
The server worked good for me, although I got a desync after connecting with it and the boats at the water were invicible.

[2016-07-17 16:13] janisozaur commented on #4122
It seems to be `324206 * sizeof(rct_g1_element)` https://github.com/OpenRCT2/OpenRCT2/blob/develop/src/drawing/sprite.c#L96

[2016-07-17 16:15] IntelOrca commented on #4122
It gets reallocated in `read_and_convert_gxdat`

[2016-07-17 16:28] mrtnptrs opened #4123 "Different water color at the main menu title sequence when the MP-game had a different color of water"
### Operating System:
Windows 10

### Commit/Build:
964cf66

#### Reproducible in the original RCT2? (yes or no?): No
#### Multiplayer affected? (yes or no?): Yes

### Steps to reproduce:
1. Open the Multiplayer game map, called Steam Tycoon 3. Find the server or load the save file below.
2. Exit to the main menu.

### Explanation of the issue:
All water at the main menu is purple now. It should o

[2016-07-17 16:30] Nubbie commented on #4123
Indeed as the last map changes the waters color and the title sequences maps are loaded maps

[2016-07-17 16:34] mrtnptrs commented on #4123
@Nubbie But shouldn't the water color get reset by every map it loads, so it gets the water color the map actually has?

[2016-07-17 16:37] Nubbie commented on #4123
Yeah presume its a bug then :S

[2016-07-17 16:46] #4123 closed

[2016-07-17 16:53] Patrik356b commented on #3646
@cdawgydawg did you try opening the port in the windows firewall?

And in your router, did you pick TCP or UDP for the portforwarding?
OpenRCT2 uses TCP so it's worth checking

[2016-07-17 17:04] Harbinger619 opened #4125 "Crash while placing a saved track"
**OS:** Windows 10 64-bit
**Version:** 0.0.5
**Commit/Build:** 964cf66

Explanation of the issue:
I was trying to determine the best place for a previously-saved ride (go-karts in this case), and zoomed out for a better view of the area. The game crashed just after the view updated.

I managed to reproduce this twice, but only got one dump file out of it. The second time, the game just hung with t

[2016-07-17 17:28] mrtnptrs commented on #4125
@Harbinger619 Can you reproduce this using a brand new game/scenario? So, can you reproduce it every time with different saves/games using the steps above? When I open the save, the game immediatly crashes for me.

[2016-07-17 17:32] Patrik356b opened #4126 "Refusing to use rct1 theme when setting is applied in launcher"
I'm not sure what happened, but I can not get the "rct1 interface" setting applied to openrct via the launcher after some recent update.

**OS:** Win 8.1x64
**Commit/Build:** 4db876c

Solved after setting this in the game but strange occurrence.

[2016-07-17 17:34] mrtnptrs commented on #4125
I'm not sure the following is related to this issue, but using my own save I can confirm that when you zoom out 1 time and move around the map with the "ghost" of a pre-build ride to place it, the game crashes and the following error gets generated at the commandprompt: ERROR[src\world\map.c:190 (map_get_first_element_at)]: Trying to access element outside of range

Can you reproduce this too @Har

[2016-07-17 17:45] mrtnptrs commented on #4126
@Patrik356b Are you using the launcher you can get from here?: https://github.com/LRFLEW/OpenRCT2Launcher/releases/tag/v0.0.5

When the answer on the above question is a "yes": Also, @LRFLEW made the new launcher, so, it would be better to report it here: https://github.com/LRFLEW/OpenRCT2Launcher/issues and continue the discussion about this issue there, as it is really a launcher issue.

We had

[2016-07-17 17:55] Patrik356b commented on #4126
Your probably right, can't remember.
Looking at that repo and the folder contents i find Qt dlls which should prove your point.

Moving issue to that repo now

[2016-07-17 17:55] #4126 closed

[2016-07-17 17:57] Harbinger619 commented on #4125
@mrtnptrs Yes, I can reproduce the issue with a fresh park, by selecting a track and zooming in and out while moving the ghost ride. I used the 'Build your own Six Flags Park' and the same ride I was trying to build before. It's not always immediate like it was the first time, and it seems to hard lock the game rather than crash and create a dump.

Here's a fresh copy of the save game that actuall

[2016-07-17 18:04] mrtnptrs commented on #4125
@Harbinger619 Then we are indeed talking about the same issue.

[2016-07-17 18:10] mrtnptrs commented on #4125
And when zoomed in I get an even stranger issue: the game doesn't crash, but seems to be in an endless loop and producing tons of 'ERROR[src\ride\track.c:1265 (track_remove)]: Track map element part not found!' continiously at the commandprompt. But only got this once. Will try to reproduce it.

[2016-07-17 18:25] Harbinger619 commented on #4125
@mrtnptrs Updated. Thanks for the feedback and the help reproducing this.

[2016-07-17 18:44] mrtnptrs commented on #4125
@IntelOrca this should be considered as a major bug as it can happen to EVERY user who tries to place a pre-build track. @Nubbie could you maybe read the last dump I provided here? Thanks is advance! @Harbinger619 thank you for reporting it to me. When I need more info, I will ask you again :)

[2016-07-17 18:54] IntelOrca commented on #4125
I can't reproduce this.

[2016-07-17 18:57] mrtnptrs commented on #4125
@IntelOrca try rides with tracks and different saves and move around much

[2016-07-17 19:04] Patrik356b commented on #4125
I think i have been having trouble with the same thing, but it only occurred on crazy castle #3953

[2016-07-17 19:39] janisozaur commented on #4125
There's something wrong with the included save file, I usually hit this: https://github.com/OpenRCT2/OpenRCT2/blob/4db876c184786b684d20eefa81feeb780d1ac937/src/peep/peep.c#L10686 other times the game spins infinitely in `game_fix_save_vars`, other times it segfaults somewhere…

[2016-07-17 20:07] mrtnptrs commented on #4125
@janisozaur This could be caused by the saves being from right when the crash occured, so, it's logical that you will get a crash. See attached save for a reliable save file to reproduce this:
[ANMAopen.zip](https://github.com/OpenRCT2/OpenRCT2/files/368104/ANMAopen.zip)

[2016-07-17 20:16] Nubbie opened #4128 "Limit how many times you can change name per hour"
Might stop some name changes where they use inappropriate and bad names just for trollings sake and spam servers with different names etc

There is no need to change a users name 900 times in less than 1 hours

Thinking about 5 each hour

[2016-07-17 20:21] mrtnptrs opened #4130 "Rare bug: hyperspeed option dissapears"
- Operating System: Windows 10

- Commit/Build: dd25cdc
[For example: 7b421c8. It can be found at the left bottom corner of the main menu or at the commandprompt window in case of a crash.]

- Reproducible in the original RCT2? (yes or no?): no
- Multiplayer affected? (yes or no?): no

This is a very very rare bug I encounter 5 or 6 times since I know OpenRCT2: I can use every speed option, except

[2016-07-17 20:25] Nubbie commented on #3832
Wonder if it would be able to sync properly

[2016-07-17 20:25] Patrik356b commented on #3961
Same problem over here, without any custom content or cheats used.
I'm attempting to build a Mini Roller Coaster
Win8.1x64 - commit dd25cdc
![openrct2-invalid-vehicle](https://cloud.githubusercontent.com/assets/2000703/16902871/fbe80ee4-4c6c-11e6-959c-2c4f970a9130.png)

dump from a few seconds after the freezing:
[Orct2-invalid-vehicle-crash.zip](https://github.com/OpenRCT2/OpenRCT2/files/368109/O

[2016-07-17 20:32] IntelOrca commented on #4130
Only available if you enable debug tools.

[2016-07-17 20:34] mrtnptrs commented on #4128
I have seen some really strang and offending names like I s@ck yo&r di$k and all that strange stuff. What do you think @Nubbie ? Would this really prevent inappropriate names?

I don't think so, as most people just use those stupid names to annoy people. We could also just make a list of words which can't be in a username and block characters like @, $, & to prevent the names like the one above. M

[2016-07-17 20:36] mrtnptrs commented on #4130
@IntelOrca That explains it, sorry :) I just always have the debug tools enabled, so, I only sometimes noticed the difference.

[2016-07-17 20:36] #4130 closed

[2016-07-17 20:38] Nubbie commented on #4128
@mrtnptrs The problem isn't that they use one offensive name, the problem is that they keep on changing it all the time to slander the host in different ways all the time, sometimes even change name to hide that they had spammed with different names before

I see time from time again people who use all caps names and change them every time after they have been kicked, just to slander the host and

[2016-07-17 20:38] IntelOrca commented on #4128
Requires central authority server... anyone can modify the code or use a build which bypasses checks like this.

[2016-07-17 20:39] Nubbie commented on #4128
@IntelOrca Indeed something I knew about was the problem sadly enough.. the only possible solution I would know for this was to fix it secretly and try to hide it so players dont know about it

[2016-07-17 21:00] janisozaur commented on #4128
Pretty much https://github.com/OpenRCT2/OpenRCT2/issues/3155

[2016-07-17 21:02] mrtnptrs commented on #4128
@Nubbie That users mislead the server owner/host is indeed a very good point. A central autority server would be a good idea. But as a temporary workaround a changing-name-limit could work and that the host checks the client if he did the check correctly (like changing his name in one game for maximum 1 time or something to force the user to choose a good name) when he changed his name and if not:

[2016-07-17 21:06] mrtnptrs commented on #3924
This is fixed now, can't reproduce it.

[2016-07-17 21:09] mrtnptrs commented on #4047
This is a duplicate of #3867 and can both be closed as it is already added to the OpenGL wiki-page.

[2016-07-17 21:12] mrtnptrs commented on #3746
#3805 and #3993 fixed this.

[2016-07-17 21:18] #3924 closed

[2016-07-17 22:15] Invictaz commented on #4047
Weird that in that post @janisozaur provided a fix...

[2016-07-18 02:39] Generalcamo commented on #4128
Could servers be able to perhaps read User's IP addresses? These of course can be faked, but it would trim those out who at least don't know how (or can't) fake them.

Obviously this should be a special permission that is disabled by default for non-owners.

[2016-07-18 06:19] duncanspumpkin commented on #4047
Yes that's the reason why this is open. There is some sort of bug in the version detection code

[2016-07-18 07:09] IntelOrca commented on #4111
@mrtnptrs

This will probably be your error box or tooltip box opening which again counts as a window.

[2016-07-18 07:19] LRFLEW commented on #4047
@duncanspumpkin It's not in the "version detection code", as (last I checked) there is none. Right now, the strategy is to create a context and try to get everything needed to make it work (functions and shaders). Those fetches are supposed to self-validate, and switch to the software renderer if it can't get everything it needs. My guess is that the code that's supposed to shaders doesn't fail gr

[2016-07-18 07:29] player49256 opened #4131 "Guests getting stuck in OpenRCT2 but not in Vanilla"
**OS:** Windows 10
**Version:** 0.0.5
**Commit/Build:** Around 3 days old build - July 15th

I know this has been reported before, but wanted to report with what i've tried and found so far, hopefully it can be to some help.

Guests seem to get stuck alot and seems to leave park at a fast rate
More details around all this and download to save file is here:
https://openrct2.org/forums/topic/1462-gu

[2016-07-18 07:31] janisozaur commented on #4131
This is not adequate. Please provide exact version.

[2016-07-18 07:35] player49256 commented on #4131
Sorry if i cannot provide exact build at the moment, will do as soon as i can.

[2016-07-18 07:42] IntelOrca commented on #4047
@LRFLEW

https://github.com/OpenRCT2/OpenRCT2/blob/develop/src/drawing/engines/opengl/OpenGLDrawingEngine.cpp#L256

How does it create a context when its asking for OpenGL 3.2?

[2016-07-18 08:30] LRFLEW commented on #4047
¯\\\_(ツ)_/¯ That has to do with WGL (which is what SDL is using in the background), which I don't really know.

As to grabbing the GL version, it would avoid the issue. I wouldn't check the GLSL version, as it didn't seem consistent in how it was reported, but the `glGetIntegerv(GL_MAJOR_VERSION, &major);` and `glGetIntegerv(GL_MINOR_VERSION, &minor);` checks for OpenGL 3.2 should work. (Just a he

[2016-07-18 09:16] IntelOrca commented on #4047
@LRFLEW its difficult to find the source of the crash without a dump.

[2016-07-18 09:19] janisozaur commented on #4047
what about https://github.com/OpenRCT2/OpenRCT2/issues/4047#issuecomment-231728890 ?

[2016-07-18 09:22] Patrik356b commented on #4111
@Intelorca logically speaking, you should only be able have one tooltip and one error message show at the same time at most.

They should count as exceptions like the toolbars imho

[2016-07-18 10:26] duncanspumpkin commented on #4131
Put findings in the existing open issues

[2016-07-18 10:26] #4131 closed

[2016-07-18 10:33] IntelOrca commented on #4047
@janisozaur oh, didn't see that. I'll see where its crashing this evening.

[2016-07-18 10:34] IntelOrca commented on #4111
@Patrik356b yes, I agree... but this is just how it worked in RCT2 so it requires changing or...  a new window system which we will eventually do.

[2016-07-18 10:54] player49256 commented on #2499
As adviced, I'm posting this in already open issue, reporting my findings here:

OS: Windows 10
Version: 0.0.5
Commit/Build: 0.0.5.0 build ca06bbe

Guests seem to get stuck alot and seems to leave park at a fast rate
More details around all this and download to save file is here:
https://openrct2.org/forums/topic/1462-guest-count-plumit-whenever-i-open-my-park-in-openrct2/

    Reproducible in RCT

[2016-07-18 10:57] player49256 commented on #4131
Posting this in https://github.com/OpenRCT2/OpenRCT2/issues/2499 , as this report is closed.

Thanks for the reply, and sorry for posting as new issue.

[2016-07-18 11:30] janisozaur commented on #2499
@player49256 can you please post the file directly on github instead of external host? They tend to expire, be blocked via ISP, cannot be downloaded without a browser or have other issues.

[2016-07-18 13:30] player49256 commented on #2499
Yes I tried, but noticed i could only do it from Internet Explorer.
The file is now uploaded in previous post and in link below:
https://github.com/OpenRCT2/OpenRCT2/files/369125/Chrisses.Wonderworld.zip

[2016-07-18 14:08] Invictaz commented on #4047
I provided a dump.

[2016-07-18 16:44] IntelOrca commented on #4047
Okay I found the issue: if OpenGL fails then it will try to delete the OpenGLEngine, which will then delete the TextureCache which then tries to call glFreeTextures which has not been initialised.

[2016-07-18 16:50] #4096 closed

[2016-07-18 16:51] duncanspumpkin commented on #4125
Retest after the latest commit. I think this is probably due to the map insert element corruption.

[2016-07-18 16:52] duncanspumpkin commented on #4079
Retest after the latest commit. I think this is probably due to the map insert element corruption. Note this map is probably corrupted at this point so i expect it will still crash.

[2016-07-18 16:53] duncanspumpkin commented on #4058
Retest after the latest commit. I think this is probably due to the map insert element corruption.

[2016-07-18 16:54] duncanspumpkin commented on #3992
Retest after the latest commit. I think this is probably due to the map insert element corruption.

[2016-07-18 17:03] mrtnptrs commented on #4125
@duncanspumpkin Testing it now.

[2016-07-18 17:04] #4047 closed

[2016-07-18 17:05] IntelOrca commented on #4047
@Invictaz could you now try seeing if it still crashes in 664c460 or later?

[2016-07-18 17:10] #4080 closed

[2016-07-18 17:11] #4125 closed

[2016-07-18 17:13] Patrik356b commented on #3961
Mine Ride does not crash on commit 2e3500e but Mini Roller Coaster does, however, the result has changed:

When running in verbose mode i can fill Electric Fields to the brim with the same coaster, but it crashes very early on when running normally attempting to build this "Automania" Mini Roller Coaster.

[Orct2-3961-dmp.zip](https://github.com/OpenRCT2/OpenRCT2/files/369686/Orct2-3961-dmp.zip)

[2016-07-18 18:40] duncanspumpkin commented on #3961
Retry with the latest commit this is probably fixed

[2016-07-18 18:44] janisozaur opened #4132 "T-Shirt stalls charge for doughnuts"
**OS:** Linux
**Commit/Build:** f6c8993

![zaznaczenie_132](https://cloud.githubusercontent.com/assets/550290/16926296/587a3c52-4d28-11e6-82b6-3b95e653a948.png)

**Steps to reproduce:**
1. Build T-Shirt stall
2. Check icon of first tab in red window
3. Check pricing of sold items

[2016-07-18 18:53] Patrik356b commented on #3961
@daihakken the launcher @LRFLEW made apparently fetched an older version than intended.

However, this is not completely solved. it doesn't crash, but the console still get spammed with "error invalid vehicle type"

[2016-07-18 19:03] Patrik356b commented on #4132
lol. edible clothes then?

But the icons is vanilla behavior anyway:
![rct2-icons](https://cloud.githubusercontent.com/assets/2000703/16926878/0a78af36-4d2b-11e6-82a1-dc41a83590ee.png)

[2016-07-18 19:06] Invictaz commented on #4047
@IntelOrca I tried in f6c8993 and it does not let me select OpenGL in HD3000, so yeah the crash is fixed but a new thing emerged. It goes back to software instead of going back to software (hardware display) if you have selected that before. And it switches from fullscreen to window mode.

[2016-07-18 19:08] IntelOrca commented on #4047
It will go to software mode yeah, that's the lowest common denominator. Not sure why it changes display mode.

[2016-07-18 19:10] Invictaz commented on #4047
@IntelOrca IMO it should go to Software (Hardware display) if that was selected before AND display a message OpenGL is not available please run OpenRCT2 with a GPU capable or something, friendly for the end user.

[2016-07-18 19:19] creat89 commented on #4118
If I remember well, this existed as well in the vanilla game. In fact, as we can choose to build an attraction with and without the scenery, this may not be always a problem. In some parks the scenery will be developed, in some other no. Thus, we must build by our self the scenery for the attraction.

[2016-07-18 21:07] mrtnptrs commented on #4079
@duncanspumpkin I think you are right, as the save still crashes for me I soon as I move up the map. I think this can be closed then, as we can never be sure.

[2016-07-18 22:02] LRFLEW commented on #3961
That's odd, but shouldn't be my fault. My launcher gets the version that openrct2.org advertises with its API. The openrct2.org site gets its builds from an automated system setup with this project's CI (Travis and AppVeyor). The problem with getting an old build can be from any point in that chain, but I doubt it's something in the launcher's code.

[2016-07-19 02:07] e-foley commented on #4119
I always thought the messages were part of a queue and were shown in the order the events happened.  Is there more to it?

[2016-07-19 02:08] Generalcamo commented on #4055
I don't see how this is an issue? The Hypercoaster and Hyper-Twister coaster in RCT1 and OpenRCT2 (RCT1-Mode) doesn't allow for inversions, and doesn't really mention that either.

[2016-07-19 07:28] Lastorder-DC commented on #4132
I think problem introduced by recent string id cleanup since "Doughnut" price of T-Shirt Stall is not based on actual doughnut price.

[2016-07-19 08:47] marijnvdwerf commented on #4132
My mistake. Will be fixed in #4097.

[2016-07-19 09:23] Patrik356b commented on #3961
I don't know, but it got stuck on 2e3500e and did not get anything more recent.

[2016-07-19 10:24] Wuzzy2 commented on #4118
It is *always* a problem because it allows the player to (indirectly) build scenery which was not researched yet, thus degrading the value of researching scenery.

[2016-07-19 10:39] Wuzzy2 opened #4134 "Can't enable park-wide photo price for log flume and river rapids"
**OS:** GNU/Linux (Parabola)
**Version:** 0.0.5-develop
**Commit/Build:** f6c8993

You can't enable the “Same price throughout park” photo price option for log flume and river rapids.

- Reproducible in RCT2 (vanilla)? I don't know.
- Multiplayer? N/A

**Steps to reproduce:**
 1. Play a scenario with money, and log flume or river rapids available for construction
 2. Build a log flume or river rap

[2016-07-19 11:43] #2898 closed

[2016-07-19 12:59] Patrik356b opened #4135 "Enhencement: add missing tracked rides to coaster designer"
It's odd to find just 1 "water ride" which the dinghy ride in the list and gentle rides could be useful in here too.

i.e. Log Flume ride, monster trucks, etc

[2016-07-19 13:29] mrtnptrs commented on #4135
@Patrik356b sorry, but, I can't make any sense of your message. Could you make it clear for me what you mean exactly? :) You mean that only the dinghy ride is available in the coaster the designer, but the other water rides aren't?

[2016-07-19 15:23] Patrik356b commented on #4135
Exactly

[2016-07-19 15:26] mrtnptrs commented on #667
I can now confirm that the corruption is not vanilla-only, as this also happened to me with a completely fresh started scenario in OpenRCT2 (build you own six flags park, the same scenario as the above save file.) So, the save was created in OpenRCT2 and never opened in RCT2. So, OR the specific scenario has a corrupted banner count at start OR OpenRCT2 contains the same bit of bugged code that ca

[2016-07-19 16:17] mrtnptrs commented on #4135
And do you see any errors at the commandprompt when trying to find them in the coaster designer?

[2016-07-19 16:22] mrtnptrs commented on #4135
But isn't it perfectly normal for a **Rollercoaster** designer to not show gentle rides, stalls, shops and transport rides? But it should hide those tabs instead of showing them but containing nothing.

[2016-07-19 16:47] mrtnptrs commented on #4065
@ebm9000 Could you please upload your 'ASJET.DAT' as @janisozaur asked you a week ago. We also did some fixes for crashes recently, can you try to reproduce this problem using the latest OpenRCT2 version?

[2016-07-19 16:49] mrtnptrs commented on #4092
@somedude16 Do you have any answers for us?

[2016-07-19 16:50] mrtnptrs commented on #4063
Then this issue can be closed now or maybe kept with the 'information'-tag.

[2016-07-19 16:54] #4063 closed

[2016-07-19 16:56] Patrik356b commented on #4135
It's useless for non-tracked rides so my point still stands.

The only difference is that the name of this function isn't working that well when adding gentle & water rides. But it would be beneficial to have them in here too.

[2016-07-19 17:35] #4134 closed

[2016-07-19 17:38] IntelOrca commented on #4122
@janisozaur are you going to fix this?

[2016-07-19 17:44] IntelOrca commented on #4119
Messages do not have priority, they are just a queued.

[2016-07-19 17:46] #3516 closed

[2016-07-19 17:47] IntelOrca commented on #3867
@liny-odell Does it still crash for you when you try to select OpenGL in the latest version?

[2016-07-19 17:50] Patrik356b commented on #3867
@Nubbie they are transparent by default but not as much afaik.

[2016-07-19 18:19] Christipher commented on #4094
yeah, this affects more coasters than mentioned, this also affects the Twister roller coaster, giga coaster, and Floorless Roller Coaster

[2016-07-19 18:27] Keatzee opened #4136 "Can't exit game"
**OS:** Ubuntu MATE 16.04
**Version:** 0.0.5
**Commit/Build:** 0c180b8

Any attempts to exit the game, either through the exit button on the main menu or the "Exit OpenRCT2" menu button while in-game, are unresponsive and throw this error message:
`WARNING[/home/travis/build/OpenRCT2/OpenRCT2/src/windows/save_prompt.c:124 (window_save_prompt_open)]: Invalid save prompt mode 3`

The only way to clo

[2016-07-19 19:11] janisozaur commented on #4136
what fun

[2016-07-19 19:15] janisozaur commented on #4122
no it doesn't

[2016-07-19 19:20] IntelOrca commented on #4122
Does it fail if you call `gfx_object_free_images` straight after the `calloc` with arguments 0, 324206 and if so why?

[2016-07-19 19:53] #4136 closed

[2016-07-19 19:59] mrtnptrs commented on #4119
@IntelOrca Well, it really looks like that. I will take a look if you are right.

[2016-07-19 20:08] Patrik356b commented on #3961
Tested again but further on commit 0c180b8 with the following results:

**Error Invalid Vehicle Type: **
- AutoMania (Automobile Cars)
- Cairngorm Bobsleds (Toboggan Cars)
- Crazy Cabs (Automobile Cars)
- Dream Chariots (Toboggan Cars)

**No error:**
- Supersonic (Automobile Cars)
- Raving Rockets (Rocket Cars)

Custom designs not tested*

Each time you move the ghost 1 tile the message is shown w

[2016-07-19 20:34] joshbgosh10592 opened #4139 "Windows first time firewall launch"
[Fill in the placeholders below. Delete any headings and placeholders that you do not fill in. Delete this line as well]

**OS:** [Windows 7]
**Version:** [0.0.5]
**Commit/Build:** [583372e]

Launching game/launcher on first time, where Windows 7's default firewall prompts to allow OpenRCT2 for network access (when trying to access multiplayer menu) causes game to crash. Relaunching resolves issue

[2016-07-19 20:38] mrtnptrs commented on #4135
@Patrik356b Then we have two things here:
-More tracked water and gentle rides could be added to the rollercoaster editor (up for discussion, but I agree with him.)
-Only one tab should be displayed, but multiple are displayed (or at least the tabs which contain nothing should be hidden). Bug.

[2016-07-19 20:53] #4139 closed

[2016-07-19 21:08] joshbgosh10592 commented on #4139
Dang that was quick. Thanks!

[2016-07-19 21:24] joshbgosh10592 opened #4140 "No commit/build number in Mac version"
**OS:** [Mac OS X 10.11.5]
**Version:** [0.0.5]
**Commit/Build:** [389ae72] (Pulling this from the Launcher, may be incorrect. However, this has been consistent with every update.

Mac version does not show build/commit number at bottom left corner. Makes reporting bugs with correct build number much more difficult.

- [ ] Reproducible in RCT2 (vanilla)?
- [ ] Multiplayer?

**Steps to reproduce:**

[2016-07-19 21:25] Nubbie commented on #4140
Are you running stable or developer version?

[2016-07-19 21:26] #4119 closed

[2016-07-19 21:29] joshbgosh10592 commented on #4140
Dev version, at least that's what's selected using the launcher (Branch: Develop)
I just recently started using the launcher on both my Windows (Server) and Mac (client), but this particular is only existing in the Mac version.

[2016-07-19 21:40] X123M3-256 commented on #4094
The pieces that show in the ride construction window depend on the current allowed track pieces, so I'm pretty sure this issue will be present on everything that supports both diagonals and a steep to flat piece (except the vertical drop coaster, since that actually has a diagonal steep to flat, though it's smaller than the normal one).

[2016-07-19 21:54] #3913 closed

[2016-07-19 22:17] marijnvdwerf commented on #4140
Can someone with Linux verify whether it's also like this on Linux? I can only find occurences of `OPENRCT2_COMMIT_SHA1` in the powershell files.

[2016-07-19 22:21] janisozaur commented on #4140
No, it's not set up. I thought there was an issue for that, but there isn't.

Anyway, if someone is to do that, can they also make it so the version (and the lot) is actual variable and not a define only? Otherwise `version.h` will cause constant recompiles by getting invalidated on each commit.

[2016-07-19 23:03] IntelOrca commented on #4140
For whoever does this, make sure you set the variables to the same macros, otherwise you will break the way Windows CI populates them. The variables can be called `gOpenRCT2CommitSha1` or something. Or make a version struct... `gVersion` with `CommitSHA1`.

[2016-07-20 00:45] RealRexen commented on #4135
Maybe rename it to Track Designer and add all the rides that have a custom track design. I mean why to I get to play a real scenario that has something that has a track design I want to design for? I mean sure I can make a sandbox scenario to help with but then you're limited to the amount rides you can have. And having a track designer would make it easier to design tracks because then you won't

[2016-07-20 02:54] birthdaybrian opened #4141 "Newcomers can't join my server"
Hey guys. I just got done talking to someone who is now hosting a server for people who couldn't join my server. He says that people are getting the message saying that they are missing things. I didn't use the expansion packs in my map, only custom contents like Amazing Earl's rides and some HP stuffs. I don't have firewall blocking OpenRCT2 and is port forwarded. I didn't get any messages in the

[2016-07-20 05:24] liny-odell commented on #3867
@IntelOrca no, it does not anymore. One thing I may suggest is see if the previous setting can be remembered and switch back to that instead of defaulting to software only.
Tested on version 389ae72

[2016-07-20 05:48] #3867 closed

[2016-07-20 16:18] Patrik356b opened #4142 "Suggestion: check object placement flag(s) and override if default is invalid"
It seems that one of the rct2 [UCES](http://rct.wikia.com/wiki/UCES) object files has an invalid flag/set of flags for placement.

I'm unable to construct this attraction in water, land or mixed, slope, no slope makes no difference.
[Can't construct this here]
Raising the ghost by 1 unit above ground height gives a "too high for supports" error message.

Could someone with better knowledge look in

[2016-07-20 17:04] Niels-NTG commented on #3974
This isn't unique to Windows. The same happend to me (Mac OS 10.11.5, Version 0.0.5). Sadly I can't find the log files from this crash.

[2016-07-20 17:05] #4141 closed

[2016-07-20 17:06] IntelOrca commented on #3974
@ThePsionic does this still happen?

[2016-07-20 18:04] Niels-NTG opened #4143 "Bigger arrows for value input boxes"
Rollercoaster Tycoon 2 is an phenomenal game in almost every way. Except the finicky UI. The UI definitely needs some work. Starting with those tiny 10 by 5 pixels sized buttons one uses to set the value of loans, entry fees, etc. I often still click the wrong up instead of down when changing a price and visa versa, especially with contemporary screen resolutions.

![schermafbeelding 2016-07-20 om

[2016-07-20 19:21] janisozaur commented on #4143
I like this idea, but until we do some heavy refactor of UI code, this would mean manually going into each window, recalculating these buttons and applying changes for each of the spinners.

In other words: this will have to wait a while.

[2016-07-20 19:28] Niels-NTG commented on #4143
Ah yes, that explains why I couldn't really find it in the code. Then again, I'm not that experienced with C.

While you're refactoring that part of the codebase, I've a number of other ideas related to improving the UI. I will make separate issues for each of them.

[2016-07-20 19:30] janisozaur commented on #4143
Please do.

This is how it roughly works right now: https://github.com/OpenRCT2/OpenRCT2/blob/a6d0e69/src/windows/park.c#L123-L125

[2016-07-20 19:37] marijnvdwerf commented on #4143
The proposed solution doesn't match up with default Windows nor macOS controls, which makes it more difficult to use because it's foreign. Also, this solution looks rather similar to the dropdowns already used in the game, making it perhaps more confusing.

I'd suggest either bigger controls in general, which will likely also solve this problem (especially if you make the clickable area extend a b

[2016-07-20 20:01] Niels-NTG commented on #4143
I can definitely see possible confusion with the dropdown menus. Here is a new mockup with this in mind:

![schermafbeelding 2016-07-20 om 19 11 55 3](https://cloud.githubusercontent.com/assets/6061595/17000946/400bf96e-4ec5-11e6-9366-087fe769ca4e.png)

[2016-07-20 20:34] Nubbie commented on #4143
@marijnvdwerf

_Are you trying to slip in something subliminal for OP or just talking about yourself now?_ :smile:

----
**No but for reals**, it would take a while to apply this for all windows, would make a bit more sense tho' as we actually have the size for it (the drop down lists often have a lot of empty space)

[2016-07-20 20:46] Liampie commented on #4143
I like how it currently is more than both of these proposals. Maybe these are easier to click but they're not as intuitive as the default up/down arrows. I think people are way more likely to press the wrong button with your proposed design.

But to be honest I've never had problems clicking these buttons. At least I can't recall it being an issue!

[2016-07-20 20:56] e-foley commented on #4143
We might also consider the RCT3-style "click the value and drag to change it" method.

[2016-07-20 21:27] Niels-NTG commented on #4143
Yes, I was thinking about that too. Didn't include it in my initial proposal because it might not fit RCT1/2 that wel. But it's worth trying. I will make a mockup tomorrow.

-----Oorspronkelijk bericht-----
Van: "Ed Foley" <notifications@github.com>
Verzonden: ‎20-‎7-‎2016 22:56
Aan: "OpenRCT2/OpenRCT2" <OpenRCT2@noreply.github.com>
CC: "Niels NTG" <NTG999@gmail.com>; "Author" <author@noreply.gith

[2016-07-21 02:57] ebm9000 commented on #4065
My apologies, as I responded directly to the email to reply but it never got here. This issue was solved a while ago, and me and janisozar talked on discord. Sorry for seeming ... Oh I don't know... Lazy.

[2016-07-21 02:58] #4065 closed

[2016-07-21 02:59] ebm9000 commented on #4065
Found out how to close this. :???

[2016-07-21 07:14] ThePsionic commented on #3974
Nope, not for a while at least.

[2016-07-21 07:20] #3974 closed

[2016-07-21 07:20] IntelOrca commented on #3973
@gyxzov does this still happen with the latest build?

[2016-07-21 14:02] mrtnptrs opened #4145 "Chance of scenery window getting messed up"
**OS:** Windows 10
**Version:** 0.0.5
**Commit/Build:** bc3ec7a

[Explanation of the issue...]
- [ ] Reproducible in RCT2 (vanilla)?
- [ ] Multiplayer?

**Steps to reproduce:**
1. I loaded my save today, there was nothing wrong with it yesterday.
2. Open the scenery selection window.
3. The tabs are all messed up: many are missing and a "?"-tab is added, containing many different objects. Seems li

[2016-07-21 16:53] duncanspumpkin commented on #4145
That save does not match the scenery window.

[2016-07-21 20:23] Patrik356b commented on #3961
Update: I got the same issue happening on crazy castle because picking a track with articulated trains but only the "wooden coaster trains" are in the drop-down list. Seems like it's not limited to a single scenario and might be the reason for #3953

[2016-07-21 21:25] Niels-NTG opened #4148 "Option to enable/disable Same Price Throughout park by default"
The title explains it basically. I see it as a checkbox under _Options_, tab _Miscellaneous_, [x] _Enabled Same Price Throughout park by default_.

When enabled every new ride placed that has _Same price throughout park_ option under the _Income and costs_ tab enabled by default. Rides that have placed while the option was disabled keep their existing setting.

[2016-07-21 21:42] Niels-NTG opened #4149 "Remove test mode from untestable rides"
This has been bothering me ever since RCT1. There are plenty of rides that have a test mode when it doesn't make sense they have one. It seems that currently all rides that require the input of peeps (any type of stall, Go-Karts, Spiral Slide, etc.) don't have a test mode. Rides that can operate autonomously, but can't be customised in any way that affects the _Measurements and test data_ (Haunted

[2016-07-21 21:45] mrtnptrs commented on #4145
@duncanspumpkin I know, the bug happend before i saved the game, but when I load the save myself, the bug seems to be gone. Looks like the object loading went wrong one time....

[2016-07-21 22:18] Patrik356b commented on #4145
I had this happen today on win8.1x64 on commit f6c8993 - closing and opening the scenery window again fixed it

[2016-07-21 23:08] AaronVanGeffen commented on #4149
While it doesn't affect gameplay in any real way, I don't see why you shouldn't be able to test the rides you mentioned. In a real park, such rides would be tested on occasion too, surely?

[2016-07-22 00:15] Patrik356b commented on #4149
Yes they would, but that is very different. Peeps are required to ride some rides for testing because they can not be tested otherwise. How would you test a gocart without anyone riding it?

[2016-07-22 02:58] e-foley commented on #4149
The only ride that has a test mode that shouldn't, in my opinion, is the Crooked House.  What is there to test?

I believe the other rides you mentioned should retain their test modes so that you can see the ratings impacts of the different settings (number of rotations, swings, etc.) without requiring riders to be subjected to them.  This is particularly useful for rides like the Top Spin where t

[2016-07-22 03:24] e-foley opened #4150 ""Lay-Down Roller Coaster" vs. "Lie-Down Roller Coaster""
Ever since vanilla, the game has used the name "Lay-Down" to describe a variety of roller coaster rather than "Lie-Down," which would be the grammatically correct option to describe a ride in which passengers are in a resting position.

This affects the Localisation repository as well, but I'm listing the issue here because so many labels in code use "lay" rather than "lie."  If we choose to chang

[2016-07-22 07:02] Niels-NTG commented on #4149
I suppose that makes sense @e-foley. The fact that I personally never change the settings on those rides doesn't mean they shouldn't have a test mode. Except Crooked House, Haunted House and Circus.

[2016-07-22 07:06] janisozaur commented on #4149
Before doing anything like that, such change should be consulted with NEDesigns guys.

@Liampie @GForceNE can we have your input?

[2016-07-22 07:15] Niels-NTG commented on #4111
I've also noticed that when opening non-toolbar windows (Ride, Visitor, Employee, etc.) get placed in a corner of the screen. Starting with the top left, then top right, bottom left and bottom right. Any more windows get placed right on top of the bottom right window. I would be nicer if windows stacked properly like so:

![url](https://cloud.githubusercontent.com/assets/6061595/17049223/4140e510-

[2016-07-22 08:32] IntelOrca commented on #4149
I don't personally see why we would want to change this or how it can be of any harm to anyone.

[2016-07-22 08:35] IntelOrca commented on #4111
The window system tries to find an empty cell in a 2x6 grid to place the new window. This is for some windows, other windows have a fixed position on the screen and some appear in the centre.

[2016-07-22 08:42] Niels-NTG commented on #4111
Is this logic derived from the original game? I can see how this system works just fine on the predefined set of resolutions the original game had. But since OpenRCT2 resolution is completely flexible it might be better to rethink this. Perhaps this can be solved by dynamically adapting this grid you mentioned by the currently game resolution.

[2016-07-22 08:43] IntelOrca commented on #4111
Yes

[2016-07-22 08:49] X123M3-256 commented on #4150
The ride is actually called a Flying Dutchman coaster, but RCT2 changed the name, possibly to avoid confusion with the B&M flyer. I wouldn't change it to lie-down coaster, as players will be familiar with the current name.

[2016-07-22 08:57] Niels-NTG commented on #4149
Yeah… Discussing it made me realise that this is just a non issue really.

[2016-07-22 08:57] #4149 closed

[2016-07-22 10:11] Misterk267 opened #4151 "Enhancement: Add missing water color- dependent colors into the color picker"
In RCT2, some of the colors that exist in the color picker (painting rides, adjusting staff uniform colors, etc.) change based on the color of the water for that particular scenario. For example, when water is normal, you have several shades of teal/blue, but when it is orange, those colors are replaced by several shades of neon orange. I am proposing that all of these "extra" colors be made avail

[2016-07-22 10:22] RealRexen commented on #4143
Maybe have an option to toggle between default style, +,- next to each, or RCT3 style

[2016-07-22 10:45] Niels-NTG commented on #4143
If you use a mouse, yes. But is quite irritating when using a touchpad. OpenRCT2 is quite a relaxing game I play while laying on the couch or commuting to work. Those aren't places you want to carry around a mouse.

[2016-07-22 10:54] Patrik356b commented on #4151
Will be possible later on. the current problem is the 256 color palette

[2016-07-22 10:54] Patrik356b commented on #4143
touch screen is also quite awkward to work with

[2016-07-22 11:57] Niels-NTG commented on #4143
Indeed. I think the key to making this game more accessible for non-mouse input is to, like @marijnvdwerf already suggested, make some elements in the UI bigger. Not just making these arrow buttons bigger. Also some more margin between window borders and lines of text would be nice. The UI is currently way too densely packed with typography. I will attempt to make a mockup of how this could potent

[2016-07-22 13:49] X123M3-256 commented on #4151
This can't be done without a move to 32bpp graphics. Water colors change the palette of the game - that's why everything water-colored gets changed, not just water. You cannot change some colors but not others - if you wanted to change the blue to an orange you can do that if you want to, but now you can't use the original blue in that park.

The water color objects can change colors besides those

[2016-07-22 18:31] #4050 closed

[2016-07-22 21:03] Nubbie opened #4152 "Extra save-file for dedicated servers"
The game is able to run in a dedicated mode via the command
[code]
But it has no way to load the latest autosave from a crashed game as it creates a file called 'autosave_%time%.sv6' with the time updated constantly (making it impossible as it doesn't have a static name)
I would like to have a checkbox that, when ticked, creates a extra save-file called 'DedicatedServer.sv6'
In that way, the dedic

[2016-07-22 21:07] janisozaur commented on #4152
Pointless, just load using the newest autosave:
[code]
You can add some filters to check for `sv6` and `autosave` as well.

[2016-07-22 21:07] #4152 closed

[2016-07-22 21:13] Nubbie commented on #4152
@janisozaur Just a bit too dumb to know the full command to do that :U

This is all I understand..
[code]

[2016-07-23 00:41] wolfreak99 commented on #4128
"But as a temporary workaround a changing-name-limit could work and that the host checks the client if he did the check correctly (like changing his name in one game for maximum 1 time or something to force the user to choose a good name) when he changed his name and if not: get kicked out. "

You're onto something. I am against the idea of completely blocking out changing names (as when i'm hosti

[2016-07-23 12:26] IntelOrca opened #4156 "Permission denied for autosave in multiplayer"
**OS:** Windows 10
**Version:** 0.0.5
**Commit/Build:** 306cf2383c37987db4b4b0c51ec4b2aaf59c9b21

In multiplayer, when a client autosaves, a permission denied error box is shown. Saving should not send a command to the server and visa versa.

[2016-07-23 12:33] Nubbie commented on #4156
Have been wondering why it popped up all the time, if happen from some months ago

[2016-07-23 12:40] mrtnptrs commented on #4156
Duplicate of #3833 :)

[2016-07-23 12:41] #4156 closed

[2016-07-23 13:17] ebm9000 opened #4157 "All servers lead to assertion failures when attempting to join ."
People keep complaining and the issue is solved.

[2016-07-23 13:33] Gymnasiast commented on #4157
Put a proper description next time and not something silly like now.

[2016-07-23 13:36] Nubbie commented on #4157
**To Devs;**
Have seen it in recent dump files

This is what I got from the dump file OP provided, 800e1a02-6d6a-4af6-b472-4e37a0e35cf8(576132d).dmp

**Error Message:**
Unhandled exception at 0x68737315 (openrct2.dll) in 800e1a02-6d6a-4af6-b472-4e37a0e35cf8(576132d).dmp: 0xC0000005: Access violation writing location 0x00000000.

**Call stack:**
[code]

**Locals:**
[code]

[2016-07-23 14:02] IntelOrca commented on #1968
Fixed by 306cf2383c37987db4b4b0c51ec4b2aaf59c9b21

[2016-07-23 14:22] ebm9000 commented on #4157
Silly? How? I put a proper description by stating the issue and how to reproduce it. Not sure what your definition of proper is...

[2016-07-23 15:13] Superjustinbros opened #4158 "If a track is built on high land, design cannot be saved with scenery"
If you build a track on land upwards to 300 ft, the game will give you an error message if you try to save the design with scenery.

[2016-07-23 15:24] Niels-NTG opened #4159 "Better screenshot filenames"
Currently (that's build c3f3667 for me) screenshots, normal or giant, are saved as `SCR__n.png` (where __n is a sequential number). This isn't that great if you want to find a particular screenshot later on. I think this can be easily fixed by using the following file name pattern: `save file name` + ` ` + `YYYY-MM-DD hh-mm-ss` + `.png`. So for example: `Bumbly Beach 2016-06-23 17-23-02.png`.

[2016-07-23 15:48] Nubbie commented on #4157
What he means is that the title you provided is something that didn't explain the problem very well, there are so many issues here on Github and we would appreciate if we only had to watch the title to get a good understanding about the topic/problem

[2016-07-23 16:28] #4157 closed

[2016-07-23 19:53] WhenPenguinsAttack opened #4160 "Feature: Logging User Actions"
Last night on the Man of Teal server, I saw someone deleting rides, and immediately building scenery afterwards to avoid people detecting him.  Although I pointed it out and drove him off, it would be nice for server hosts and mods to have access to a log of user actions, to monitor users when they're away.

[2016-07-23 20:52] #3987 closed

[2016-07-23 21:08] Gymnasiast commented on #4055
It is still irritating to find that out after you have built the track. Also, the Hyper-Twister cars at least contain code to block it from opening when you use inversions whereas (for example) a Cheshire Cats will happily open, only to glitch on the steep slopes (log bumps work fine but look a bit silly with Cheshire Cats ;) ).

[2016-07-23 21:12] janisozaur commented on #1411
Doesn't seem to happen anymore as of 418eb06

[2016-07-23 21:12] #1411 closed

[2016-07-23 21:23] RealRexen opened #4162 "scenario_initial_cash command seems to be missing"
the wiki page https://github.com/OpenRCT2/OpenRCT2/wiki/Console says scenario_initial_cash  is a command but yet the console says its not a valid command.

Build is 0.0.5 418eb06
![20160723172217_1](https://cloud.githubusercontent.com/assets/18408903/17080363/12ef82e8-50fa-11e6-94c6-3fabd142a642.jpg)

[2016-07-23 21:30] janisozaur commented on #4162
it's most likely an argument to `set`, can you check?

[2016-07-23 22:00] Nubbie commented on #4162
@RealRexen It's a set command so type in 'Set' before it

[2016-07-24 00:32] zsilencer commented on #1968
i still receive a desync

[2016-07-24 01:34] RealRexen commented on #4162
Ah thanks it works. The wiki didn't make it clear or something like that

[2016-07-24 04:06] BoomDuple opened #4164 "Keep on crashing on OpenRCT2 0.0.5"
**OS:** [Windows 7 SP1]
**Version:** [0.0.5]
**Commit/Build:** [55ec765]

I keep on crashing after installing OpenRCT2 on RCT2 and cant boot and leaves a dump file
Here is a dialog while starting up,
"Scanning 2190 objects...
1KHFRUIC Error: Bad image table.
1KHFRUIC Error; Unexpectedly reached end of file.
Error reading object: 'C:\Program Files (x86)\OpenRCT2\ObjData\1KHFRUIC.dat
ASFOUNT Error:

[2016-07-24 07:39] janisozaur commented on #1968
@zsilencer without any interaction?

[2016-07-24 09:59] mrtnptrs commented on #4113
The same problem also occurs when you use the "no money"-park parameter. Does #4124 fix that problem too?

[2016-07-24 10:03] mrtnptrs commented on #4164
Please delete 1KHFRUIC.dat from C:\Program Files (x86)\OpenRCT2\ObjData\1KHFRUIC.dat and maybe also from ObjData folder of your RCT2 vanilla installation. We probably are dealing with a corrupted object file, which is causing the game to crash.

[2016-07-24 10:37] #4164 closed

[2016-07-24 11:18] zsilencer commented on #1968
Yeah try running a map with things in it at 16x speed for like an hour it will desync still with no input

[2016-07-24 11:21] IntelOrca commented on #1968
I ran MM for two hours and I didn't get a desync.

[2016-07-24 11:22] janisozaur commented on #1968
I'll keep looking then

[2016-07-24 11:23] janisozaur commented on #1968
@zsilencer can you send a map you used for testing and post relevant info? how many clients, if you rejoined, your system etc?

[2016-07-24 12:39] RealRexen opened #4168 "Refresh Ride ratings"
Sometimes I build a ride first test it, and look at the ratings. Then I built scenery around the ride. However because the ride already got its ratings when I first test it I would have to do something to the ride it self to cause it to reset the ratings such as change the vehicle or amount of trains/vehicle.  What I would like is a button that tells the game that the ride has been "updated" and n

[2016-07-24 12:54] IntelOrca commented on #4168
The game constantly loops over every ride updating its ratings, you don't need to force it to refresh.

[2016-07-24 12:54] #4168 closed

[2016-07-24 13:35] mrtnptrs opened #4169 "No message box appearing after you made a screenshot in-game"
**OS:** Windows 10
**Version:** 0.0.5
**Commit/Build:** 291667d

- [ ] Reproducible in RCT2 (vanilla)? (Vanilla RCT2 did it correctly)
- [ ] Multiplayer?

**Steps to reproduce:**
1. Make a screenshot in-game.
2. You see not red message box appear saying whether the screenshot was made or there was an error and what the file name of the screenshot is. When you make a giant screenshot, this works pe

[2016-07-24 13:40] IntelOrca commented on #4169
I removed it because if you take several screenshots consecutively the error box from the last one appears in the screenshot.

[2016-07-24 13:40] #4169 closed

[2016-07-24 13:41] Niels-NTG commented on #4169
A good sound effect and/or a subtle visual effect would be a better solution.

[2016-07-24 14:02] mrtnptrs commented on #4169
I agree with @Niels-NTG

[2016-07-24 14:03] Niels-NTG commented on #4169
You could trigger the lighting flash weather effect when taking a screenshot.

[2016-07-24 14:23] mrtnptrs commented on #4169
What do you think @IntelOrca ?

[2016-07-24 14:37] IntelOrca commented on #4169
I don't know

[2016-07-24 14:44] Patrik356b commented on #4169
maybe make yellow text like the floating price tag saying "saved screenshot xyz.png"

[2016-07-24 14:46] mrtnptrs commented on #4169
@Patrik356b not a good idea: the same reason as why @IntelOrca  removed the error box when you made a screenshot: you can see it in the next screenshot

[2016-07-24 14:48] Patrik356b commented on #4169
hence the maybe. I didn't know those would show up too on the screenshots

[2016-07-24 14:52] Niels-NTG commented on #4169
`audio_play_sound(SOUND_QUACK, 100, gScreenWidth / 2);`? 😉

[2016-07-24 14:57] Niels-NTG commented on #4169
Ok seriously…
`audio_play_sound(SOUND_WINDOW_OPEN, 100, gScreenWidth / 2);` feels actually quite fitting.